examples/telemetry/altitude-speed.json
[
    {
        "id": "altitude_speed_flow",
        "type": "tab",
        "label": "MAVLink: Flight Data Gauges",
        "disabled": false,
        "info": "Real-time altitude, speed, and heading display.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "filter_vfr_hud",
        "type": "switch",
        "z": "altitude_speed_flow",
        "name": "Filter VFR_HUD",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "VFR_HUD", "vt": "str"}
        ],
        "outputs": 1,
        "x": 200,
        "y": 100,
        "wires": [["parse_vfr_hud"]]
    },
    {
        "id": "filter_global_pos",
        "type": "switch",
        "z": "altitude_speed_flow",
        "name": "Filter GLOBAL_POSITION_INT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 230,
        "y": 200,
        "wires": [["parse_global_pos"]]
    },
    {
        "id": "parse_vfr_hud",
        "type": "function",
        "z": "altitude_speed_flow",
        "name": "Parse VFR_HUD",
        "func": "// VFR_HUD provides flight data in a compact format\nconst vfr = msg.payload;\n\nif (!vfr) return null;\n\n// Extract flight data\nconst airspeed = vfr.airspeed || 0;           // m/s\nconst groundspeed = vfr.groundspeed || 0;     // m/s\nconst altitude = vfr.alt || 0;                // meters MSL\nconst climb = vfr.climb || 0;                 // m/s vertical speed\nconst heading = vfr.heading || 0;             // degrees\nconst throttle = vfr.throttle || 0;           // 0-100%\n\n// Convert speeds to km/h for display\nconst airspeedKmh = (airspeed * 3.6).toFixed(1);\nconst groundspeedKmh = (groundspeed * 3.6).toFixed(1);\n\n// Climb rate with direction indicator\nconst climbRate = climb.toFixed(1);\nconst climbIndicator = climb > 0.5 ? '↑' : (climb < -0.5 ? '↓' : '→');\nconst climbColor = climb > 0.5 ? 'green' : (climb < -0.5 ? 'orange' : 'gray');\n\nreturn [\n    { payload: altitude.toFixed(1), topic: 'flight/altitude' },\n    { payload: airspeedKmh, topic: 'flight/airspeed' },\n    { payload: groundspeedKmh, topic: 'flight/groundspeed' },\n    { payload: climbRate, topic: 'flight/climb', indicator: climbIndicator, color: climbColor },\n    { payload: heading, topic: 'flight/heading' },\n    { payload: throttle, topic: 'flight/throttle' }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            ["ui_altitude", "altitude_chart"],
            ["ui_airspeed"],
            ["ui_groundspeed"],
            ["ui_climb"],
            ["ui_heading"],
            ["ui_throttle"]
        ]
    },
    {
        "id": "parse_global_pos",
        "type": "function",
        "z": "altitude_speed_flow",
        "name": "Parse Relative Altitude",
        "func": "// GLOBAL_POSITION_INT provides relative altitude (from home)\nconst pos = msg.payload;\n\nif (!pos) return null;\n\n// Relative altitude (mm to m)\nconst relativeAlt = pos.relative_alt ? pos.relative_alt / 1000 : 0;\n\nreturn { \n    payload: relativeAlt.toFixed(1), \n    topic: 'flight/relative_altitude' \n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [["ui_relative_alt"]]
    },
    {
        "id": "ui_altitude",
        "type": "ui_gauge",
        "z": "altitude_speed_flow",
        "name": "Altitude MSL",
        "group": "flight_group",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Altitude (MSL)",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "100",
        "seg2": "400",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_relative_alt",
        "type": "ui_gauge",
        "z": "altitude_speed_flow",
        "name": "Altitude AGL",
        "group": "flight_group",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Altitude (AGL)",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "50",
        "seg2": "150",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_airspeed",
        "type": "ui_text",
        "z": "altitude_speed_flow",
        "group": "flight_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Airspeed",
        "label": "Airspeed",
        "format": "{{msg.payload}} km/h",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_groundspeed",
        "type": "ui_text",
        "z": "altitude_speed_flow",
        "name": "Groundspeed",
        "group": "flight_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "label": "Groundspeed",
        "format": "{{msg.payload}} km/h",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui_climb",
        "type": "ui_text",
        "z": "altitude_speed_flow",
        "group": "flight_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Climb Rate",
        "label": "Climb Rate",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.indicator}} {{msg.payload}} m/s</span>",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_heading",
        "type": "ui_gauge",
        "z": "altitude_speed_flow",
        "name": "Heading",
        "group": "flight_group",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Heading",
        "label": "°",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "120",
        "seg2": "240",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_throttle",
        "type": "ui_gauge",
        "z": "altitude_speed_flow",
        "name": "Throttle",
        "group": "flight_group",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Throttle",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "30",
        "seg2": "70",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "altitude_chart",
        "type": "ui_chart",
        "z": "altitude_speed_flow",
        "name": "Altitude History",
        "group": "flight_group",
        "order": 8,
        "width": 6,
        "height": 4,
        "label": "Altitude Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "altitude_speed_flow",
        "name": "Flight Data - Wire mavlink-comms output to BOTH filter nodes",
        "info": "## Flight Data Gauges Dashboard\n\nComprehensive flight data display with real-time updates.\n\n### Setup:\n1. Wire mavlink-comms output to BOTH filter nodes:\n   - Filter VFR_HUD\n   - Filter GLOBAL_POSITION_INT\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### Flight Data Displayed:\n\n**Altitude MSL** (Mean Sea Level)\n- Absolute altitude above sea level\n- From VFR_HUD message\n- Useful for terrain clearance\n\n**Altitude AGL** (Above Ground Level)\n- Relative altitude from takeoff point\n- From GLOBAL_POSITION_INT message\n- Your actual flight height\n\n**Airspeed**\n- Speed through air (what aircraft feels)\n- Important for fixed-wing aircraft\n- Converted from m/s to km/h\n\n**Groundspeed**\n- Speed over ground (GPS speed)\n- Affected by wind\n- Actual travel speed\n\n**Climb Rate**\n- Vertical speed (up/down)\n- ↑ = Climbing (green)\n- ↓ = Descending (orange)\n- → = Level flight (gray)\n\n**Heading**\n- Compass direction (0-360°)\n- 0° = North, 90° = East, etc.\n- Displayed as compass gauge\n\n**Throttle**\n- Current throttle percentage\n- 0% = idle, 100% = full power\n\n**Altitude History Chart**\n- Last 5 minutes of altitude data\n- Shows climb/descent trends\n- Helps identify altitude hold issues\n\n### Understanding the Data:\n\n**Altitude Difference:**\n- MSL > AGL = You're above sea level\n- Example: MSL=500m, AGL=50m = Takeoff at 450m elevation\n\n**Speed Difference:**\n- Airspeed > Groundspeed = Headwind\n- Airspeed < Groundspeed = Tailwind\n- Airspeed = Groundspeed = No wind\n\n**Climb Rate:**\n- Positive = Climbing\n- Negative = Descending  \n- Zero = Level flight or hovering\n\n### Customization:\n\n**Altitude Gauge Range:**\nEdit `ui_altitude` max value based on your flight ceiling:\n- Multirotor: 100-200m typical\n- Fixed-wing: 500-1000m typical\n\n**Speed Units:**\nEdit parse_vfr_hud function:\n- km/h: multiply by 3.6 (current)\n- mph: multiply by 2.237\n- knots: multiply by 1.944\n\n**Chart History:**\nEdit `altitude_chart` removeOlder:\n- \"1\" = 1 minute\n- \"5\" = 5 minutes (current)\n- \"60\" = 1 hour\n\n### Troubleshooting:\n\n**No altitude data:**\n- Check VFR_HUD messages arriving (1Hz typical)\n- Verify GPS has 3D fix\n- ArduPilot sends VFR_HUD after GPS lock\n\n**Altitude jumps around:**\n- Normal during GPS acquisition\n- Check barometer calibration\n- Wind can affect altitude hold\n\n**Airspeed always zero:**\n- Most multirotors don't have airspeed sensor\n- Normal for GPS-only navigation\n- Fixed-wing shows real airspeed\n\n### Requirements:\n- node-red-dashboard installed\n- VFR_HUD messages (1Hz)\n- GLOBAL_POSITION_INT messages (5Hz typical)\n- GPS must have 3D fix for accurate data",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "flight_group",
        "type": "ui_group",
        "name": "Flight Data",
        "tab": "telemetry_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "telemetry_tab",
        "type": "ui_tab",
        "name": "Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
