examples/telemetry/battery-gauge.json
[
    {
        "id": "battery_flow",
        "type": "tab",
        "label": "MAVLink: Battery Monitor",
        "disabled": false,
        "info": "Battery monitoring with low battery alerts.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "filter_battery",
        "type": "switch",
        "z": "battery_flow",
        "name": "Filter SYS_STATUS",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 100,
        "wires": [["parse_battery"]]
    },
    {
        "id": "parse_battery",
        "type": "function",
        "z": "battery_flow",
        "name": "Parse Battery Data",
        "func": "// SYS_STATUS message\nconst sys = msg.payload;\n\nif (!sys) {\n    return null;\n}\n\n// Extract battery data\nconst batteryPercent = sys.battery_remaining || 0;  // 0-100%\nconst voltage = sys.voltage_battery ? sys.voltage_battery / 1000 : 0;  // Convert mV to V\nconst current = sys.current_battery ? sys.current_battery / 100 : 0;  // Convert cA to A\n\n// Calculate battery color\nlet color = 'green';\nif (batteryPercent < 20) {\n    color = 'red';\n} else if (batteryPercent < 30) {\n    color = 'orange';\n} else if (batteryPercent < 50) {\n    color = 'yellow';\n}\n\n// Low battery alert\nconst lowBatteryAlert = batteryPercent < 20;\n\nreturn [\n    { payload: batteryPercent, topic: 'battery/percent' },\n    { payload: voltage.toFixed(2), topic: 'battery/voltage' },\n    { payload: current.toFixed(2), topic: 'battery/current' },\n    { payload: color, topic: 'battery/color' },\n    lowBatteryAlert ? { payload: `⚠️ LOW BATTERY: ${batteryPercent}% (${voltage.toFixed(1)}V)` } : null\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            ["ui_battery_percent"],
            ["ui_voltage"],
            ["ui_current"],
            [],
            ["low_battery_alert"]
        ]
    },
    {
        "id": "ui_battery_percent",
        "type": "ui_gauge",
        "z": "battery_flow",
        "name": "Battery Percentage",
        "group": "battery_group",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Battery",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "20",
        "seg2": "50",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_voltage",
        "type": "ui_text",
        "z": "battery_flow",
        "group": "battery_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_current",
        "type": "ui_text",
        "z": "battery_flow",
        "group": "battery_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Current",
        "label": "Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "low_battery_alert",
        "type": "ui_toast",
        "z": "battery_flow",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "⚠️ LOW BATTERY",
        "name": "Low Battery Alert",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_battery",
        "type": "debug",
        "z": "battery_flow",
        "name": "Battery Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "battery_flow",
        "name": "Battery Monitor - Wire mavlink-comms output to 'Filter SYS_STATUS' node",
        "info": "## Battery Monitor Dashboard\n\nReal-time battery monitoring with automatic low battery alerts.\n\n### Setup:\n1. Wire mavlink-comms output → 'Filter SYS_STATUS' node\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### What it Shows:\n- **Battery Percentage** - Remaining capacity (0-100%)\n- **Voltage** - Current battery voltage\n- **Current** - Current draw in amps\n\n### Alert Thresholds:\n- **Critical (Red)**: <20% - Return to launch NOW!\n- **Warning (Orange)**: 20-30% - Start heading back\n- **Caution (Yellow)**: 30-50% - Monitor closely\n- **Good (Green)**: >50% - All good!\n\n### Low Battery Alert:\nWhen battery drops below 20%, a toast notification appears on the dashboard.\n\n### Customization:\nEdit the parse_battery function to change:\n- Alert threshold (default 20%)\n- Color thresholds\n- Add sound alerts\n- Send email/SMS notifications\n\n### Safety Tips:\n- Land before 20% when possible\n- Account for return trip + landing reserve\n- Cold weather reduces capacity\n- High current draw (acro, wind) depletes faster\n- Never fully drain LiPo batteries!\n\n### Requirements:\n- node-red-dashboard installed\n- SYS_STATUS messages from drone (1Hz typically)",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "battery_group",
        "type": "ui_group",
        "name": "Battery",
        "tab": "telemetry_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "telemetry_tab",
        "type": "ui_tab",
        "name": "Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
