examples/telemetry/comprehensive-telemetry.json
[
    {
        "id": "comprehensive_flow",
        "type": "tab",
        "label": "MAVLink: Comprehensive Telemetry",
        "disabled": false,
        "info": "Complete telemetry dashboard with flight data, battery, attitude, GPS, vibration, ESC, terrain, and system health.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "comprehensive_flow",
        "name": "Comprehensive Telemetry Dashboard - Wire mavlink-comms output to 'Message Router' node",
        "info": "## Comprehensive Telemetry Dashboard\n\nAll-in-one telemetry display combining:\n- Flight Data (altitude, speed, heading)\n- Battery Monitoring (voltage, current, power)\n- Attitude (roll, pitch, yaw)\n- GPS & Navigation\n- Vibration Analysis\n- ESC Telemetry (all 4 ESCs)\n- Terrain & Environment\n- System Health (EKF, power)\n\n### Setup:\n1. Wire mavlink-comms output → 'Message Router' node\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### Requirements:\n- node-red-dashboard installed\n- MAVLink messages from drone/simulator",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "msg_router",
        "type": "switch",
        "z": "comprehensive_flow",
        "name": "Message Router",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "VFR_HUD", "vt": "str"},
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"},
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"},
            {"t": "eq", "v": "BATTERY_STATUS", "vt": "str"},
            {"t": "eq", "v": "ATTITUDE", "vt": "str"},
            {"t": "eq", "v": "GPS_RAW_INT", "vt": "str"},
            {"t": "eq", "v": "VIBRATION", "vt": "str"},
            {"t": "eq", "v": "ESC_TELEMETRY_1_TO_4", "vt": "str"},
            {"t": "eq", "v": "TERRAIN_REPORT", "vt": "str"},
            {"t": "eq", "v": "EKF_STATUS_REPORT", "vt": "str"},
            {"t": "eq", "v": "WIND", "vt": "str"},
            {"t": "eq", "v": "POWER_STATUS", "vt": "str"},
            {"t": "eq", "v": "NAV_CONTROLLER_OUTPUT", "vt": "str"},
            {"t": "eq", "v": "SCALED_PRESSURE", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 14,
        "x": 180,
        "y": 400,
        "wires": [
            ["parse_vfr_hud"],
            ["parse_global_pos"],
            ["parse_sys_status"],
            ["parse_battery_status"],
            ["parse_attitude"],
            ["parse_gps"],
            ["parse_vibration"],
            ["parse_esc"],
            ["parse_terrain"],
            ["parse_ekf"],
            ["parse_wind"],
            ["parse_power"],
            ["parse_nav"],
            ["parse_pressure"]
        ]
    },
    {
        "id": "parse_vfr_hud",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse VFR_HUD",
        "func": "const vfr = msg.payload;\nif (!vfr) return null;\n\nconst airspeed = vfr.airspeed || 0;\nconst groundspeed = vfr.groundspeed || 0;\nconst altitude = vfr.alt || 0;\nconst climb = vfr.climb || 0;\nconst heading = vfr.heading || 0;\nconst throttle = vfr.throttle || 0;\n\nconst airspeedKmh = (airspeed * 3.6).toFixed(1);\nconst groundspeedKmh = (groundspeed * 3.6).toFixed(1);\nconst climbRate = climb.toFixed(1);\nconst climbIndicator = climb > 0.5 ? '↑' : (climb < -0.5 ? '↓' : '→');\nconst climbColor = climb > 0.5 ? 'green' : (climb < -0.5 ? 'orange' : 'gray');\n\nreturn [\n    { payload: altitude.toFixed(1), topic: 'flight/altitude' },\n    { payload: airspeedKmh, topic: 'flight/airspeed' },\n    { payload: groundspeedKmh, topic: 'flight/groundspeed' },\n    { payload: climbRate, topic: 'flight/climb', indicator: climbIndicator, color: climbColor },\n    { payload: heading, topic: 'flight/heading' },\n    { payload: throttle, topic: 'flight/throttle' }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            ["ui_altitude", "altitude_chart"],
            ["ui_airspeed"],
            ["ui_groundspeed"],
            ["ui_climb"],
            ["ui_heading"],
            ["ui_throttle"]
        ]
    },
    {
        "id": "parse_global_pos",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse GLOBAL_POSITION_INT",
        "func": "const pos = msg.payload;\nif (!pos) return null;\n\nconst relativeAlt = pos.relative_alt ? pos.relative_alt / 1000 : 0;\n\nreturn { payload: relativeAlt.toFixed(1), topic: 'flight/relative_altitude' };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 460,
        "y": 150,
        "wires": [["ui_relative_alt"]]
    },
    {
        "id": "parse_sys_status",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse SYS_STATUS",
        "func": "const sys = msg.payload;\nif (!sys) return null;\n\nconst batteryPercent = sys.battery_remaining || 0;\nconst voltage = sys.voltage_battery ? sys.voltage_battery / 1000 : 0;\nconst current = sys.current_battery ? sys.current_battery / 100 : 0;\nconst power = (voltage * current).toFixed(1);\n\nconst lowBatteryAlert = batteryPercent < 20;\n\nreturn [\n    { payload: batteryPercent, topic: 'battery/percent' },\n    { payload: voltage.toFixed(2), topic: 'battery/voltage' },\n    { payload: current.toFixed(2), topic: 'battery/current' },\n    { payload: power, topic: 'battery/power' },\n    lowBatteryAlert ? { payload: `⚠️ LOW BATTERY: ${batteryPercent}% (${voltage.toFixed(1)}V)` } : null\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            ["ui_battery_percent"],
            ["ui_battery_voltage"],
            ["ui_battery_current"],
            ["ui_battery_power"],
            ["low_battery_alert"]
        ]
    },
    {
        "id": "parse_battery_status",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse BATTERY_STATUS",
        "func": "const bat = msg.payload;\nif (!bat) return null;\n\n// Temperature (if available)\nconst temp = bat.temperature !== 32767 ? (bat.temperature / 100).toFixed(1) : 'N/A';\n\n// Cell voltages (first 6 cells)\nconst cells = [];\nfor (let i = 0; i < 6 && i < (bat.voltages?.length || 0); i++) {\n    if (bat.voltages[i] !== 65535) {\n        cells.push((bat.voltages[i] / 1000).toFixed(2));\n    }\n}\n\nconst cellsText = cells.length > 0 ? cells.join('V, ') + 'V' : 'N/A';\n\nreturn [\n    { payload: temp, topic: 'battery/temperature' },\n    { payload: cellsText, topic: 'battery/cells' }\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 250,
        "wires": [
            ["ui_battery_temp"],
            ["ui_battery_cells"]
        ]
    },
    {
        "id": "parse_attitude",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse ATTITUDE",
        "func": "const att = msg.payload;\nif (!att) return null;\n\n// Convert radians to degrees\nconst roll = (att.roll * 180 / Math.PI).toFixed(1);\nconst pitch = (att.pitch * 180 / Math.PI).toFixed(1);\nconst yaw = (att.yaw * 180 / Math.PI).toFixed(1);\n\nreturn [\n    { payload: roll, topic: 'attitude/roll' },\n    { payload: pitch, topic: 'attitude/pitch' },\n    { payload: yaw, topic: 'attitude/yaw' }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            ["ui_roll"],
            ["ui_pitch"],
            ["ui_yaw"]
        ]
    },
    {
        "id": "parse_gps",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse GPS_RAW_INT",
        "func": "const gps = msg.payload;\nif (!gps) return null;\n\nconst sats = gps.satellites_visible || 0;\nconst fixType = gps.fix_type || 0;\nconst eph = gps.eph !== 65535 ? (gps.eph / 100).toFixed(1) : 'N/A';\nconst epv = gps.epv !== 65535 ? (gps.epv / 100).toFixed(1) : 'N/A';\n\nconst fixNames = ['No Fix', 'No Fix', '2D Fix', '3D Fix', 'DGPS', 'RTK Float', 'RTK Fixed'];\nconst fixName = fixNames[fixType] || 'Unknown';\nconst fixColor = fixType >= 3 ? 'green' : (fixType === 2 ? 'yellow' : 'red');\n\nreturn [\n    { payload: sats, topic: 'gps/satellites' },\n    { payload: fixName, topic: 'gps/fix_type', color: fixColor },\n    { payload: eph, topic: 'gps/eph' },\n    { payload: epv, topic: 'gps/epv' }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 440,
        "y": 350,
        "wires": [
            ["ui_gps_sats"],
            ["ui_gps_fix"],
            ["ui_gps_eph"],
            ["ui_gps_epv"]
        ]
    },
    {
        "id": "parse_vibration",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse VIBRATION",
        "func": "const vib = msg.payload;\nif (!vib) return null;\n\nconst vibX = vib.vibration_x ? vib.vibration_x.toFixed(2) : '0.00';\nconst vibY = vib.vibration_y ? vib.vibration_y.toFixed(2) : '0.00';\nconst vibZ = vib.vibration_z ? vib.vibration_z.toFixed(2) : '0.00';\n\nconst clip0 = vib.clipping_0 || 0;\nconst clip1 = vib.clipping_1 || 0;\nconst clip2 = vib.clipping_2 || 0;\n\n// Warning if any clipping detected\nconst clipping = clip0 + clip1 + clip2;\nconst clippingStatus = clipping > 0 ? `⚠️ ${clipping} clips` : '✓ OK';\nconst clippingColor = clipping > 0 ? 'red' : 'green';\n\nreturn [\n    { payload: vibX, topic: 'vibration/x' },\n    { payload: vibY, topic: 'vibration/y' },\n    { payload: vibZ, topic: 'vibration/z' },\n    { payload: clippingStatus, topic: 'vibration/clipping', color: clippingColor }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            ["ui_vib_x"],
            ["ui_vib_y"],
            ["ui_vib_z"],
            ["ui_vib_clipping"]
        ]
    },
    {
        "id": "parse_esc",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse ESC_TELEMETRY_1_TO_4",
        "func": "const esc = msg.payload;\nif (!esc) return null;\n\n// Extract temperature if available\nconst temp = esc.temperature || [];\nconst voltage = esc.voltage || [];\nconst current = esc.current || [];\nconst rpm = esc.rpm || [];\n\n// Format data for each ESC (up to 4)\nconst escData = [];\nfor (let i = 0; i < 4; i++) {\n    const escInfo = {\n        id: i + 1,\n        rpm: rpm[i] || 0,\n        voltage: voltage[i] ? (voltage[i] / 100).toFixed(2) : '0.00',\n        current: current[i] ? (current[i] / 100).toFixed(2) : '0.00',\n        temp: temp[i] ? temp[i] : 'N/A'\n    };\n    escData.push(escInfo);\n}\n\n// Return formatted text for each ESC\nreturn escData.map(esc => ({\n    payload: `ESC${esc.id}: ${esc.rpm}RPM | ${esc.voltage}V | ${esc.current}A | ${esc.temp}°C`,\n    topic: `esc/${esc.id}`\n}));",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 450,
        "wires": [
            ["ui_esc1"],
            ["ui_esc2"],
            ["ui_esc3"],
            ["ui_esc4"]
        ]
    },
    {
        "id": "parse_terrain",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse TERRAIN_REPORT",
        "func": "const terrain = msg.payload;\nif (!terrain) return null;\n\nconst terrainHeight = terrain.terrain_height ? terrain.terrain_height.toFixed(1) : '0.0';\nconst currentHeight = terrain.current_height ? terrain.current_height.toFixed(1) : '0.0';\nconst pending = terrain.pending || 0;\nconst loaded = terrain.loaded || 0;\n\nconst status = pending === 0 ? '✓ Ready' : `⏳ Loading (${pending})`;\nconst statusColor = pending === 0 ? 'green' : 'orange';\n\nreturn [\n    { payload: terrainHeight, topic: 'terrain/height' },\n    { payload: currentHeight, topic: 'terrain/clearance' },\n    { payload: status, topic: 'terrain/status', color: statusColor },\n    { payload: loaded, topic: 'terrain/loaded' }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            ["ui_terrain_height"],
            ["ui_terrain_clearance"],
            ["ui_terrain_status"],
            ["ui_terrain_loaded"]
        ]
    },
    {
        "id": "parse_ekf",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse EKF_STATUS_REPORT",
        "func": "const ekf = msg.payload;\nif (!ekf) return null;\n\nconst flags = ekf.flags || 0;\n\n// EKF flags (bit mask)\nconst attitudeOk = (flags & 0x01) !== 0;\nconst velocityHorizOk = (flags & 0x02) !== 0;\nconst velocityVertOk = (flags & 0x04) !== 0;\nconst posHorizRelOk = (flags & 0x08) !== 0;\nconst posHorizAbsOk = (flags & 0x10) !== 0;\nconst posVertAbsOk = (flags & 0x20) !== 0;\nconst posVertAglOk = (flags & 0x40) !== 0;\nconst constPosMode = (flags & 0x80) !== 0;\nconst predPosHorizRelOk = (flags & 0x100) !== 0;\nconst predPosHorizAbsOk = (flags & 0x200) !== 0;\n\n// Overall health\nconst healthyFlags = [attitudeOk, velocityHorizOk, velocityVertOk, posHorizAbsOk, posVertAbsOk].filter(Boolean).length;\nconst totalFlags = 5;\nconst healthPercent = (healthyFlags / totalFlags * 100).toFixed(0);\nconst healthStatus = healthPercent >= 80 ? '✓ Healthy' : (healthPercent >= 60 ? '⚠️ Degraded' : '❌ Poor');\nconst healthColor = healthPercent >= 80 ? 'green' : (healthPercent >= 60 ? 'orange' : 'red');\n\n// Variances\nconst velVar = ekf.velocity_variance ? ekf.velocity_variance.toFixed(3) : 'N/A';\nconst posHorizVar = ekf.pos_horiz_variance ? ekf.pos_horiz_variance.toFixed(3) : 'N/A';\nconst posVertVar = ekf.pos_vert_variance ? ekf.pos_vert_variance.toFixed(3) : 'N/A';\n\nreturn [\n    { payload: healthStatus, topic: 'ekf/health', color: healthColor },\n    { payload: velVar, topic: 'ekf/velocity_var' },\n    { payload: posHorizVar, topic: 'ekf/pos_horiz_var' },\n    { payload: posVertVar, topic: 'ekf/pos_vert_var' }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 460,
        "y": 550,
        "wires": [
            ["ui_ekf_health"],
            ["ui_ekf_vel_var"],
            ["ui_ekf_pos_h_var"],
            ["ui_ekf_pos_v_var"]
        ]
    },
    {
        "id": "parse_wind",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse WIND",
        "func": "const wind = msg.payload;\nif (!wind) return null;\n\nconst direction = wind.direction || 0;\nconst speed = wind.speed ? wind.speed.toFixed(1) : '0.0';\nconst speedZ = wind.speed_z ? wind.speed_z.toFixed(1) : '0.0';\n\n// Wind direction name\nconst dirNames = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];\nconst dirIndex = Math.round(direction / 22.5) % 16;\nconst dirName = dirNames[dirIndex];\n\nreturn [\n    { payload: speed, topic: 'wind/speed' },\n    { payload: `${direction}° (${dirName})`, topic: 'wind/direction' },\n    { payload: speedZ, topic: 'wind/speed_z' }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            ["ui_wind_speed"],
            ["ui_wind_dir"],
            ["ui_wind_speed_z"]
        ]
    },
    {
        "id": "parse_power",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse POWER_STATUS",
        "func": "const pwr = msg.payload;\nif (!pwr) return null;\n\nconst vcc = pwr.Vcc ? (pwr.Vcc / 1000).toFixed(2) : '0.00';\nconst vservo = pwr.Vservo ? (pwr.Vservo / 1000).toFixed(2) : '0.00';\nconst flags = pwr.flags || 0;\n\n// Power flags\nconst powerOk = (flags & 0x01) === 0; // Bit 0: 0=OK, 1=Error\nconst status = powerOk ? '✓ OK' : '⚠️ Error';\nconst statusColor = powerOk ? 'green' : 'red';\n\nreturn [\n    { payload: vcc, topic: 'power/vcc' },\n    { payload: vservo, topic: 'power/vservo' },\n    { payload: status, topic: 'power/status', color: statusColor }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 440,
        "y": 650,
        "wires": [
            ["ui_power_vcc"],
            ["ui_power_vservo"],
            ["ui_power_status"]
        ]
    },
    {
        "id": "parse_nav",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse NAV_CONTROLLER_OUTPUT",
        "func": "const nav = msg.payload;\nif (!nav) return null;\n\nconst wpDist = nav.wp_dist || 0;\nconst xtrackError = nav.xtrack_error ? nav.xtrack_error.toFixed(1) : '0.0';\nconst altError = nav.alt_error ? nav.alt_error.toFixed(1) : '0.0';\nconst aspdError = nav.aspd_error ? nav.aspd_error.toFixed(1) : '0.0';\nconst targetBearing = nav.target_bearing || 0;\n\nreturn [\n    { payload: wpDist, topic: 'nav/wp_distance' },\n    { payload: xtrackError, topic: 'nav/xtrack_error' },\n    { payload: altError, topic: 'nav/alt_error' },\n    { payload: aspdError, topic: 'nav/aspd_error' },\n    { payload: targetBearing, topic: 'nav/target_bearing' }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            ["ui_nav_wp_dist"],
            ["ui_nav_xtrack"],
            ["ui_nav_alt_err"],
            ["ui_nav_aspd_err"],
            ["ui_nav_bearing"]
        ]
    },
    {
        "id": "parse_pressure",
        "type": "function",
        "z": "comprehensive_flow",
        "name": "Parse SCALED_PRESSURE",
        "func": "const pres = msg.payload;\nif (!pres) return null;\n\nconst pressAbs = pres.press_abs ? pres.press_abs.toFixed(1) : '0.0';\nconst pressDiff = pres.press_diff ? pres.press_diff.toFixed(2) : '0.00';\nconst temperature = pres.temperature ? (pres.temperature / 100).toFixed(1) : '0.0';\n\nreturn [\n    { payload: pressAbs, topic: 'pressure/absolute' },\n    { payload: pressDiff, topic: 'pressure/differential' },\n    { payload: temperature, topic: 'pressure/temperature' }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 750,
        "wires": [
            ["ui_press_abs"],
            ["ui_press_diff"],
            ["ui_press_temp"]
        ]
    },
    {
        "id": "ui_altitude",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Altitude MSL",
        "group": "flight_group",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Altitude (MSL)",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "100",
        "seg2": "400",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_relative_alt",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Altitude AGL",
        "group": "flight_group",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Altitude (AGL)",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "50",
        "seg2": "150",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_airspeed",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "flight_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Airspeed",
        "label": "Airspeed",
        "format": "{{msg.payload}} km/h",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_groundspeed",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "name": "Groundspeed",
        "group": "flight_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "label": "Groundspeed",
        "format": "{{msg.payload}} km/h",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_climb",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "flight_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Climb Rate",
        "label": "Climb Rate",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.indicator}} {{msg.payload}} m/s</span>",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_heading",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Heading",
        "group": "flight_group",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Heading",
        "label": "°",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "120",
        "seg2": "240",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_throttle",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Throttle",
        "group": "flight_group",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Throttle",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "30",
        "seg2": "70",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "altitude_chart",
        "type": "ui_chart",
        "z": "comprehensive_flow",
        "name": "Altitude History",
        "group": "flight_group",
        "order": 8,
        "width": 6,
        "height": 4,
        "label": "Altitude Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "ui_battery_percent",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Battery Percentage",
        "group": "battery_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Battery",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "20",
        "seg2": "50",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_battery_voltage",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "battery_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Battery Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_battery_current",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "battery_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Battery Current",
        "label": "Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui_battery_power",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "battery_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Battery Power",
        "label": "Power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "ui_battery_temp",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "battery_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Battery Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "ui_battery_cells",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "battery_group",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Battery Cells",
        "label": "Cell Voltages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "low_battery_alert",
        "type": "ui_toast",
        "z": "comprehensive_flow",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "⚠️ LOW BATTERY",
        "name": "Low Battery Alert",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "ui_roll",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Roll",
        "group": "attitude_group",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Roll",
        "label": "°",
        "format": "{{value}}",
        "min": "-45",
        "max": "45",
        "colors": ["#ca3838","#00b500","#ca3838"],
        "seg1": "-20",
        "seg2": "20",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "ui_pitch",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Pitch",
        "group": "attitude_group",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pitch",
        "label": "°",
        "format": "{{value}}",
        "min": "-45",
        "max": "45",
        "colors": ["#ca3838","#00b500","#ca3838"],
        "seg1": "-20",
        "seg2": "20",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "ui_yaw",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Yaw",
        "group": "attitude_group",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Yaw",
        "label": "°",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "120",
        "seg2": "240",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "ui_gps_sats",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "GPS Satellites",
        "group": "gps_group",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Satellites",
        "label": "sats",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "6",
        "seg2": "10",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "ui_gps_fix",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "gps_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "GPS Fix Type",
        "label": "GPS Fix",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "ui_gps_eph",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "gps_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "GPS EPH",
        "label": "H. Accuracy",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 860,
        "wires": []
    },
    {
        "id": "ui_gps_epv",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "gps_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "GPS EPV",
        "label": "V. Accuracy",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "ui_vib_x",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "vibration_group",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "Vibration X",
        "label": "X-axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 940,
        "wires": []
    },
    {
        "id": "ui_vib_y",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "vibration_group",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Vibration Y",
        "label": "Y-axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "ui_vib_z",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "vibration_group",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Vibration Z",
        "label": "Z-axis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ui_vib_clipping",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "vibration_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Vibration Clipping",
        "label": "Clipping",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ui_esc1",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "esc_group",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "ESC 1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ui_esc2",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "esc_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "ESC 2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ui_esc3",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "esc_group",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "ESC 3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ui_esc4",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "esc_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "ESC 4",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ui_terrain_height",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "terrain_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Terrain Height",
        "label": "Terrain Elev.",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1260,
        "wires": []
    },
    {
        "id": "ui_terrain_clearance",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "terrain_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Terrain Clearance",
        "label": "Clearance",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ui_terrain_status",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "terrain_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Terrain Status",
        "label": "Status",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ui_terrain_loaded",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "terrain_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Terrain Loaded",
        "label": "Tiles Loaded",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ui_ekf_health",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "EKF Health",
        "label": "EKF Status",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ui_ekf_vel_var",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "EKF Velocity Variance",
        "label": "Vel. Var.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ui_ekf_pos_h_var",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "EKF Pos Horiz Var",
        "label": "Pos H. Var.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ui_ekf_pos_v_var",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "EKF Pos Vert Var",
        "label": "Pos V. Var.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ui_wind_speed",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Wind Speed",
        "label": "Wind Speed",
        "format": "{{msg.payload}} m/s",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ui_wind_dir",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Wind Direction",
        "label": "Wind Dir.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ui_wind_speed_z",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Wind Speed Z",
        "label": "Wind Vert.",
        "format": "{{msg.payload}} m/s",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1660,
        "wires": []
    },
    {
        "id": "ui_power_vcc",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Power Vcc",
        "label": "Vcc",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 1700,
        "wires": []
    },
    {
        "id": "ui_power_vservo",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "Power Vservo",
        "label": "Vservo",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1740,
        "wires": []
    },
    {
        "id": "ui_power_status",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "health_group",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "Power Status",
        "label": "Power",
        "format": "<span style=\"color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1780,
        "wires": []
    },
    {
        "id": "ui_nav_wp_dist",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "nav_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Waypoint Distance",
        "label": "WP Distance",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 1820,
        "wires": []
    },
    {
        "id": "ui_nav_xtrack",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "nav_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Crosstrack Error",
        "label": "X-Track Err.",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1860,
        "wires": []
    },
    {
        "id": "ui_nav_alt_err",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "nav_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Altitude Error",
        "label": "Alt. Error",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ui_nav_aspd_err",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "nav_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Airspeed Error",
        "label": "Airspeed Err.",
        "format": "{{msg.payload}} m/s",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 1940,
        "wires": []
    },
    {
        "id": "ui_nav_bearing",
        "type": "ui_gauge",
        "z": "comprehensive_flow",
        "name": "Target Bearing",
        "group": "nav_group",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Target Bearing",
        "label": "°",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "120",
        "seg2": "240",
        "x": 690,
        "y": 1980,
        "wires": []
    },
    {
        "id": "ui_press_abs",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "env_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Pressure Absolute",
        "label": "Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 2020,
        "wires": []
    },
    {
        "id": "ui_press_diff",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "env_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Pressure Differential",
        "label": "Diff. Press.",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 2060,
        "wires": []
    },
    {
        "id": "ui_press_temp",
        "type": "ui_text",
        "z": "comprehensive_flow",
        "group": "env_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Barometer Temperature",
        "label": "Baro Temp.",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 2100,
        "wires": []
    },
    {
        "id": "flight_group",
        "type": "ui_group",
        "name": "Flight Data",
        "tab": "telemetry_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "battery_group",
        "type": "ui_group",
        "name": "Battery",
        "tab": "telemetry_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "attitude_group",
        "type": "ui_group",
        "name": "Attitude",
        "tab": "telemetry_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gps_group",
        "type": "ui_group",
        "name": "GPS",
        "tab": "telemetry_tab",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "vibration_group",
        "type": "ui_group",
        "name": "Vibration",
        "tab": "telemetry_tab",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "esc_group",
        "type": "ui_group",
        "name": "ESC Telemetry",
        "tab": "telemetry_tab",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "terrain_group",
        "type": "ui_group",
        "name": "Terrain",
        "tab": "telemetry_tab",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "health_group",
        "type": "ui_group",
        "name": "System Health",
        "tab": "telemetry_tab",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "nav_group",
        "type": "ui_group",
        "name": "Navigation",
        "tab": "telemetry_tab",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "env_group",
        "type": "ui_group",
        "name": "Environment",
        "tab": "telemetry_tab",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "telemetry_tab",
        "type": "ui_tab",
        "name": "Comprehensive Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
