examples/telemetry/complete-telemetry-dashboard.json
[
    {
        "id": "telemetry_console_tab",
        "type": "tab",
        "label": "MAVLink: Telemetry Console",
        "disabled": false,
        "info": "Unified telemetry dashboard covering battery, flight data, vibration, ESC telemetry, terrain and EKF health.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "telemetry_comment",
        "type": "comment",
        "z": "telemetry_console_tab",
        "name": "Wire mavlink-comms output to 'Telemetry Topic Router'",
        "info": "## MAVLink Telemetry Console\n\nFull-spectrum telemetry dashboard that merges the existing battery, flight, vibration and ESC examples.\n\n### Setup\n1. Install **node-red-dashboard** (and optionally **node-red-node-ui-table** for richer tables).\n2. Wire the output of **mavlink-comms** → **Telemetry Topic Router**.\n3. Deploy and open http://localhost:1880/ui.\n\n### Panels\n- **Battery**: Voltage, current, temperature, % remaining, consumption trend + low battery toasts.\n- **Flight Data**: Altitude, speeds, climb rate, heading.\n- **Position**: GPS lat/lon, relative altitude track.\n- **ESC Telemetry**: RPM, current and temperature per motor.\n- **Vibration**: XYZ accelerations with clipping counters.\n- **Terrain & EKF**: Terrain clearance, map status, EKF variances + status bits.\n\n### Notes\n- Battery metrics prefer `BATTERY_STATUS` but gracefully fall back to `SYS_STATUS`.\n- Charts retain the latest 10 minutes of history.\n- Customize alert thresholds inside the function nodes.",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "topic_router",
        "type": "switch",
        "z": "telemetry_console_tab",
        "name": "Telemetry Topic Router",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"},
            {"t": "eq", "v": "BATTERY_STATUS", "vt": "str"},
            {"t": "eq", "v": "VFR_HUD", "vt": "str"},
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"},
            {"t": "eq", "v": "ESC_TELEMETRY_1_TO_4", "vt": "str"},
            {"t": "eq", "v": "VIBRATION", "vt": "str"},
            {"t": "eq", "v": "TERRAIN_REPORT", "vt": "str"},
            {"t": "eq", "v": "EKF_STATUS_REPORT", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 210,
        "y": 140,
        "wires": [
            ["parse_battery"],
            ["parse_battery"],
            ["parse_vfr"],
            ["parse_global_position"],
            ["parse_esc"],
            ["parse_vibration"],
            ["parse_terrain"],
            ["parse_ekf"]
        ]
    },
    {
        "id": "parse_battery",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse Battery Data",
        "func": "const state = context.get('state') || {};\n\nif (msg.topic === 'BATTERY_STATUS') {\n    const bat = msg.payload || {};\n    const voltages = Array.isArray(bat.voltages) ? bat.voltages : [];\n    const primaryCell = voltages.find(v => v && v > 0);\n    state.voltage = primaryCell ? primaryCell / 1000 : state.voltage || 0;\n    state.current = typeof bat.currentBattery === 'number' && bat.currentBattery !== -1 ? bat.currentBattery / 100 : state.current || 0;\n    state.percent = typeof bat.batteryRemaining === 'number' && bat.batteryRemaining >= 0 ? bat.batteryRemaining : state.percent || 0;\n    state.consumed = typeof bat.currentConsumed === 'number' && bat.currentConsumed >= 0 ? bat.currentConsumed / 1000 : state.consumed || null;\n    state.temperature = typeof bat.temperature === 'number' && bat.temperature > -32768 ? bat.temperature / 100 : state.temperature || null;\n} else if (msg.topic === 'SYS_STATUS') {\n    const sys = msg.payload || {};\n    if (typeof sys.voltageBattery === 'number' && sys.voltageBattery > 0) {\n        state.voltage = sys.voltageBattery / 1000;\n    }\n    if (typeof sys.currentBattery === 'number' && sys.currentBattery !== -1) {\n        state.current = sys.currentBattery / 100;\n    }\n    if (typeof sys.batteryRemaining === 'number' && sys.batteryRemaining >= 0) {\n        state.percent = sys.batteryRemaining;\n    }\n}\n\nstate.voltage = Number(state.voltage || 0);\nstate.current = Number(state.current || 0);\nstate.percent = Number.isFinite(state.percent) ? state.percent : 0;\nstate.consumed = typeof state.consumed === 'number' ? state.consumed : null;\nstate.temperature = typeof state.temperature === 'number' ? state.temperature : null;\n\ncontext.set('state', state);\n\nconst percentMsg = { payload: state.percent, topic: 'battery/percent' };\nconst voltageText = { payload: state.voltage.toFixed(2), topic: 'battery/voltage' };\nconst currentText = { payload: state.current.toFixed(2), topic: 'battery/current' };\nconst consumedText = state.consumed != null ? { payload: state.consumed.toFixed(2), topic: 'battery/consumed' } : null;\nconst temperatureText = state.temperature != null ? { payload: state.temperature.toFixed(1), topic: 'battery/temperature' } : null;\nconst chartMsgs = [\n    { payload: state.voltage, topic: 'Voltage (V)' },\n    { payload: state.current, topic: 'Current (A)' },\n    state.percent ? { payload: state.percent, topic: 'Remaining (%)' } : null\n].filter(Boolean);\n\nconst alertThreshold = 20;\nconst alertMsg = state.percent && state.percent <= alertThreshold\n    ? { payload: `\u26a0\ufe0f Battery low: ${state.percent.toFixed(0)}% (${state.voltage.toFixed(1)} V)`, topic: 'battery/alert' }\n    : null;\n\nreturn [\n    [percentMsg],\n    [voltageText],\n    [currentText],\n    consumedText ? [consumedText] : [],\n    chartMsgs,\n    alertMsg ? [alertMsg] : [],\n    temperatureText ? [temperatureText] : []\n];",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            ["ui_battery_percent"],
            ["ui_battery_voltage"],
            ["ui_battery_current"],
            ["ui_battery_consumed"],
            ["chart_battery_trend"],
            ["battery_alert_toast"],
            ["ui_battery_temperature"]
        ]
    },
    {
        "id": "ui_battery_percent",
        "type": "ui_gauge",
        "z": "telemetry_console_tab",
        "name": "Battery %",
        "group": "group_battery",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Battery",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "20",
        "seg2": "50",
        "className": "",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "ui_battery_voltage",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_battery",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_battery_current",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_battery",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Current",
        "label": "Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_battery_consumed",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_battery",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Consumed",
        "label": "Consumed",
        "format": "{{msg.payload}} Ah",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_battery_temperature",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_battery",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "Temperature",
        "label": "Pack Temp",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "chart_battery_trend",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "Battery Trend",
        "group": "group_battery",
        "order": 6,
        "width": 12,
        "height": 5,
        "label": "Battery Trend",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for battery telemetry…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#00b500","#0070c0","#ca3838"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "battery_alert_toast",
        "type": "ui_toast",
        "z": "telemetry_console_tab",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "ACK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "⚠️ Battery Alert",
        "name": "Battery Alert",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "parse_vfr",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse VFR HUD",
        "func": "const hud = msg.payload || {};\nconst altitude = typeof hud.alt === 'number' ? hud.alt : 0;\nconst groundspeed = typeof hud.groundspeed === 'number' ? hud.groundspeed : 0;\nconst airspeed = typeof hud.airspeed === 'number' ? hud.airspeed : 0;\nconst climb = typeof hud.climb === 'number' ? hud.climb : 0;\nconst heading = typeof hud.heading === 'number' ? hud.heading : 0;\n\nconst kts = v => (v * 1.94384);\n\nconst chartMsgs = [\n    { payload: altitude, topic: 'Altitude (m)' },\n    { payload: climb, topic: 'Climb (m/s)' }\n];\n\nreturn [\n    [{ payload: altitude, topic: 'flight/altitude' }],\n    [{ payload: kts(groundspeed).toFixed(1), topic: 'flight/groundspeed' }],\n    [{ payload: kts(airspeed).toFixed(1), topic: 'flight/airspeed' }],\n    [{ payload: heading.toFixed(0), topic: 'flight/heading' }],\n    chartMsgs\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            ["ui_altitude_gauge"],
            ["ui_groundspeed"],
            ["ui_airspeed"],
            ["ui_heading"],
            ["chart_flight_profile"]
        ]
    },
    {
        "id": "ui_altitude_gauge",
        "type": "ui_gauge",
        "z": "telemetry_console_tab",
        "name": "Altitude",
        "group": "group_flight",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Altitude",
        "label": "m",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "500",
        "colors": ["#0070c0","#00b500","#004b8d"],
        "seg1": "150",
        "seg2": "300",
        "className": "",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_groundspeed",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_flight",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Ground Speed",
        "label": "Ground Speed",
        "format": "{{msg.payload}} kt",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_airspeed",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_flight",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Airspeed",
        "label": "Airspeed",
        "format": "{{msg.payload}} kt",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_heading",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_flight",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Heading",
        "label": "Heading",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "chart_flight_profile",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "Flight Profile",
        "group": "group_flight",
        "order": 5,
        "width": 12,
        "height": 5,
        "label": "Altitude & Climb",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for flight data…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#0070c0","#ca3838","#00b500"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "parse_global_position",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse Global Position",
        "func": "const pos = msg.payload || {};\nconst lat = typeof pos.lat === 'number' ? pos.lat / 1e7 : 0;\nconst lon = typeof pos.lon === 'number' ? pos.lon / 1e7 : 0;\nconst relAlt = typeof pos.relativeAlt === 'number' ? pos.relativeAlt / 1000 : 0;\nconst hdg = typeof pos.hdg === 'number' ? pos.hdg / 100 : null;\n\nconst coordText = { payload: `${lat.toFixed(6)}, ${lon.toFixed(6)}`, topic: 'position/coord' };\nconst altText = { payload: relAlt.toFixed(1), topic: 'position/relative_alt' };\nconst headingText = hdg != null ? { payload: hdg.toFixed(1), topic: 'position/heading' } : null;\nconst chartMsg = { payload: relAlt, topic: 'Relative Altitude (m)' };\n\nreturn [\n    [coordText],\n    [altText],\n    headingText ? [headingText] : [],\n    [chartMsg]\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            ["ui_position_coord"],
            ["ui_position_alt"],
            ["ui_position_heading"],
            ["chart_relative_alt"]
        ]
    },
    {
        "id": "ui_position_coord",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_position",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Coordinates",
        "label": "Lat / Lon",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "ui_position_alt",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_position",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Relative Alt",
        "label": "Relative Alt",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "ui_position_heading",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_position",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "GPS Heading",
        "label": "GPS Heading",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "chart_relative_alt",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "Relative Altitude",
        "group": "group_position",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "Relative Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for GPS…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": ["#ff9900","#ffcc00","#ffdd77"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "parse_esc",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse ESC Telemetry",
        "func": "const esc = msg.payload || {};\nconst count = typeof esc.count === 'number' && esc.count > 0 ? esc.count : 4;\nconst rpm = Array.isArray(esc.rpm) ? esc.rpm : []\nconst current = Array.isArray(esc.current) ? esc.current : []\nconst temperature = Array.isArray(esc.temperature) ? esc.temperature : []\nconst voltage = Array.isArray(esc.voltage) ? esc.voltage : []\n\nconst textRows = [];\nconst rpmMsgs = [];\nconst currentMsgs = [];\nconst tempMsgs = [];\nconst voltageMsgs = [];\n\nfor (let i = 0; i < count; i += 1) {\n    const idx = i;\n    const escId = i + 1;\n    const rpmVal = typeof rpm[idx] === 'number' ? rpm[idx] : null;\n    const currentVal = typeof current[idx] === 'number' ? current[idx] / 100 : null; // cA to A\n    const tempValRaw = typeof temperature[idx] === 'number' ? temperature[idx] : null;\n    const tempVal = tempValRaw != null ? tempValRaw / 10 : null; // 0.1C units\n    const voltageValRaw = typeof voltage[idx] === 'number' ? voltage[idx] : null;\n    const voltageVal = voltageValRaw != null ? voltageValRaw / 100 : null; // 0.01V units\n\n    textRows.push({ esc: escId, rpm: rpmVal, current: currentVal, temperature: tempVal, voltage: voltageVal });\n\n    if (rpmVal != null) { rpmMsgs.push({ topic: `ESC ${escId}`, payload: rpmVal }); }\n    if (currentVal != null) { currentMsgs.push({ topic: `ESC ${escId}`, payload: currentVal }); }\n    if (tempVal != null) { tempMsgs.push({ topic: `ESC ${escId}`, payload: tempVal }); }\n    if (voltageVal != null) { voltageMsgs.push({ topic: `ESC ${escId}`, payload: voltageVal }); }\n}\n\nconst tablePayload = textRows.map(row => ({\n        ESC: row.esc,\n        RPM: row.rpm != null ? row.rpm : '-',\n        Current: row.current != null ? row.current.toFixed(2) : '-',\n        TempC: row.temperature != null ? row.temperature.toFixed(1) : '-',\n        Voltage: row.voltage != null ? row.voltage.toFixed(2) : '-'\n    }));\n\nreturn [\n    [{ payload: tablePayload }],\n    rpmMsgs,\n    currentMsgs,\n    tempMsgs,\n    voltageMsgs\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 500,
        "wires": [
            ["ui_esc_table"],
            ["chart_esc_rpm"],
            ["chart_esc_current"],
            ["chart_esc_temperature"],
            ["chart_esc_voltage"]
        ]
    },
    {
        "id": "ui_esc_table",
        "type": "ui_template",
        "z": "telemetry_console_tab",
        "group": "group_esc",
        "name": "ESC Summary",
        "order": 1,
        "width": 12,
        "height": 4,
        "format": "<table class=\"nr-dashboard-card\"><thead><tr><th>ESC</th><th>RPM</th><th>Current (A)</th><th>Temp (C)</th><th>Voltage (V)</th></tr></thead><tbody><tr ng-repeat=\"row in msg.payload\"><td>{{row.ESC}}</td><td>{{row.RPM}}</td><td>{{row.Current}}</td><td>{{row.TempC}}</td><td>{{row.Voltage}}</td></tr></tbody></table>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "chart_esc_rpm",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "ESC RPM",
        "group": "group_esc",
        "order": 2,
        "width": 12,
        "height": 4,
        "label": "ESC RPM",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for ESC telemetry…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff5722","#ff9800","#ffc107"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 760,
        "wires": []
    },
    {
        "id": "chart_esc_current",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "ESC Current",
        "group": "group_esc",
        "order": 3,
        "width": 12,
        "height": 4,
        "label": "ESC Current",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for ESC telemetry…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#4caf50","#009688","#8bc34a"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "chart_esc_temperature",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "ESC Temperature",
        "group": "group_esc",
        "order": 4,
        "width": 12,
        "height": 4,
        "label": "ESC Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for ESC telemetry…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#f44336","#e91e63","#9c27b0"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "chart_esc_voltage",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "ESC Voltage",
        "group": "group_esc",
        "order": 5,
        "width": 12,
        "height": 4,
        "label": "ESC Voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for ESC telemetry…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#2196f3","#03a9f4","#00bcd4"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 880,
        "wires": []
    },
    {
        "id": "parse_vibration",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse Vibration",
        "func": "const vib = msg.payload || {};\nconst x = typeof vib.vibration_x === 'number' ? vib.vibration_x : 0;\nconst y = typeof vib.vibration_y === 'number' ? vib.vibration_y : 0;\nconst z = typeof vib.vibration_z === 'number' ? vib.vibration_z : 0;\nconst clip0 = vib.clipping_0 || 0;\nconst clip1 = vib.clipping_1 || 0;\nconst clip2 = vib.clipping_2 || 0;\n\nconst chartMsgs = [\n    { payload: x, topic: 'X (m/s²)' },\n    { payload: y, topic: 'Y (m/s²)' },\n    { payload: z, topic: 'Z (m/s²)' }\n];\n\nconst clippingMsg = { payload: `Clip Counts – X:${clip0} Y:${clip1} Z:${clip2}`, topic: 'vibration/clipping' };\n\nreturn [\n    chartMsgs,\n    [clippingMsg]\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 620,
        "wires": [
            ["chart_vibration"],
            ["ui_vibration_clipping"]
        ]
    },
    {
        "id": "chart_vibration",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "Vibration",
        "group": "group_vibration",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Vibration",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for vibration data…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff5722","#4caf50","#2196f3"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 920,
        "wires": []
    },
    {
        "id": "ui_vibration_clipping",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_vibration",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "Clipping",
        "label": "Clipping",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "parse_terrain",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse Terrain",
        "func": "const terrain = msg.payload || {};\nconst lat = typeof terrain.lat === 'number' ? terrain.lat / 1e7 : null;\nconst lon = typeof terrain.lon === 'number' ? terrain.lon / 1e7 : null;\nconst spacing = terrain.spacing || 0;\nconst terrainHeight = typeof terrain.terrainHeight === 'number' ? terrain.terrainHeight : 0;\nconst currentHeight = typeof terrain.currentHeight === 'number' ? terrain.currentHeight : 0;\nconst pending = terrain.pending || 0;\nconst loaded = terrain.loaded || 0;\n\nconst info = { payload: `Lat:${lat != null ? lat.toFixed(6) : '-'} Lon:${lon != null ? lon.toFixed(6) : '-'} Spacing:${spacing}m Pending:${pending} Loaded:${loaded}`, topic: 'terrain/info' };\nconst chartMsgs = [\n    { payload: terrainHeight, topic: 'Terrain (m)' },\n    { payload: currentHeight, topic: 'Vehicle Above Terrain (m)' }\n];\n\nreturn [\n    [info],\n    chartMsgs\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 700,
        "wires": [
            ["ui_terrain_info"],
            ["chart_terrain"]
        ]
    },
    {
        "id": "ui_terrain_info",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_terrain",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "Terrain Info",
        "label": "Terrain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "chart_terrain",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "Terrain Profile",
        "group": "group_terrain",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Terrain Clearance",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for terrain data…",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#8d6e63","#4e342e","#bf360c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "parse_ekf",
        "type": "function",
        "z": "telemetry_console_tab",
        "name": "Parse EKF Status",
        "func": "const ekf = msg.payload || {};\nconst flags = typeof ekf.flags === 'number' ? ekf.flags : 0;\nconst velVar = typeof ekf.velocity_variance === 'number' ? ekf.velocity_variance : 0;\nconst horizVar = typeof ekf.pos_horiz_variance === 'number' ? ekf.pos_horiz_variance : 0;\nconst vertVar = typeof ekf.pos_vert_variance === 'number' ? ekf.pos_vert_variance : 0;\nconst compassVar = typeof ekf.compass_variance === 'number' ? ekf.compass_variance : 0;\nconst terrainVar = typeof ekf.terrain_alt_variance === 'number' ? ekf.terrain_alt_variance : 0;\nconst airspeedVar = typeof ekf.airspeed_variance === 'number' ? ekf.airspeed_variance : 0;\n\nconst statusMsg = { payload: `Flags: 0x${flags.toString(16).padStart(4, '0').toUpperCase()} | Vel:${velVar.toFixed(3)} PosH:${horizVar.toFixed(3)} PosV:${vertVar.toFixed(3)} Compass:${compassVar.toFixed(3)}`, topic: 'ekf/status' };\nconst chartMsgs = [\n    { payload: horizVar, topic: 'Pos Horiz Var' },\n    { payload: vertVar, topic: 'Pos Vert Var' },\n    { payload: compassVar, topic: 'Compass Var' },\n    { payload: terrainVar, topic: 'Terrain Alt Var' },\n    { payload: airspeedVar, topic: 'Airspeed Var' }\n];\n\nreturn [\n    [statusMsg],\n    chartMsgs\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 780,
        "wires": [
            ["ui_ekf_status"],
            ["chart_ekf"]
        ]
    },
    {
        "id": "ui_ekf_status",
        "type": "ui_text",
        "z": "telemetry_console_tab",
        "group": "group_ekf",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "EKF Status",
        "label": "EKF",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1080,
        "wires": []
    },
    {
        "id": "chart_ekf",
        "type": "ui_chart",
        "z": "telemetry_console_tab",
        "name": "EKF Variances",
        "group": "group_ekf",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "EKF Variances",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for EKF data…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "600",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#673ab7","#3f51b5","#009688","#cddc39","#9e9d24"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 1120,
        "wires": []
    },
    {
        "id": "group_battery",
        "type": "ui_group",
        "name": "Battery",
        "tab": "tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_flight",
        "type": "ui_group",
        "name": "Flight Data",
        "tab": "tab_dashboard",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_position",
        "type": "ui_group",
        "name": "Position",
        "tab": "tab_dashboard",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_esc",
        "type": "ui_group",
        "name": "ESC Telemetry",
        "tab": "tab_dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_vibration",
        "type": "ui_group",
        "name": "Vibration",
        "tab": "tab_dashboard",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_terrain",
        "type": "ui_group",
        "name": "Terrain",
        "tab": "tab_dashboard",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_ekf",
        "type": "ui_group",
        "name": "EKF Health",
        "tab": "tab_dashboard",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_dashboard",
        "type": "ui_tab",
        "name": "Telemetry Console",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
