examples/telemetry/gps-display.json
[
    {
        "id": "gps_display_flow",
        "type": "tab",
        "label": "MAVLink: GPS Display",
        "disabled": false,
        "info": "Real-time GPS monitoring with lat/lon/alt/satellites.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "mavlink_comms_in",
        "type": "comment",
        "z": "gps_display_flow",
        "name": "Wire mavlink-comms output here →",
        "info": "Connect the output of your mavlink-comms node to the 'Filter GPS' node below",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "filter_gps",
        "type": "switch",
        "z": "gps_display_flow",
        "name": "Filter GPS",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GPS_RAW_INT", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 180,
        "y": 120,
        "wires": [["parse_gps", "debug_gps"]]
    },
    {
        "id": "parse_gps",
        "type": "function",
        "z": "gps_display_flow",
        "name": "Parse GPS Data",
        "func": "// GPS_RAW_INT message\nconst gps = msg.payload;\n\nif (!gps) {\n    return null;\n}\n\n// Extract GPS data\nconst lat = gps.lat / 1e7;  // Convert from 1E7 format\nconst lon = gps.lon / 1e7;\nconst alt = gps.alt / 1000; // Convert from mm to meters\nconst satellites = gps.satellites_visible || 0;\nconst fixType = gps.fix_type || 0;\n\n// Fix type names\nconst fixNames = [\n    'No GPS',\n    'No Fix',\n    '2D Fix',\n    '3D Fix',\n    'DGPS',\n    'RTK Float',\n    'RTK Fixed',\n    'Static',\n    'PPP'\n];\n\nconst fixName = fixNames[fixType] || `Unknown (${fixType})`;\n\n// Create output messages\nreturn [\n    { payload: lat.toFixed(7), topic: 'gps/latitude' },\n    { payload: lon.toFixed(7), topic: 'gps/longitude' },\n    { payload: alt.toFixed(1), topic: 'gps/altitude' },\n    { payload: satellites, topic: 'gps/satellites' },\n    { payload: fixName, topic: 'gps/fix_type' },\n    { \n        payload: { \n            lat, \n            lon, \n            alt, \n            satellites, \n            fixType, \n            fixName,\n            icon: 'plane',\n            iconColor: fixType >= 3 ? 'green' : 'red'\n        }, \n        topic: 'gps/position' \n    }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            ["ui_lat"],
            ["ui_lon"],
            ["ui_alt"],
            ["ui_sats"],
            ["ui_fix"],
            ["debug_parsed"]
        ]
    },
    {
        "id": "ui_lat",
        "type": "ui_text",
        "z": "gps_display_flow",
        "group": "gps_group",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Latitude",
        "label": "Latitude",
        "format": "{{msg.payload}}°",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_lon",
        "type": "ui_text",
        "z": "gps_display_flow",
        "group": "gps_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Longitude",
        "label": "Longitude",
        "format": "{{msg.payload}}°",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_alt",
        "type": "ui_gauge",
        "z": "gps_display_flow",
        "name": "Altitude",
        "group": "gps_group",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Altitude (m)",
        "label": "meters",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "100",
        "seg2": "300",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_sats",
        "type": "ui_gauge",
        "z": "gps_display_flow",
        "name": "Satellites",
        "group": "gps_group",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "GPS Satellites",
        "label": "sats",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "6",
        "seg2": "10",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_fix",
        "type": "ui_text",
        "z": "gps_display_flow",
        "group": "gps_group",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "GPS Fix Type",
        "label": "Fix Type",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_gps",
        "type": "debug",
        "z": "gps_display_flow",
        "name": "GPS Raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_parsed",
        "type": "debug",
        "z": "gps_display_flow",
        "name": "GPS Parsed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "gps_display_flow",
        "name": "GPS Display - Wire mavlink-comms output to 'Filter GPS' node",
        "info": "## GPS Display Dashboard\n\nDisplays real-time GPS data from your drone.\n\n### Setup:\n1. Wire mavlink-comms output → 'Filter GPS' node\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### What it Shows:\n- **Latitude/Longitude** - Current GPS position\n- **Altitude** - Height above sea level in meters\n- **Satellites** - Number of visible satellites (need 6+ for good fix)\n- **Fix Type** - GPS fix quality\n\n### GPS Fix Types:\n- **No GPS** (0) - No GPS module\n- **No Fix** (1) - GPS not locked\n- **2D Fix** (2) - Position only, no altitude\n- **3D Fix** (3) - Position + altitude ✓\n- **DGPS** (4) - Differential GPS\n- **RTK Float** (5) - RTK floating solution\n- **RTK Fixed** (6) - RTK fixed solution (cm accuracy!)\n\n### Gauge Colors:\n**Altitude:**\n- Green: 0-100m\n- Yellow: 100-300m\n- Red: 300m+\n\n**Satellites:**\n- Red: 0-6 (poor)\n- Yellow: 6-10 (okay)\n- Green: 10+ (excellent)\n\n### Requirements:\n- node-red-dashboard installed\n- GPS_RAW_INT messages from drone\n\n### Optional Enhancement:\nAdd node-red-contrib-web-worldmap for live map display!",
        "x": 260,
        "y": 20,
        "wires": []
    },
    {
        "id": "gps_group",
        "type": "ui_group",
        "name": "GPS Status",
        "tab": "gps_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gps_tab",
        "type": "ui_tab",
        "name": "Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
