examples/telemetry/status-panel.json
[
    {
        "id": "status_flow",
        "type": "tab",
        "label": "MAVLink: Status Panel",
        "disabled": false,
        "info": "Vehicle status dashboard showing armed state, mode, GPS, health.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "filter_heartbeat",
        "type": "switch",
        "z": "status_flow",
        "name": "Filter HEARTBEAT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "HEARTBEAT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 210,
        "y": 80,
        "wires": [["parse_heartbeat"]]
    },
    {
        "id": "filter_gps",
        "type": "switch",
        "z": "status_flow",
        "name": "Filter GPS",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GPS_RAW_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 180,
        "y": 180,
        "wires": [["parse_gps_status"]]
    },
    {
        "id": "filter_sys",
        "type": "switch",
        "z": "status_flow",
        "name": "Filter SYS_STATUS",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"}
        ],
        "outputs": 1,
        "x": 210,
        "y": 280,
        "wires": [["parse_sys_status"]]
    },
    {
        "id": "parse_heartbeat",
        "type": "function",
        "z": "status_flow",
        "name": "Parse Armed & Mode",
        "func": "// HEARTBEAT message\nconst hb = msg.payload;\n\nif (!hb) return null;\n\n// Check armed status (bit 7 of base_mode)\nconst armed = (hb.baseMode & 128) !== 0;\nconst armedText = armed ? \"ARMED\" : \"DISARMED\";\nconst armedColor = armed ? \"red\" : \"green\";\n\n// ArduPilot Copter flight modes\nconst modes = {\n    0: 'STABILIZE', 1: 'ACRO', 2: 'ALT_HOLD', 3: 'AUTO',\n    4: 'GUIDED', 5: 'LOITER', 6: 'RTL', 7: 'CIRCLE',\n    9: 'LAND', 11: 'DRIFT', 13: 'SPORT', 14: 'FLIP',\n    15: 'AUTOTUNE', 16: 'POSHOLD', 17: 'BRAKE', 18: 'THROW',\n    19: 'AVOID_ADSB', 20: 'GUIDED_NOGPS', 21: 'SMART_RTL',\n    22: 'FLOWHOLD', 23: 'FOLLOW', 24: 'ZIGZAG', 25: 'SYSTEMID',\n    26: 'AUTOROTATE', 27: 'AUTO_RTL'\n};\n\nconst customMode = hb.customMode || 0;\nconst modeName = modes[customMode] || `UNKNOWN (${customMode})`;\n\n// System status\nconst sysStatus = [\n    'UNINIT', 'BOOT', 'CALIBRATING', 'STANDBY',\n    'ACTIVE', 'CRITICAL', 'EMERGENCY', 'POWEROFF', 'FLIGHT_TERMINATION'\n];\nconst statusName = sysStatus[hb.systemStatus] || 'UNKNOWN';\n\nreturn [\n    { payload: armedText, topic: 'status/armed', color: armedColor },\n    { payload: modeName, topic: 'status/mode' },\n    { payload: statusName, topic: 'status/system' }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            ["ui_armed"],
            ["ui_mode"],
            ["ui_system_status"]
        ]
    },
    {
        "id": "parse_gps_status",
        "type": "function",
        "z": "status_flow",
        "name": "Parse GPS Status",
        "func": "const gps = msg.payload;\nif (!gps) return null;\n\nconst fixTypes = [\n    'NO GPS', 'NO FIX', '2D FIX', '3D FIX',\n    'DGPS', 'RTK FLOAT', 'RTK FIXED'\n];\n\nconst fixType = gps.fix_type || 0;\nconst fixName = fixTypes[fixType] || `UNKNOWN (${fixType})`;\nconst satellites = gps.satellites_visible || 0;\n\nconst gpsStatus = `${fixName} (${satellites} sats)`;\nconst gpsColor = fixType >= 3 ? 'green' : (fixType >= 2 ? 'yellow' : 'red');\n\nreturn { \n    payload: gpsStatus, \n    topic: 'status/gps',\n    color: gpsColor\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [["ui_gps_status"]]
    },
    {
        "id": "parse_sys_status",
        "type": "function",
        "z": "status_flow",
        "name": "Parse System Health",
        "func": "const sys = msg.payload;\nif (!sys) return null;\n\n// Parse sensor health flags\nconst sensors = sys.onboard_control_sensors_present || 0;\nconst enabled = sys.onboard_control_sensors_enabled || 0;\nconst health = sys.onboard_control_sensors_health || 0;\n\n// Check specific sensors\nconst checkSensor = (bit) => {\n    const present = (sensors & (1 << bit)) !== 0;\n    const en = (enabled & (1 << bit)) !== 0;\n    const ok = (health & (1 << bit)) !== 0;\n    return present && en && ok;\n};\n\n// Key sensors\nconst gyro = checkSensor(0);\nconst accel = checkSensor(1);\nconst mag = checkSensor(2);\nconst gps = checkSensor(5);\n\nconst sensorStatus = [];\nif (!gyro) sensorStatus.push('GYRO');\nif (!accel) sensorStatus.push('ACCEL');\nif (!mag) sensorStatus.push('MAG');\nif (!gps) sensorStatus.push('GPS');\n\nconst healthText = sensorStatus.length === 0 ? 'ALL OK' : `FAIL: ${sensorStatus.join(', ')}`;\nconst healthColor = sensorStatus.length === 0 ? 'green' : 'red';\n\nreturn { \n    payload: healthText, \n    topic: 'status/health',\n    color: healthColor\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [["ui_health"]]
    },
    {
        "id": "ui_armed",
        "type": "ui_text",
        "z": "status_flow",
        "group": "status_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Armed Status",
        "label": "Armed",
        "format": "<span style=\"color:{{msg.color}};font-weight:bold;\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "ui_mode",
        "type": "ui_text",
        "z": "status_flow",
        "group": "status_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Flight Mode",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_system_status",
        "type": "ui_text",
        "z": "status_flow",
        "group": "status_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "System Status",
        "label": "System",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_gps_status",
        "type": "ui_text",
        "z": "status_flow",
        "group": "status_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "GPS Status",
        "label": "GPS",
        "format": "<span style=\"color:{{msg.color}};\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_health",
        "type": "ui_text",
        "z": "status_flow",
        "group": "status_group",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Sensor Health",
        "label": "Sensors",
        "format": "<span style=\"color:{{msg.color}};\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "status_flow",
        "name": "Status Panel - Wire mavlink-comms output to ALL three filter nodes",
        "info": "## Status Panel Dashboard\n\nComprehensive vehicle status display.\n\n### Setup:\n1. Wire mavlink-comms output to ALL THREE filter nodes:\n   - Filter HEARTBEAT\n   - Filter GPS  \n   - Filter SYS_STATUS\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### Status Indicators:\n\n**Armed Status:**\n- Green = DISARMED (safe)\n- Red = ARMED (motors can spin!)\n\n**Flight Mode:**\nCurrent ArduPilot flight mode:\n- STABILIZE, GUIDED, AUTO, LOITER, RTL, etc.\n\n**System Status:**\n- ACTIVE = Normal flight\n- STANDBY = Ready to arm\n- CRITICAL = System error\n- EMERGENCY = Emergency state\n\n**GPS Status:**\n- Green = 3D Fix or better (good to fly)\n- Yellow = 2D Fix (position only)\n- Red = No Fix (don't fly!)\n\n**Sensor Health:**\n- Green \"ALL OK\" = All sensors healthy\n- Red \"FAIL: ...\" = Sensor problems\n\nMonitors: Gyro, Accelerometer, Magnetometer, GPS\n\n### Pre-Flight Checks:\nBefore arming, verify:\n✅ System status = STANDBY or ACTIVE\n✅ GPS status = Green (3D Fix+)\n✅ Sensor health = ALL OK\n✅ Flight mode = Appropriate for mission\n\nOnly then: ARM\n\n### Requirements:\n- node-red-dashboard installed\n- HEARTBEAT, GPS_RAW_INT, SYS_STATUS messages",
        "x": 280,
        "y": 20,
        "wires": []
    },
    {
        "id": "status_group",
        "type": "ui_group",
        "name": "Status",
        "tab": "telemetry_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "telemetry_tab",
        "type": "ui_tab",
        "name": "Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
