examples/basic-commands/arm-disarm.json
[
    {
        "id": "arm_disarm_flow",
        "type": "tab",
        "label": "MAVLink: Arm/Disarm",
        "disabled": false,
        "info": "Simple arm and disarm controls for your drone.\n\nClick ARM to arm the vehicle, DISARM to disarm.\n\nRequires mavlink-comms node to be configured and connected."
    },
    {
        "id": "inject_arm",
        "type": "inject",
        "z": "arm_disarm_flow",
        "name": "ARM",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [["function_arm"]]
    },
    {
        "id": "inject_disarm",
        "type": "inject",
        "z": "arm_disarm_flow",
        "name": "DISARM",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 180,
        "wires": [["function_disarm"]]
    },
    {
        "id": "function_arm",
        "type": "function",
        "z": "arm_disarm_flow",
        "name": "Build ARM Command",
        "func": "// MAV_CMD_COMPONENT_ARM_DISARM (400)\n// param1: 1 = arm, 0 = disarm\n// param2: 21196 = force arming/disarming (bypass safety checks)\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 400,\n    confirmation: 0,\n    param1: 1,     // ARM\n    param2: 0,     // No force (use 21196 to force)\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0,\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(\"Sending ARM command\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [["mavlink_msg", "debug_arm"]]
    },
    {
        "id": "function_disarm",
        "type": "function",
        "z": "arm_disarm_flow",
        "name": "Build DISARM Command",
        "func": "// MAV_CMD_COMPONENT_ARM_DISARM (400)\n// param1: 0 = disarm, 1 = arm\n// param2: 21196 = force arming/disarming (bypass safety checks)\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 400,\n    confirmation: 0,\n    param1: 0,     // DISARM\n    param2: 0,     // No force (use 21196 to force)\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0,\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(\"Sending DISARM command\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [["mavlink_msg", "debug_disarm"]]
    },
    {
        "id": "mavlink_msg",
        "type": "mavlink-msg",
        "z": "arm_disarm_flow",
        "name": "Send Command",
        "dialect": "common",
        "messageType": "",
        "systemId": "255",
        "componentId": "190",
        "fields": {},
        "x": 540,
        "y": 140,
        "wires": [["debug_sent"]]
    },
    {
        "id": "debug_arm",
        "type": "debug",
        "z": "arm_disarm_flow",
        "name": "ARM Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_disarm",
        "type": "debug",
        "z": "arm_disarm_flow",
        "name": "DISARM Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_sent",
        "type": "debug",
        "z": "arm_disarm_flow",
        "name": "Sent to Drone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "arm_disarm_flow",
        "name": "ARM/DISARM Example - Click ARM or DISARM buttons above",
        "info": "This flow demonstrates how to arm and disarm your drone using COMMAND_LONG.\n\n## How It Works:\n\n1. Click ARM or DISARM inject button\n2. Function node builds the COMMAND_LONG message\n3. mavlink-msg sends it via internal bus\n4. mavlink-comms transmits to drone\n\n## Command Details:\n\n**MAV_CMD_COMPONENT_ARM_DISARM (400)**\n- param1: 1 = ARM, 0 = DISARM  \n- param2: 0 = normal, 21196 = force (bypass checks)\n\n## Safety Notes:\n\n⚠️ Only arm when:\n- GPS lock achieved\n- Battery sufficient\n- Area is clear\n- Pre-flight checks complete\n\n## Customization:\n\n- Change `target_system` if using multiple drones\n- Set `param2: 21196` to force arm (dangerous!)\n- Add confirmation dialogs for safety",
        "x": 250,
        "y": 40,
        "wires": []
    }
]
