examples/basic-commands/emergency-controls.json
[
    {
        "id": "emergency_flow",
        "type": "tab",
        "label": "MAVLink: Emergency Controls",
        "disabled": false,
        "info": "Emergency return to launch and motor kill switch.\n\n🚨 USE WITH CAUTION 🚨"
    },
    {
        "id": "inject_rtl",
        "type": "inject",
        "z": "emergency_flow",
        "name": "🏠 RETURN TO LAUNCH",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 100,
        "wires": [["function_rtl"]]
    },
    {
        "id": "inject_kill",
        "type": "inject",
        "z": "emergency_flow",
        "name": "⚠️ EMERGENCY STOP MOTORS",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 180,
        "wires": [["function_kill"]]
    },
    {
        "id": "function_rtl",
        "type": "function",
        "z": "emergency_flow",
        "name": "Build RTL Command",
        "func": "// MAV_CMD_NAV_RETURN_TO_LAUNCH (20)\n// Returns to launch point and lands\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 20,   // MAV_CMD_NAV_RETURN_TO_LAUNCH\n    confirmation: 0,\n    param1: 0,\n    param2: 0,\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0,\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(\"🏠 RETURN TO LAUNCH command sent!\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [["mavlink_msg", "debug_rtl"]]
    },
    {
        "id": "function_kill",
        "type": "function",
        "z": "emergency_flow",
        "name": "Build KILL Command",
        "func": "// MAV_CMD_COMPONENT_ARM_DISARM (400) with FORCE\n// param1: 0 = disarm\n// param2: 21196 = FORCE (kills motors immediately)\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 400,\n    confirmation: 0,\n    param1: 0,      // DISARM\n    param2: 21196,  // FORCE (bypasses all safety checks)\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0,\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(\"⚠️ EMERGENCY MOTOR STOP command sent!\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [["mavlink_msg", "debug_kill"]]
    },
    {
        "id": "mavlink_msg",
        "type": "mavlink-msg",
        "z": "emergency_flow",
        "name": "Send Command",
        "dialect": "common",
        "messageType": "",
        "systemId": "255",
        "componentId": "190",
        "fields": {},
        "x": 640,
        "y": 140,
        "wires": [["debug_sent"]]
    },
    {
        "id": "debug_rtl",
        "type": "debug",
        "z": "emergency_flow",
        "name": "RTL Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_kill",
        "type": "debug",
        "z": "emergency_flow",
        "name": "KILL Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_sent",
        "type": "debug",
        "z": "emergency_flow",
        "name": "Sent to Drone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_warning",
        "type": "comment",
        "z": "emergency_flow",
        "name": "🚨 EMERGENCY CONTROLS - READ SAFETY NOTES BELOW 🚨",
        "info": "# ⚠️ DANGER - EMERGENCY CONTROLS ⚠️\n\n## RETURN TO LAUNCH (RTL)\n\n**Safe to use** - Vehicle will:\n1. Climb to RTL altitude (configurable parameter)\n2. Return to launch point\n3. Land automatically\n\n✅ Use when:\n- Lost visual contact\n- Low battery\n- Weather deteriorating\n- Need to abort mission\n\n## EMERGENCY MOTOR STOP\n\n**EXTREMELY DANGEROUS** - This will:\n1. Kill motors IMMEDIATELY\n2. Cause vehicle to FALL\n3. May result in CRASH and DAMAGE\n\n⚠️ ONLY use when:\n- Vehicle out of control\n- Collision imminent\n- Fire/smoke detected\n- Vehicle flying towards people/property\n\n**DO NOT use for:**\n- Normal landings (use LAND command)\n- Mode changes\n- Battery warnings (use RTL instead)\n\n## Safety Notes:\n\n- Test RTL at safe altitude first\n- Ensure RTL altitude parameter set correctly\n- Have clear area for emergency landing\n- Keep RC transmitter ready for manual override\n- EMERGENCY STOP should be absolute last resort\n\n## Parameters to Check:\n\n- RTL_ALT (RTL altitude in cm)\n- RTL_SPEED (horizontal speed)\n- RTL_ALT_FINAL (final descent altitude)\n- LAND_SPEED (landing descent rate)",
        "x": 250,
        "y": 40,
        "wires": []
    }
]
