examples/basic-commands/set-flight-mode.json
[
    {
        "id": "set_mode_flow",
        "type": "tab",
        "label": "MAVLink: Set Flight Mode",
        "disabled": false,
        "info": "Change flight modes easily.\n\nClick a mode button to switch."
    },
    {
        "id": "inject_guided",
        "type": "inject",
        "z": "set_mode_flow",
        "name": "GUIDED",
        "props": [{"p": "mode", "v": "GUIDED", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 80,
        "wires": [["function_set_mode"]]
    },
    {
        "id": "inject_auto",
        "type": "inject",
        "z": "set_mode_flow",
        "name": "AUTO",
        "props": [{"p": "mode", "v": "AUTO", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [["function_set_mode"]]
    },
    {
        "id": "inject_loiter",
        "type": "inject",
        "z": "set_mode_flow",
        "name": "LOITER",
        "props": [{"p": "mode", "v": "LOITER", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 200,
        "wires": [["function_set_mode"]]
    },
    {
        "id": "inject_rtl",
        "type": "inject",
        "z": "set_mode_flow",
        "name": "RTL",
        "props": [{"p": "mode", "v": "RTL", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 260,
        "wires": [["function_set_mode"]]
    },
    {
        "id": "inject_stabilize",
        "type": "inject",
        "z": "set_mode_flow",
        "name": "STABILIZE",
        "props": [{"p": "mode", "v": "STABILIZE", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 320,
        "wires": [["function_set_mode"]]
    },
    {
        "id": "function_set_mode",
        "type": "function",
        "z": "set_mode_flow",
        "name": "Build SET_MODE Command",
        "func": "// ArduPilot flight mode numbers\nconst modes = {\n    // Copter modes\n    'STABILIZE': 0,\n    'ACRO': 1,\n    'ALT_HOLD': 2,\n    'AUTO': 3,\n    'GUIDED': 4,\n    'LOITER': 5,\n    'RTL': 6,\n    'CIRCLE': 7,\n    'LAND': 9,\n    'DRIFT': 11,\n    'SPORT': 13,\n    'FLIP': 14,\n    'AUTOTUNE': 15,\n    'POSHOLD': 16,\n    'BRAKE': 17,\n    'THROW': 18,\n    'AVOID_ADSB': 19,\n    'GUIDED_NOGPS': 20,\n    'SMART_RTL': 21,\n    'FLOWHOLD': 22,\n    'FOLLOW': 23,\n    'ZIGZAG': 24,\n    'SYSTEMID': 25,\n    'AUTOROTATE': 26,\n    'AUTO_RTL': 27\n};\n\nconst mode = msg.mode || 'GUIDED';\nconst modeNum = modes[mode];\n\nif (modeNum === undefined) {\n    node.error(`Unknown mode: ${mode}`);\n    return null;\n}\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 176,  // MAV_CMD_DO_SET_MODE\n    confirmation: 0,\n    param1: 1,     // MAV_MODE_FLAG_CUSTOM_MODE_ENABLED\n    param2: modeNum,  // Custom mode number\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0,\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(`Setting flight mode to ${mode} (${modeNum})`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [["mavlink_msg", "debug_mode"]]
    },
    {
        "id": "mavlink_msg",
        "type": "mavlink-msg",
        "z": "set_mode_flow",
        "name": "Send Command",
        "dialect": "common",
        "messageType": "",
        "systemId": "255",
        "componentId": "190",
        "fields": {},
        "x": 620,
        "y": 180,
        "wires": [["debug_sent"]]
    },
    {
        "id": "debug_mode",
        "type": "debug",
        "z": "set_mode_flow",
        "name": "Mode Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_sent",
        "type": "debug",
        "z": "set_mode_flow",
        "name": "Sent to Drone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "set_mode_flow",
        "name": "SET FLIGHT MODE Example - Click mode buttons above",
        "info": "## Flight Modes:\n\n**GUIDED** - Accepts guided commands from GCS\n**AUTO** - Executes pre-programmed mission\n**LOITER** - Hold position with GPS\n**RTL** - Return to launch point\n**STABILIZE** - Manual RC control with stabilization\n\nAdd more modes by duplicating inject nodes!\n\n## ArduPilot Copter Modes:\n- STABILIZE (0), ACRO (1), ALT_HOLD (2)\n- AUTO (3), GUIDED (4), LOITER (5)\n- RTL (6), CIRCLE (7), LAND (9)\n- And many more...",
        "x": 250,
        "y": 40,
        "wires": []
    }
]
