examples/basic-commands/takeoff-land.json
[
    {
        "id": "takeoff_land_flow",
        "type": "tab",
        "label": "MAVLink: Takeoff/Land",
        "disabled": false,
        "info": "Automated takeoff and landing controls.\n\nSet altitude in inject node, click TAKEOFF.\nClick LAND when ready to land."
    },
    {
        "id": "inject_takeoff",
        "type": "inject",
        "z": "takeoff_land_flow",
        "name": "TAKEOFF",
        "props": [
            {
                "p": "altitude",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 100,
        "wires": [["function_takeoff"]]
    },
    {
        "id": "inject_land",
        "type": "inject",
        "z": "takeoff_land_flow",
        "name": "LAND",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [["function_land"]]
    },
    {
        "id": "function_takeoff",
        "type": "function",
        "z": "takeoff_land_flow",
        "name": "Build TAKEOFF Command",
        "func": "// MAV_CMD_NAV_TAKEOFF (22)\n// param7 = altitude in meters\n\nconst altitude = msg.altitude || 10;  // Default 10m\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 22,   // MAV_CMD_NAV_TAKEOFF\n    confirmation: 0,\n    param1: 0,     // Minimum pitch (if airspeed sensor present)\n    param2: 0,     // Empty\n    param3: 0,     // Empty\n    param4: NaN,   // Yaw angle (NaN = current yaw)\n    param5: 0,     // Latitude (0 = current position)\n    param6: 0,     // Longitude (0 = current position)\n    param7: altitude,  // Altitude in meters\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(`Sending TAKEOFF command to ${altitude}m`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["mavlink_msg", "debug_takeoff"]]
    },
    {
        "id": "function_land",
        "type": "function",
        "z": "takeoff_land_flow",
        "name": "Build LAND Command",
        "func": "// MAV_CMD_NAV_LAND (21)\n// Lands at current position\n\nmsg.payload = {\n    messageType: \"COMMAND_LONG\",\n    command: 21,   // MAV_CMD_NAV_LAND\n    confirmation: 0,\n    param1: 0,     // Abort altitude (0 = no minimum)\n    param2: 0,     // Land mode (precision landing behavior)\n    param3: 0,     // Empty\n    param4: NaN,   // Yaw angle (NaN = current yaw)\n    param5: 0,     // Latitude (0 = current position)\n    param6: 0,     // Longitude (0 = current position)\n    param7: 0,     // Altitude (0 = ground level)\n    target_system: 1,\n    target_component: 1\n};\n\nnode.warn(\"Sending LAND command\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [["mavlink_msg", "debug_land"]]
    },
    {
        "id": "mavlink_msg",
        "type": "mavlink-msg",
        "z": "takeoff_land_flow",
        "name": "Send Command",
        "dialect": "common",
        "messageType": "",
        "systemId": "255",
        "componentId": "190",
        "fields": {},
        "x": 580,
        "y": 150,
        "wires": [["debug_sent"]]
    },
    {
        "id": "debug_takeoff",
        "type": "debug",
        "z": "takeoff_land_flow",
        "name": "TAKEOFF Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_land",
        "type": "debug",
        "z": "takeoff_land_flow",
        "name": "LAND Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_sent",
        "type": "debug",
        "z": "takeoff_land_flow",
        "name": "Sent to Drone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 150,
        "wires": []
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "takeoff_land_flow",
        "name": "TAKEOFF/LAND Example - Set altitude in inject node, then click TAKEOFF or LAND",
        "info": "This flow demonstrates automated takeoff and landing.\n\n## How It Works:\n\n1. Edit TAKEOFF inject node to set desired altitude (default 10m)\n2. Click TAKEOFF to takeoff to that altitude\n3. Click LAND when ready to land\n\n## Command Details:\n\n**MAV_CMD_NAV_TAKEOFF (22)**\n- param7: Altitude in meters (relative to home)\n- param4: Yaw angle (NaN uses current heading)\n- Coordinates (0,0) uses current GPS position\n\n**MAV_CMD_NAV_LAND (21)**\n- Lands at current GPS position\n- param1: Abort altitude (0 = no minimum)\n- param2: Precision landing mode\n\n## Prerequisites:\n\n✅ Vehicle must be ARMED first (use arm-disarm flow)\n✅ GPS lock required\n✅ Flight mode should be GUIDED\n✅ Sufficient battery\n\n## Safety Notes:\n\n⚠️ Start with low altitudes (2-3m) for testing\n⚠️ Ensure area is clear before takeoff\n⚠️ Have manual RC ready for emergency takeover\n⚠️ Monitor telemetry during flight\n\n## Customization:\n\n- Edit inject node to change default altitude\n- Add altitude input from dashboard slider\n- Add confirmation before sending command\n- Sequence commands (arm → takeoff → delay → land)",
        "x": 320,
        "y": 40,
        "wires": []
    }
]
