examples/advanced/data-logger.json
[
    {
        "id": "logger_flow",
        "type": "tab",
        "label": "MAVLink: Data Logger",
        "disabled": false,
        "info": "Record all MAVLink traffic to file for analysis.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "ui_logger_controls",
        "type": "ui_group",
        "z": "logger_flow",
        "name": "Logger Controls",
        "tab": "advanced_tab",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_start_logging",
        "type": "ui_button",
        "z": "logger_flow",
        "name": "Start Logging",
        "group": "ui_logger_controls",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Start Logging",
        "tooltip": "Begin recording MAVLink messages",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "play_arrow",
        "payload": "start",
        "payloadType": "str",
        "topic": "logger/control",
        "topicType": "str",
        "x": 140,
        "y": 80,
        "wires": [["logger_control"]]
    },
    {
        "id": "ui_stop_logging",
        "type": "ui_button",
        "z": "logger_flow",
        "name": "Stop Logging",
        "group": "ui_logger_controls",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop Logging",
        "tooltip": "Stop recording",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "logger/control",
        "topicType": "str",
        "x": 140,
        "y": 120,
        "wires": [["logger_control"]]
    },
    {
        "id": "logger_control",
        "type": "function",
        "z": "logger_flow",
        "name": "Logger Control",
        "func": "const command = msg.payload;\n\nif (command === 'start') {\n    // Generate log filename with timestamp\n    const now = new Date();\n    const timestamp = now.toISOString().replace(/[:.]/g, '-').substring(0, 19);\n    const filename = `/tmp/mavlink-log-${timestamp}.jsonl`;\n    \n    flow.set('logging_enabled', true);\n    flow.set('log_filename', filename);\n    flow.set('log_start_time', Date.now());\n    flow.set('message_count', 0);\n    flow.set('bytes_written', 0);\n    \n    node.status({ fill: \"green\", shape: \"dot\", text: \"Logging started\" });\n    \n    return {\n        payload: `Logging started: ${filename}`,\n        topic: 'logger/status'\n    };\n    \n} else if (command === 'stop') {\n    const wasLogging = flow.get('logging_enabled') || false;\n    const filename = flow.get('log_filename') || 'unknown';\n    const messageCount = flow.get('message_count') || 0;\n    const bytesWritten = flow.get('bytes_written') || 0;\n    \n    flow.set('logging_enabled', false);\n    \n    if (wasLogging) {\n        const duration = (Date.now() - flow.get('log_start_time')) / 1000;\n        node.status({ fill: \"red\", shape: \"ring\", text: \"Logging stopped\" });\n        \n        return {\n            payload: `Logging stopped: ${messageCount} messages, ${(bytesWritten/1024).toFixed(1)}KB in ${duration.toFixed(0)}s\\nFile: ${filename}`,\n            topic: 'logger/status'\n        };\n    } else {\n        node.status({ fill: \"gray\", shape: \"ring\", text: \"Not logging\" });\n        return {\n            payload: 'Logger was not running',\n            topic: 'logger/status'\n        };\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [["ui_status_display", "status_toast"]]
    },
    {
        "id": "ui_status_display",
        "type": "ui_text",
        "z": "logger_flow",
        "group": "ui_logger_controls",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "Logger Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "status_toast",
        "type": "ui_toast",
        "z": "logger_flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Logger",
        "name": "Status Toast",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "mavlink_input",
        "type": "junction",
        "z": "logger_flow",
        "name": "MAVLink Messages In",
        "x": 150,
        "y": 220,
        "wires": [["filter_logging", "stats_counter"]]
    },
    {
        "id": "filter_logging",
        "type": "switch",
        "z": "logger_flow",
        "name": "Check If Logging",
        "property": "$flowContext('logging_enabled')",
        "propertyType": "jsonata",
        "rules": [
            {"t": "true"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 220,
        "wires": [["format_log_entry"]]
    },
    {
        "id": "format_log_entry",
        "type": "function",
        "z": "logger_flow",
        "name": "Format Log Entry",
        "func": "// Format as JSON Lines (one JSON object per line)\nconst logEntry = {\n    timestamp: new Date().toISOString(),\n    unix_time: Date.now(),\n    message_type: msg.topic,\n    system_id: msg.mavlink?.header?.sysid || msg.payload?.sysid || 0,\n    component_id: msg.mavlink?.header?.compid || msg.payload?.compid || 0,\n    payload: msg.payload\n};\n\nconst jsonLine = JSON.stringify(logEntry) + '\\n';\n\n// Update statistics\nlet messageCount = flow.get('message_count') || 0;\nlet bytesWritten = flow.get('bytes_written') || 0;\n\nmessageCount++;\nbytesWritten += jsonLine.length;\n\nflow.set('message_count', messageCount);\nflow.set('bytes_written', bytesWritten);\n\n// Update node status\nconst duration = (Date.now() - flow.get('log_start_time')) / 1000;\nconst rate = messageCount / duration;\nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `${messageCount} msgs (${rate.toFixed(1)}/s)` \n});\n\nreturn {\n    payload: jsonLine,\n    filename: flow.get('log_filename')\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [["write_to_file"]]
    },
    {
        "id": "write_to_file",
        "type": "file",
        "z": "logger_flow",
        "name": "Write Log File",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 780,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "stats_counter",
        "type": "function",
        "z": "logger_flow",
        "name": "Update Statistics",
        "func": "// Count messages by type\nlet stats = flow.get('message_stats') || {};\nconst messageType = msg.topic;\n\nif (!stats[messageType]) {\n    stats[messageType] = 0;\n}\nstats[messageType]++;\n\nflow.set('message_stats', stats);\n\nreturn null;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "stats_timer",
        "type": "inject",
        "z": "logger_flow",
        "name": "Update Stats (every 2s)",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [["format_statistics"]]
    },
    {
        "id": "format_statistics",
        "type": "function",
        "z": "logger_flow",
        "name": "Format Statistics",
        "func": "const isLogging = flow.get('logging_enabled') || false;\n\nif (!isLogging) {\n    return {\n        payload: 'Not logging',\n        stats: null\n    };\n}\n\nconst stats = flow.get('message_stats') || {};\nconst messageCount = flow.get('message_count') || 0;\nconst bytesWritten = flow.get('bytes_written') || 0;\nconst startTime = flow.get('log_start_time') || Date.now();\nconst duration = (Date.now() - startTime) / 1000;\n\n// Sort by count\nconst sortedStats = Object.entries(stats)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 10);  // Top 10\n\nconst statsTable = sortedStats.map(([type, count]) => {\n    const rate = (count / duration).toFixed(1);\n    return `${type}: ${count} (${rate}/s)`;\n}).join('\\n');\n\nreturn {\n    payload: {\n        total_messages: messageCount,\n        bytes_written: bytesWritten,\n        duration_seconds: duration.toFixed(0),\n        rate: (messageCount / duration).toFixed(1),\n        file_size_kb: (bytesWritten / 1024).toFixed(1),\n        top_messages: statsTable\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [["ui_statistics"]]
    },
    {
        "id": "ui_statistics",
        "type": "ui_template",
        "z": "logger_flow",
        "group": "ui_logger_controls",
        "name": "Statistics Display",
        "order": 4,
        "width": 6,
        "height": 6,
        "format": "<div style=\"font-family:monospace; font-size:12px;\">\n    <h3>Logging Statistics</h3>\n    <table style=\"width:100%;\">\n        <tr>\n            <td><b>Total Messages:</b></td>\n            <td>{{msg.payload.total_messages}}</td>\n        </tr>\n        <tr>\n            <td><b>Duration:</b></td>\n            <td>{{msg.payload.duration_seconds}}s</td>\n        </tr>\n        <tr>\n            <td><b>Message Rate:</b></td>\n            <td>{{msg.payload.rate}} msg/s</td>\n        </tr>\n        <tr>\n            <td><b>File Size:</b></td>\n            <td>{{msg.payload.file_size_kb}} KB</td>\n        </tr>\n    </table>\n    <br>\n    <h4>Top Message Types:</h4>\n    <pre style=\"background:#f0f0f0; padding:10px; border-radius:5px;\">{{msg.payload.top_messages}}</pre>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "logger_flow",
        "name": "Data Logger - Wire mavlink-comms output to 'MAVLink Messages In' junction",
        "info": "## Data Logger\n\nRecord all MAVLink traffic to file for later analysis.\n\n### Setup:\n1. Wire mavlink-comms output → 'MAVLink Messages In' junction\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n\n### Usage:\n\n**Start Logging:**\n1. Click \"Start Logging\" button\n2. Log file created: `/tmp/mavlink-log-YYYY-MM-DD-HH-MM-SS.jsonl`\n3. All messages recorded with timestamps\n\n**Stop Logging:**\n1. Click \"Stop Logging\" button\n2. Final statistics displayed\n3. File ready for analysis\n\n### Log File Format:\n\nJSON Lines format (one JSON object per line):\n\n```json\n{\"timestamp\":\"2025-01-15T10:30:45.123Z\",\"unix_time\":1736936445123,\"message_type\":\"HEARTBEAT\",\"system_id\":1,\"component_id\":1,\"payload\":{\"type\":2,\"autopilot\":3,...}}\n{\"timestamp\":\"2025-01-15T10:30:45.456Z\",\"unix_time\":1736936445456,\"message_type\":\"GPS_RAW_INT\",\"system_id\":1,\"component_id\":1,\"payload\":{\"lat\":353632610,\"lon\":1491652300,...}}\n```\n\nEach line contains:\n- `timestamp` - ISO 8601 timestamp\n- `unix_time` - Unix timestamp (milliseconds)\n- `message_type` - MAVLink message name\n- `system_id` - MAVLink system ID\n- `component_id` - MAVLink component ID\n- `payload` - Full message data\n\n### Statistics:\n\nReal-time display shows:\n- **Total Messages** - Count of all logged messages\n- **Duration** - Logging session duration\n- **Message Rate** - Average messages per second\n- **File Size** - Log file size in KB\n- **Top Message Types** - Most frequent messages\n\n### Analyzing Log Files:\n\n**Command Line Tools:**\n\n```bash\n# Count total messages\nwc -l mavlink-log-*.jsonl\n\n# View first 10 messages\nhead -10 mavlink-log-*.jsonl | jq .\n\n# Filter by message type (HEARTBEAT)\ngrep '\"message_type\":\"HEARTBEAT\"' mavlink-log-*.jsonl | jq .\n\n# Count messages by type\ncat mavlink-log-*.jsonl | jq -r .message_type | sort | uniq -c | sort -rn\n\n# Get all GPS positions\ngrep GPS_RAW_INT mavlink-log-*.jsonl | jq '{time:.timestamp, lat:(.payload.lat/1e7), lon:(.payload.lon/1e7), alt:.payload.alt}'\n\n# Extract battery data\ngrep SYS_STATUS mavlink-log-*.jsonl | jq '{time:.timestamp, battery_pct:.payload.battery_remaining, voltage:(.payload.voltage_battery/1000)}'\n\n# Find messages in time range\ncat mavlink-log-*.jsonl | jq 'select(.timestamp >= \"2025-01-15T10:30:00Z\" and .timestamp <= \"2025-01-15T10:35:00Z\")'\n```\n\n**Python Analysis:**\n\n```python\nimport json\nimport pandas as pd\n\n# Load log file\nwith open('mavlink-log-2025-01-15-10-30-45.jsonl') as f:\n    messages = [json.loads(line) for line in f]\n\n# Convert to DataFrame\ndf = pd.DataFrame(messages)\n\n# Count by message type\nprint(df['message_type'].value_counts())\n\n# Plot GPS track\ngps_msgs = df[df['message_type'] == 'GPS_RAW_INT']\nlats = [m['lat']/1e7 for m in gps_msgs['payload']]\nlons = [m['lon']/1e7 for m in gps_msgs['payload']]\n\nimport matplotlib.pyplot as plt\nplt.plot(lons, lats)\nplt.xlabel('Longitude')\nplt.ylabel('Latitude')\nplt.title('Flight Path')\nplt.show()\n\n# Battery over time\nsys_msgs = df[df['message_type'] == 'SYS_STATUS']\ntimes = pd.to_datetime(sys_msgs['timestamp'])\nbattery = [m['battery_remaining'] for m in sys_msgs['payload']]\n\nplt.plot(times, battery)\nplt.xlabel('Time')\nplt.ylabel('Battery %')\nplt.title('Battery Discharge')\nplt.show()\n```\n\n### Use Cases:\n\n**Flight Analysis:**\n- Review complete flight telemetry\n- Debug issues after landing\n- Analyze performance trends\n- Generate reports\n\n**Development:**\n- Record test flights\n- Verify command sequences\n- Debug integration issues\n- Replay scenarios\n\n**Compliance:**\n- Keep audit logs\n- Document operations\n- Investigate incidents\n- Training reviews\n\n### Performance:\n\n**Typical message rates:**\n- Idle: 5-10 msg/s\n- Normal flight: 20-50 msg/s\n- High rate streaming: 100+ msg/s\n\n**File sizes (1 hour flight):**\n- Low rate: ~5-10 MB\n- Normal rate: ~50-100 MB\n- High rate: ~200-500 MB\n\n**Storage recommendations:**\n- `/tmp` for temporary logs (deleted on reboot)\n- `/home/user/mavlink-logs` for permanent storage\n- External USB for long-term archive\n\n### Filtering Messages:\n\nTo log only specific message types, add a switch node before `filter_logging`:\n\n```\n[mavlink_input] → [switch: filter types] → [filter_logging]\n```\n\nSwitch rules:\n```\ntopic equals HEARTBEAT\ntopic equals GPS_RAW_INT\ntopic equals SYS_STATUS\n...\n```\n\nThis reduces file size and focuses on important data.\n\n### Customization:\n\n**Change log location:**\nEdit `logger_control` function:\n```javascript\nconst filename = `/home/user/logs/mavlink-log-${timestamp}.jsonl`;\n```\n\n**Add custom fields:**\nEdit `format_log_entry` function:\n```javascript\nconst logEntry = {\n    // ... existing fields ...\n    flight_id: flow.get('current_flight_id'),\n    vehicle_name: 'My Drone',\n    pilot: 'John Doe'\n};\n```\n\n**Change file format:**\nModify `format_log_entry` to output CSV, binary, etc.\n\n### Troubleshooting:\n\n**File not created:**\n- Check `/tmp` directory exists and is writable\n- Verify logging is started (green status)\n- Check Node-RED logs for errors\n\n**File too large:**\n- Stop and restart logging periodically\n- Filter to log only important message types\n- Use log rotation (create new file every N minutes)\n\n**Missing messages:**\n- Check wire from mavlink-comms is connected\n- Verify messages are being received (debug panel)\n- Check disk space (logging stops if full)\n\n**Can't analyze file:**\n- Verify JSONL format (one JSON per line)\n- Check file isn't corrupted\n- Use `jq` to validate JSON: `jq empty mavlink-log-*.jsonl`\n\n### Best Practices:\n\n1. **Always log test flights** - You never know what you'll need later\n2. **Label files clearly** - Include date, vehicle, mission in filename\n3. **Archive important logs** - Don't rely on /tmp\n4. **Review logs regularly** - Find patterns and issues\n5. **Delete old logs** - Don't fill disk\n6. **Backup before analysis** - Keep original intact\n7. **Document anomalies** - Note interesting events in separate file\n\n### Requirements:\n- node-red-dashboard installed\n- Write access to /tmp or configured log directory\n- Sufficient disk space for log files",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "advanced_tab",
        "type": "ui_tab",
        "name": "Advanced",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
