examples/advanced/flight-simulator.json
[
    {
        "id": "simulator_flow",
        "type": "tab",
        "label": "MAVLink: Flight Simulator (Log Replay)",
        "disabled": false,
        "info": "Replay recorded MAVLink logs for testing dashboards and debugging.\n\nRequires: Recorded log from data-logger.json"
    },
    {
        "id": "ui_load_log",
        "type": "ui_form",
        "z": "simulator_flow",
        "name": "Load Log File",
        "label": "Load Flight Log",
        "group": "sim_group",
        "order": 1,
        "width": 6,
        "height": 2,
        "options": [
            {"label": "Log File Path", "value": "filepath", "type": "text", "required": true, "rows": null}
        ],
        "formValue": {"filepath": "/tmp/mavlink-log-2025-11-02-04-00-00.jsonl"},
        "payload": "",
        "submit": "Load Log",
        "cancel": "Cancel",
        "topic": "load_log",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 150,
        "y": 80,
        "wires": [["load_log_file"]]
    },
    {
        "id": "load_log_file",
        "type": "file in",
        "z": "simulator_flow",
        "name": "Read Log File",
        "filename": "",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 80,
        "wires": [["parse_log"]]
    },
    {
        "id": "parse_log",
        "type": "function",
        "z": "simulator_flow",
        "name": "Parse JSONL",
        "func": "// Parse JSON Lines format\nconst filepath = msg.payload.filepath || msg.filename;\nconst content = msg.payload;\n\nif (!content) {\n    node.error('No log content');\n    return null;\n}\n\n// Split into lines and parse each JSON object\nconst lines = content.toString().split('\\n').filter(l => l.trim().length > 0);\nconst messages = [];\n\nfor (const line of lines) {\n    try {\n        const parsed = JSON.parse(line);\n        messages.push(parsed);\n    } catch (e) {\n        node.warn(`Skipping invalid line: ${line.substring(0, 50)}...`);\n    }\n}\n\nif (messages.length === 0) {\n    node.error('No valid messages found in log file');\n    return null;\n}\n\n// Store in flow context\nflow.set('log_messages', messages);\nflow.set('log_index', 0);\nflow.set('log_playing', false);\nflow.set('log_loaded_file', filepath);\n\n// Get time range\nconst startTime = new Date(messages[0].timestamp);\nconst endTime = new Date(messages[messages.length - 1].timestamp);\nconst duration = (endTime - startTime) / 1000;  // seconds\n\nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `Loaded ${messages.length} msgs (${duration.toFixed(0)}s)` \n});\n\nreturn {\n    payload: {\n        message_count: messages.length,\n        duration_seconds: duration.toFixed(1),\n        start_time: startTime.toISOString(),\n        end_time: endTime.toISOString(),\n        file: filepath\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 550,
        "y": 80,
        "wires": [["ui_log_info", "toast_loaded"]]
    },
    {
        "id": "ui_log_info",
        "type": "ui_text",
        "z": "simulator_flow",
        "group": "sim_group",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Log Info",
        "label": "Loaded Log",
        "format": "<b>File:</b> {{msg.payload.file}}<br>\n<b>Messages:</b> {{msg.payload.message_count}}<br>\n<b>Duration:</b> {{msg.payload.duration_seconds}}s<br>\n<b>Start:</b> {{msg.payload.start_time}}<br>\n<b>End:</b> {{msg.payload.end_time}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "toast_loaded",
        "type": "ui_toast",
        "z": "simulator_flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Log Loaded",
        "name": "Load Success",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "btn_play",
        "type": "ui_button",
        "z": "simulator_flow",
        "name": "Play",
        "group": "sim_controls",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Play",
        "tooltip": "Start replay",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "play_arrow",
        "payload": "play",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 130,
        "y": 180,
        "wires": [["playback_control"]]
    },
    {
        "id": "btn_pause",
        "type": "ui_button",
        "z": "simulator_flow",
        "name": "Pause",
        "group": "sim_controls",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Pause",
        "tooltip": "Pause replay",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "pause",
        "payload": "pause",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 130,
        "y": 220,
        "wires": [["playback_control"]]
    },
    {
        "id": "btn_stop",
        "type": "ui_button",
        "z": "simulator_flow",
        "name": "Stop",
        "group": "sim_controls",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "Stop and reset",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 130,
        "y": 260,
        "wires": [["playback_control"]]
    },
    {
        "id": "playback_control",
        "type": "function",
        "z": "simulator_flow",
        "name": "Playback Control",
        "func": "const cmd = msg.payload;\nconst messages = flow.get('log_messages') || [];\n\nif (messages.length === 0) {\n    node.warn('No log loaded');\n    return null;\n}\n\nif (cmd === 'play') {\n    flow.set('log_playing', true);\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Playing\" });\n    return { payload: 'start' };\n    \n} else if (cmd === 'pause') {\n    flow.set('log_playing', false);\n    node.status({ fill: \"yellow\", shape: \"ring\", text: \"Paused\" });\n    return null;\n    \n} else if (cmd === 'stop') {\n    flow.set('log_playing', false);\n    flow.set('log_index', 0);\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Stopped\" });\n    return null;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [["playback_timer"]]
    },
    {
        "id": "playback_timer",
        "type": "function",
        "z": "simulator_flow",
        "name": "Playback Engine",
        "func": "// Check if playing\nconst playing = flow.get('log_playing');\nif (!playing) return null;\n\nconst messages = flow.get('log_messages') || [];\nlet index = flow.get('log_index') || 0;\n\nif (index >= messages.length) {\n    // End of log\n    flow.set('log_playing', false);\n    flow.set('log_index', 0);\n    node.status({ fill: \"blue\", shape: \"ring\", text: \"Finished\" });\n    return {\n        payload: 'Playback complete',\n        topic: 'simulator/complete'\n    };\n}\n\n// Get current and next message\nconst current = messages[index];\nconst next = messages[index + 1];\n\n// Calculate delay to next message (real-time playback)\nlet delay = 100;  // Default 100ms\nif (next) {\n    const currentTime = new Date(current.timestamp).getTime();\n    const nextTime = new Date(next.timestamp).getTime();\n    delay = nextTime - currentTime;\n    \n    // Speed control (edit here)\n    const playbackSpeed = 1.0;  // 1.0 = real-time, 2.0 = 2x speed, 0.5 = half speed\n    delay = delay / playbackSpeed;\n    \n    // Clamp to reasonable range\n    if (delay < 10) delay = 10;\n    if (delay > 5000) delay = 5000;\n}\n\n// Update index for next iteration\nflow.set('log_index', index + 1);\n\n// Update status\nconst progress = ((index / messages.length) * 100).toFixed(0);\nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `Playing ${progress}% (${index}/${messages.length})` \n});\n\n// Schedule next message\nsetTimeout(() => {\n    node.send({ payload: 'tick' });\n}, delay);\n\n// Output current message in MAVLink format\nreturn {\n    payload: current.payload,\n    topic: current.message_type,\n    mavlink: current.payload\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [["playback_timer", "simulated_output", "ui_progress"]]
    },
    {
        "id": "simulated_output",
        "type": "junction",
        "z": "simulator_flow",
        "name": "Simulated MAVLink Output",
        "x": 820,
        "y": 220,
        "wires": [["debug_sim"]]
    },
    {
        "id": "debug_sim",
        "type": "debug",
        "z": "simulator_flow",
        "name": "Simulated Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_progress",
        "type": "function",
        "z": "simulator_flow",
        "name": "Format Progress",
        "func": "const index = flow.get('log_index') || 0;\nconst messages = flow.get('log_messages') || [];\n\nif (messages.length === 0) return null;\n\nconst progress = ((index / messages.length) * 100).toFixed(1);\n\nreturn {\n    payload: {\n        progress: progress,\n        current: index,\n        total: messages.length\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [["ui_progress_bar"]]
    },
    {
        "id": "ui_progress_bar",
        "type": "ui_template",
        "z": "simulator_flow",
        "group": "sim_controls",
        "name": "Progress Bar",
        "order": 4,
        "width": 6,
        "height": 2,
        "format": "<div style=\"padding:10px;\">\n    <b>Playback Progress</b><br>\n    Message {{msg.payload.current}} / {{msg.payload.total}} ({{msg.payload.progress}}%)\n    <div style=\"background:#ddd; border-radius:5px; overflow:hidden; margin-top:10px;\">\n        <div style=\"width:{{msg.payload.progress}}%; background:green; height:30px; transition:width 0.1s;\"></div>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "ui_speed_slider",
        "type": "ui_slider",
        "z": "simulator_flow",
        "name": "Playback Speed",
        "label": "Speed",
        "tooltip": "1.0 = real-time, 2.0 = double speed",
        "group": "sim_controls",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "playback_speed",
        "topicType": "str",
        "min": "0.1",
        "max": "10",
        "step": "0.1",
        "className": "",
        "x": 160,
        "y": 320,
        "wires": [["set_speed"]]
    },
    {
        "id": "set_speed",
        "type": "function",
        "z": "simulator_flow",
        "name": "Store Speed",
        "func": "flow.set('playback_speed', msg.payload);\nreturn { payload: `Speed: ${msg.payload}x` };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "simulator_flow",
        "name": "Flight Simulator - Wire 'Simulated MAVLink Output' to your dashboard nodes for testing",
        "info": "## Flight Simulator (Log Replay)\n\nReplay recorded MAVLink logs for testing dashboards without a real drone.\n\n### Setup:\n\n1. **Record a log:**\n   - Import `data-logger.json`\n   - Record a real flight\n   - Note the log file path (e.g., `/tmp/mavlink-log-*.jsonl`)\n\n2. **Wire this flow:**\n   - Wire 'Simulated MAVLink Output' junction → Your dashboard nodes\n   - Same place you'd wire mavlink-comms output\n\n3. **Deploy**\n\n4. **Load and play:**\n   - Enter log file path\n   - Click \"Load Log\"\n   - Click \"Play\"\n   - Watch your dashboard replay the flight!\n\n### Usage:\n\n**Load Log:**\n1. Enter full path to JSONL log file\n2. Click \"Load Log\"\n3. Info shows message count and duration\n\n**Playback Controls:**\n- ▶️ **Play** - Start/resume playback\n- ⏸️ **Pause** - Pause playback\n- ⏹️ **Stop** - Stop and reset to beginning\n\n**Speed Control:**\n- Slider adjusts playback speed\n- 1.0 = Real-time (as originally recorded)\n- 2.0 = Double speed (faster)\n- 0.5 = Half speed (slower)\n- 10.0 = Maximum speed (fast testing)\n\n**Progress:**\n- Bar shows playback position\n- Message counter shows current/total\n- Percentage of completion\n\n### How It Works:\n\n1. **Load:**\n   - Reads JSONL file\n   - Parses each line as JSON\n   - Stores all messages in memory\n\n2. **Playback:**\n   - Calculates time between messages\n   - Plays back at correct timing (or adjusted by speed)\n   - Outputs messages in same format as mavlink-comms\n\n3. **Messages:**\n   - Each message has: `payload`, `topic`, `mavlink`\n   - Exact same format as real telemetry\n   - Your dashboard can't tell the difference!\n\n### Use Cases:\n\n**Dashboard Development:**\n- Build dashboards without drone connected\n- Test with real flight data\n- Iterate quickly\n\n**Debugging:**\n- Replay problematic flights\n- Find exact moment of issue\n- Test fixes with same data\n\n**Training:**\n- Show recorded flights\n- Demonstrate features\n- Safe practice without risk\n\n**Testing:**\n- Regression testing\n- UI/UX evaluation\n- Performance testing\n\n### Customization:\n\n**Change playback speed in code:**\nEdit `playback_timer` function:\n```javascript\nconst playbackSpeed = 2.0;  // 2x speed\n```\n\n**Filter message types:**\nAdd before simulated output:\n```javascript\nif (current.message_type !== 'HEARTBEAT') {\n    return msg;  // Skip heartbeats\n}\n```\n\n**Loop playback:**\nChange in `playback_timer`:\n```javascript\nif (index >= messages.length) {\n    flow.set('log_index', 0);  // Loop instead of stop\n    return null;\n}\n```\n\n**Jump to timestamp:**\nAdd button that sets:\n```javascript\nflow.set('log_index', targetIndex);\n```\n\n### Advanced Features:\n\n**Merge multiple logs:**\nLoad multiple files and combine arrays before playback.\n\n**Edit on the fly:**\nModify messages before output:\n```javascript\ncurrent.payload.battery_remaining = 50;  // Test low battery\n```\n\n**Sync with video:**\nUse timestamps to sync with recorded video of flight.\n\n**A/B testing:**\nPlay same flight through different dashboard versions.\n\n### Troubleshooting:\n\n**Log won't load:**\n- Check file path is correct and absolute\n- Verify file exists: `ls -la /tmp/mavlink-*.jsonl`\n- Check file permissions (readable)\n- Ensure JSONL format (one JSON per line)\n\n**Playback too fast/slow:**\n- Adjust speed slider\n- Check time calculations in code\n- Verify log has valid timestamps\n\n**Messages not appearing:**\n- Check 'Simulated MAVLink Output' is wired\n- Verify debug shows messages\n- Check dashboard filters are correct\n\n**Playback stops early:**\n- Check for invalid messages in log\n- Look for parsing errors in debug\n- Verify all lines are valid JSON\n\n### Tips:\n\n1. **Record test scenarios** - Create logs of specific situations (low battery, GPS loss, etc.)\n2. **Name logs descriptively** - `mavlink-low-battery-test.jsonl`\n3. **Keep short logs** - 1-2 minute clips for specific testing\n4. **Speed up boring parts** - 10x speed through stable flight, slow down for events\n5. **Combine with other examples** - Test safety-monitor, geofence, full GCS, etc.\n\n### File Format:\n\nExpects JSONL from data-logger.json:\n```json\n{\"timestamp\":\"2025-11-02T10:30:45.123Z\",\"unix_time\":1699876245123,\"message_type\":\"HEARTBEAT\",\"system_id\":1,\"component_id\":1,\"payload\":{...}}\n{\"timestamp\":\"2025-11-02T10:30:45.456Z\",\"unix_time\":1699876245456,\"message_type\":\"GPS_RAW_INT\",\"system_id\":1,\"component_id\":1,\"payload\":{...}}\n```\n\n### Performance:\n\n**Memory:**\n- Entire log loaded into memory\n- 10 minutes @ 50 msg/s = ~30,000 messages = ~30-50 MB\n- Large logs (hours) may need streaming approach\n\n**Timing:**\n- Uses setTimeout for scheduling\n- Accurate to ~10ms\n- High-speed playback (10x) may lose precision\n\n**CPU:**\n- Minimal during playback\n- Parsing happens only on load\n- Dashboard rendering is the bottleneck\n\n### Requirements:\n- node-red-dashboard\n- Log file from data-logger.json (JSONL format)\n- Sufficient memory for log file",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "sim_group",
        "type": "ui_group",
        "name": "Log File",
        "tab": "simulator_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "sim_controls",
        "type": "ui_group",
        "name": "Playback Controls",
        "tab": "simulator_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "simulator_tab",
        "type": "ui_tab",
        "name": "Flight Simulator",
        "icon": "flight",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
