examples/advanced/geofence-visualization.json
[
    {
        "id": "geofence_flow",
        "type": "tab",
        "label": "MAVLink: Geofence Monitor",
        "disabled": false,
        "info": "Visual geofence monitoring with map display and alerts.\n\nRequires: node-red-dashboard, node-red-contrib-web-worldmap"
    },
    {
        "id": "filter_gps_pos",
        "type": "switch",
        "z": "geofence_flow",
        "name": "Filter GLOBAL_POSITION_INT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 230,
        "y": 100,
        "wires": [["process_position"]]
    },
    {
        "id": "process_position",
        "type": "function",
        "z": "geofence_flow",
        "name": "Process Position & Check Fence",
        "func": "const pos = msg.payload;\nif (!pos) return null;\n\n// Convert to decimal degrees\nconst lat = pos.lat / 1e7;\nconst lon = pos.lon / 1e7;\nconst alt = pos.relativeAlt / 1000;  // mm to m\n\n// Get or set home position\nlet home = flow.get('home_position');\nif (!home) {\n    home = { lat: lat, lon: lon, alt: 0 };\n    flow.set('home_position', home);\n}\n\n// Calculate distance from home (Haversine)\nconst R = 6371000; // Earth radius in meters\nconst lat1 = home.lat * Math.PI / 180;\nconst lat2 = lat * Math.PI / 180;\nconst dLat = (lat - home.lat) * Math.PI / 180;\nconst dLon = (lon - home.lon) * Math.PI / 180;\n\nconst a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n          Math.cos(lat1) * Math.cos(lat2) *\n          Math.sin(dLon/2) * Math.sin(dLon/2);\nconst c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\nconst distance = R * c;\n\n// Geofence settings (editable here)\nconst MAX_DISTANCE = 500;  // meters\nconst WARNING_DISTANCE = 400;  // meters\nconst MAX_ALTITUDE = 120;  // meters\nconst WARNING_ALTITUDE = 100;  // meters\n\n// Check violations\nlet distanceStatus = 'OK';\nlet altitudeStatus = 'OK';\nlet color = 'green';\n\nif (distance > MAX_DISTANCE) {\n    distanceStatus = 'BREACH';\n    color = 'red';\n} else if (distance > WARNING_DISTANCE) {\n    distanceStatus = 'WARNING';\n    color = 'orange';\n}\n\nif (alt > MAX_ALTITUDE) {\n    altitudeStatus = 'BREACH';\n    color = 'red';\n} else if (alt > WARNING_ALTITUDE) {\n    altitudeStatus = 'WARNING';\n    if (color === 'green') color = 'orange';\n}\n\n// WorldMap output (drone position)\nconst droneMarker = {\n    name: 'drone',\n    lat: lat,\n    lon: lon,\n    icon: 'helicopter',\n    iconColor: color,\n    layer: 'Drone'\n};\n\n// Home marker\nconst homeMarker = {\n    name: 'home',\n    lat: home.lat,\n    lon: home.lon,\n    icon: 'home',\n    iconColor: 'blue',\n    layer: 'Home'\n};\n\n// Geofence circle (max distance)\nconst fenceCircle = {\n    name: 'geofence',\n    lat: home.lat,\n    lon: home.lon,\n    radius: MAX_DISTANCE,\n    layer: 'Geofence',\n    color: '#ff0000',\n    fillColor: '#ff000020'\n};\n\n// Warning circle\nconst warningCircle = {\n    name: 'warning',\n    lat: home.lat,\n    lon: home.lon,\n    radius: WARNING_DISTANCE,\n    layer: 'Geofence',\n    color: '#ff8800',\n    fillColor: '#ff880020'\n};\n\n// Status display\nconst status = {\n    distance: distance.toFixed(0),\n    altitude: alt.toFixed(1),\n    distanceStatus: distanceStatus,\n    altitudeStatus: altitudeStatus,\n    distancePercent: ((distance / MAX_DISTANCE) * 100).toFixed(0),\n    altitudePercent: ((alt / MAX_ALTITUDE) * 100).toFixed(0)\n};\n\nreturn [\n    { payload: droneMarker },      // Drone position\n    { payload: homeMarker },        // Home marker\n    { payload: fenceCircle },       // Max fence\n    { payload: warningCircle },     // Warning fence\n    { payload: status, topic: 'geofence/status' },  // Status\n    distance > MAX_DISTANCE || alt > MAX_ALTITUDE ? \n        { payload: `🚨 GEOFENCE BREACH! Distance: ${distance.toFixed(0)}m, Alt: ${alt.toFixed(0)}m` } : null  // Alert\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            ["worldmap"],
            ["worldmap"],
            ["worldmap"],
            ["worldmap"],
            ["ui_geofence_status"],
            ["ui_breach_alert"]
        ]
    },
    {
        "id": "worldmap",
        "type": "worldmap",
        "z": "geofence_flow",
        "name": "Geofence Map",
        "lat": "37.7749",
        "lon": "-122.4194",
        "zoom": "16",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSM,Esri,OSMG",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_geofence_status",
        "type": "ui_template",
        "z": "geofence_flow",
        "group": "geofence_group",
        "name": "Geofence Status",
        "order": 1,
        "width": 6,
        "height": 4,
        "format": "<div style=\"padding:10px;\">\n    <h3>Geofence Status</h3>\n    <table style=\"width:100%; font-size:14px;\">\n        <tr>\n            <td><b>Distance from Home:</b></td>\n            <td>{{msg.payload.distance}} m</td>\n            <td>\n                <span ng-style=\"{'color': msg.payload.distanceStatus === 'BREACH' ? 'red' : (msg.payload.distanceStatus === 'WARNING' ? 'orange' : 'green'), 'font-weight': 'bold'}\">\n                    {{msg.payload.distanceStatus}}\n                </span>\n            </td>\n        </tr>\n        <tr>\n            <td><b>Altitude AGL:</b></td>\n            <td>{{msg.payload.altitude}} m</td>\n            <td>\n                <span ng-style=\"{'color': msg.payload.altitudeStatus === 'BREACH' ? 'red' : (msg.payload.altitudeStatus === 'WARNING' ? 'orange' : 'green'), 'font-weight': 'bold'}\">\n                    {{msg.payload.altitudeStatus}}\n                </span>\n            </td>\n        </tr>\n    </table>\n    <br>\n    <div>\n        <b>Distance:</b> {{msg.payload.distancePercent}}% of limit\n        <div style=\"background:#ddd; border-radius:5px; overflow:hidden;\">\n            <div ng-style=\"{'width': msg.payload.distancePercent + '%', 'background': msg.payload.distanceStatus === 'BREACH' ? 'red' : (msg.payload.distanceStatus === 'WARNING' ? 'orange' : 'green'), 'height': '20px', 'transition': 'width 0.3s'}\"></div>\n        </div>\n    </div>\n    <br>\n    <div>\n        <b>Altitude:</b> {{msg.payload.altitudePercent}}% of limit\n        <div style=\"background:#ddd; border-radius:5px; overflow:hidden;\">\n            <div ng-style=\"{'width': msg.payload.altitudePercent + '%', 'background': msg.payload.altitudeStatus === 'BREACH' ? 'red' : (msg.payload.altitudeStatus === 'WARNING' ? 'orange' : 'green'), 'height': '20px', 'transition': 'width 0.3s'}\"></div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "ui_breach_alert",
        "type": "ui_toast",
        "z": "geofence_flow",
        "position": "top right",
        "displayTime": "0",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "ACKNOWLEDGE",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "🚨 GEOFENCE BREACH",
        "name": "Breach Alert",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "btn_reset_home",
        "type": "ui_button",
        "z": "geofence_flow",
        "name": "Reset Home",
        "group": "geofence_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reset Home Position",
        "tooltip": "Set current position as new home",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "reset_home",
        "topicType": "str",
        "x": 150,
        "y": 200,
        "wires": [["reset_home"]]
    },
    {
        "id": "reset_home",
        "type": "function",
        "z": "geofence_flow",
        "name": "Clear Home",
        "func": "flow.set('home_position', null);\nreturn { payload: 'Home position will reset on next GPS update' };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [["ui_reset_confirm"]]
    },
    {
        "id": "ui_reset_confirm",
        "type": "ui_toast",
        "z": "geofence_flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Home Position",
        "name": "Reset Confirmation",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "geofence_flow",
        "name": "Geofence Monitor - Wire mavlink-comms output to 'Filter GLOBAL_POSITION_INT'",
        "info": "## Geofence Monitor with Map Visualization\n\nReal-time geofence monitoring with interactive map display.\n\n### Setup:\n\n1. **Install worldmap:**\n   ```bash\n   cd ~/.node-red\n   npm install node-red-contrib-web-worldmap\n   ```\n\n2. **Wire the flow:**\n   - mavlink-comms output → 'Filter GLOBAL_POSITION_INT'\n\n3. **Deploy**\n\n4. **Open dashboards:**\n   - Map: http://localhost:1880/worldmap\n   - Status: http://localhost:1880/ui\n\n### What You'll See:\n\n**On the Map:**\n- 🚁 Helicopter icon = Drone position (updates in real-time)\n- 🏠 Home icon = Launch position (blue)\n- 🔴 Red circle = Maximum geofence boundary (500m default)\n- 🟠 Orange circle = Warning boundary (400m default)\n\n**Drone Color:**\n- 🟢 Green = All good\n- 🟠 Orange = Warning (approaching limit)\n- 🔴 Red = Breach! (exceeded limit)\n\n**On the Dashboard:**\n- Distance from home (meters + percentage)\n- Altitude AGL (meters + percentage)\n- Status indicators (OK/WARNING/BREACH)\n- Progress bars showing limits\n\n### Geofence Settings:\n\nEdit the `process_position` function:\n\n```javascript\nconst MAX_DISTANCE = 500;      // meters from home\nconst WARNING_DISTANCE = 400;  // warning threshold\nconst MAX_ALTITUDE = 120;      // meters AGL (FAA limit)\nconst WARNING_ALTITUDE = 100;  // warning threshold\n```\n\n### How It Works:\n\n1. **Home Position:**\n   - Automatically set on first GPS position\n   - Click \"Reset Home Position\" to re-center\n\n2. **Distance Calculation:**\n   - Haversine formula for accurate distance\n   - Works anywhere on Earth\n\n3. **Alerts:**\n   - WARNING = Orange, approaching limit\n   - BREACH = Red, limit exceeded\n   - Toast notification on breach (stays until acknowledged)\n\n4. **Map Layers:**\n   - Drone layer (helicopter icon)\n   - Home layer (home icon)\n   - Geofence layer (circles)\n   - Toggle layers in map controls\n\n### Use Cases:\n\n**Pre-Flight:**\n- Verify home position is correct\n- Check geofence circles make sense for area\n- Confirm map loads properly\n\n**During Flight:**\n- Monitor distance from home\n- Watch altitude compliance\n- See visual representation of flight area\n\n**Automated Systems:**\n- Wire breach alert to auto-RTL command\n- Log fence violations\n- Trigger emergency procedures\n\n### Customization:\n\n**Add more fence shapes:**\n```javascript\n// Polygon fence\nconst polygon = {\n    name: 'restricted_area',\n    lat: [lat1, lat2, lat3, lat4],\n    lon: [lon1, lon2, lon3, lon4],\n    layer: 'Geofence',\n    color: '#ff0000'\n};\n```\n\n**Multiple altitude zones:**\n```javascript\nif (alt < 30) color = 'green';\nelse if (alt < 60) color = 'yellow';\nelse if (alt < 100) color = 'orange';\nelse color = 'red';\n```\n\n**Track flight path:**\nAdd to function:\n```javascript\nlet path = flow.get('flight_path') || [];\npath.push([lat, lon]);\nif (path.length > 100) path.shift();  // Keep last 100 points\nflow.set('flight_path', path);\n\nreturn { \n    payload: {\n        name: 'path',\n        lat: path.map(p => p[0]),\n        lon: path.map(p => p[1]),\n        layer: 'Flight Path',\n        color: '#0000ff'\n    }\n};\n```\n\n### Map Controls:\n\n**Mouse:**\n- Click+drag to pan\n- Scroll to zoom\n- Click icons for info\n\n**Layers Menu:**\n- Toggle drone/home/geofence visibility\n- Switch base maps (OSM, Satellite, etc.)\n\n**Right-click:**\n- Add custom markers\n- Measure distances\n- Copy coordinates\n\n### Troubleshooting:\n\n**Map doesn't load:**\n- Check worldmap installed: `npm list node-red-contrib-web-worldmap`\n- Verify http://localhost:1880/worldmap loads\n- Check browser console for errors\n\n**Drone not appearing:**\n- Verify GPS messages arriving (check filter)\n- Confirm lat/lon conversion is correct (÷ 1e7)\n- Check worldmap node is wired correctly\n\n**Circles wrong size:**\n- Geofence uses meters, not degrees\n- Should scale correctly with zoom\n- Try different map zoom levels\n\n**Home position wrong:**\n- Click \"Reset Home Position\"\n- Wait for next GPS update\n- Check home marker moves to current position\n\n### Safety Notes:\n\n⚠️ **This is a DISPLAY tool, not enforcement!**\n\n**Important:**\n- Software geofence = information only\n- Does NOT prevent vehicle from flying\n- Must be enforced by flight controller (ArduPilot FENCE_*)\n- Use this for monitoring, not safety\n\n**For actual geofence enforcement:**\n1. Configure FENCE parameters in ArduPilot\n2. Enable fence (FENCE_ENABLE)\n3. Set action (FENCE_ACTION = RTL/LAND)\n4. Use this tool to visualize the configured fence\n\n### Requirements:\n- node-red-dashboard\n- node-red-contrib-web-worldmap\n- GLOBAL_POSITION_INT messages (5Hz typical)\n- GPS 3D fix",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "geofence_group",
        "type": "ui_group",
        "name": "Geofence",
        "tab": "geofence_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "geofence_tab",
        "type": "ui_tab",
        "name": "Geofence Monitor",
        "icon": "my_location",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
