examples/advanced/mission-uploader.json
[
    {
        "id": "mission_flow",
        "type": "tab",
        "label": "MAVLink: Mission Uploader",
        "disabled": false,
        "info": "Upload waypoint missions from CSV/JSON.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "ui_mission_input",
        "type": "ui_template",
        "z": "mission_flow",
        "group": "mission_group",
        "name": "Mission Input",
        "order": 1,
        "width": 6,
        "height": 6,
        "format": "<div>\n    <h3>Mission Waypoints</h3>\n    <p>Enter waypoints in CSV format (one per line):</p>\n    <p style=\"font-size:11px; color:#666;\">Format: lat, lon, alt, command, param1, param2, param3, param4</p>\n    <textarea id=\"mission-input\" \n              rows=\"8\" \n              style=\"width:100%; font-family:monospace; font-size:12px;\"\n              placeholder=\"Example:\\n-35.363261, 149.165230, 50, 16, 0, 0, 0, 0\\n-35.363800, 149.165500, 50, 16, 0, 0, 0, 0\\n-35.364200, 149.165100, 50, 16, 0, 0, 0, 0\\n-35.363261, 149.165230, 20, 21, 0, 0, 0, 0\"></textarea>\n    <br><br>\n    <button class=\"md-button md-raised md-primary\" \n            onclick=\"uploadMission()\" \n            style=\"width:100%;\">Upload Mission to Vehicle</button>\n    <br><br>\n    <div id=\"mission-status\" style=\"padding:10px; background:#f0f0f0; border-radius:5px;\">\n        Status: Ready\n    </div>\n</div>\n\n<script>\nfunction uploadMission() {\n    var input = document.getElementById('mission-input').value;\n    var status = document.getElementById('mission-status');\n    \n    if (!input || input.trim().length === 0) {\n        status.innerHTML = 'Error: No mission data entered';\n        status.style.background = '#ffcccc';\n        return;\n    }\n    \n    // Parse CSV lines\n    var lines = input.trim().split('\\n');\n    var waypoints = [];\n    \n    for (var i = 0; i < lines.length; i++) {\n        var line = lines[i].trim();\n        if (line.length === 0 || line.startsWith('#')) continue;\n        \n        var parts = line.split(',').map(function(p) { return p.trim(); });\n        \n        if (parts.length < 4) {\n            status.innerHTML = 'Error: Line ' + (i+1) + ' has too few fields (need at least lat,lon,alt,command)';\n            status.style.background = '#ffcccc';\n            return;\n        }\n        \n        waypoints.push({\n            lat: parseFloat(parts[0]),\n            lon: parseFloat(parts[1]),\n            alt: parseFloat(parts[2]),\n            command: parseInt(parts[3]),\n            param1: parts[4] ? parseFloat(parts[4]) : 0,\n            param2: parts[5] ? parseFloat(parts[5]) : 0,\n            param3: parts[6] ? parseFloat(parts[6]) : 0,\n            param4: parts[7] ? parseFloat(parts[7]) : 0\n        });\n    }\n    \n    if (waypoints.length === 0) {\n        status.innerHTML = 'Error: No valid waypoints found';\n        status.style.background = '#ffcccc';\n        return;\n    }\n    \n    // Send to Node-RED\n    status.innerHTML = 'Uploading ' + waypoints.length + ' waypoints...';\n    status.style.background = '#ffffcc';\n    \n    this.send({ payload: waypoints, topic: 'mission/upload' });\n}\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 80,
        "wires": [["parse_mission"]]
    },
    {
        "id": "parse_mission",
        "type": "function",
        "z": "mission_flow",
        "name": "Parse Mission Data",
        "func": "// Store mission waypoints\nconst waypoints = msg.payload;\n\nif (!Array.isArray(waypoints) || waypoints.length === 0) {\n    node.error('Invalid mission data');\n    return null;\n}\n\n// Add home/takeoff as waypoint 0 if first command isn't takeoff\nif (waypoints[0].command !== 22) {  // NAV_TAKEOFF\n    waypoints.unshift({\n        lat: waypoints[0].lat,\n        lon: waypoints[0].lon,\n        alt: 0,\n        command: 16,  // NAV_WAYPOINT (home)\n        param1: 0, param2: 0, param3: 0, param4: 0\n    });\n}\n\nflow.set('mission_waypoints', waypoints);\nflow.set('mission_current_seq', 0);\n\nnode.status({ \n    fill: \"blue\", \n    shape: \"ring\", \n    text: `Uploading ${waypoints.length} waypoints` \n});\n\n// Send MISSION_COUNT\nmsg.payload = {\n    messageType: \"MISSION_COUNT\",\n    target_system: 1,\n    target_component: 1,\n    count: waypoints.length,\n    mission_type: 0  // MAV_MISSION_TYPE_MISSION\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [["mavlink_msg_out"]]
    },
    {
        "id": "filter_mission_request",
        "type": "switch",
        "z": "mission_flow",
        "name": "Filter MISSION_REQUEST",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "MISSION_REQUEST", "vt": "str"}
        ],
        "outputs": 1,
        "x": 220,
        "y": 160,
        "wires": [["send_mission_item"]]
    },
    {
        "id": "filter_mission_request_int",
        "type": "switch",
        "z": "mission_flow",
        "name": "Filter MISSION_REQUEST_INT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "MISSION_REQUEST_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 230,
        "y": 200,
        "wires": [["send_mission_item"]]
    },
    {
        "id": "send_mission_item",
        "type": "function",
        "z": "mission_flow",
        "name": "Send MISSION_ITEM_INT",
        "func": "// Vehicle requesting waypoint\nconst seq = msg.payload.seq;\nconst waypoints = flow.get('mission_waypoints') || [];\n\nif (seq >= waypoints.length) {\n    node.error(`Requested waypoint ${seq} but only have ${waypoints.length}`);\n    return null;\n}\n\nconst wp = waypoints[seq];\n\nnode.status({ \n    fill: \"blue\", \n    shape: \"dot\", \n    text: `Sending waypoint ${seq + 1}/${waypoints.length}` \n});\n\n// Send MISSION_ITEM_INT\nmsg.payload = {\n    messageType: \"MISSION_ITEM_INT\",\n    target_system: 1,\n    target_component: 1,\n    seq: seq,\n    frame: 3,  // MAV_FRAME_GLOBAL_RELATIVE_ALT\n    command: wp.command,\n    current: seq === 0 ? 1 : 0,  // First waypoint is current\n    autocontinue: 1,\n    param1: wp.param1 || 0,\n    param2: wp.param2 || 0,\n    param3: wp.param3 || 0,\n    param4: wp.param4 || 0,\n    x: Math.round(wp.lat * 1e7),  // Latitude as int (degE7)\n    y: Math.round(wp.lon * 1e7),  // Longitude as int (degE7)\n    z: wp.alt,\n    mission_type: 0  // MAV_MISSION_TYPE_MISSION\n};\n\nflow.set('mission_current_seq', seq);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [["mavlink_msg_out"]]
    },
    {
        "id": "filter_mission_ack",
        "type": "switch",
        "z": "mission_flow",
        "name": "Filter MISSION_ACK",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "MISSION_ACK", "vt": "str"}
        ],
        "outputs": 1,
        "x": 200,
        "y": 260,
        "wires": [["handle_mission_ack"]]
    },
    {
        "id": "handle_mission_ack",
        "type": "function",
        "z": "mission_flow",
        "name": "Handle Mission ACK",
        "func": "// Mission upload complete\nconst ack = msg.payload;\nconst waypoints = flow.get('mission_waypoints') || [];\n\nif (ack.type === 0) {  // MAV_MISSION_ACCEPTED\n    node.status({ \n        fill: \"green\", \n        shape: \"dot\", \n        text: `✓ Mission uploaded (${waypoints.length} waypoints)` \n    });\n    \n    return {\n        payload: `✅ Mission successfully uploaded! ${waypoints.length} waypoints sent.`,\n        topic: 'mission/success'\n    };\n} else {\n    const errors = [\n        'ACCEPTED', 'ERROR', 'UNSUPPORTED_FRAME', 'UNSUPPORTED',\n        'NO_SPACE', 'INVALID', 'INVALID_PARAM1', 'INVALID_PARAM2',\n        'INVALID_PARAM3', 'INVALID_PARAM4', 'INVALID_PARAM5_X',\n        'INVALID_PARAM6_Y', 'INVALID_PARAM7', 'INVALID_SEQUENCE',\n        'DENIED'\n    ];\n    \n    const errorMsg = errors[ack.type] || `Unknown error ${ack.type}`;\n    \n    node.status({ \n        fill: \"red\", \n        shape: \"dot\", \n        text: `✗ Mission failed: ${errorMsg}` \n    });\n    \n    return {\n        payload: `❌ Mission upload failed: ${errorMsg}`,\n        topic: 'mission/error'\n    };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [["ui_mission_status", "debug_mission"]]
    },
    {
        "id": "ui_mission_status",
        "type": "ui_toast",
        "z": "mission_flow",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Mission Upload",
        "name": "Mission Status Toast",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_mission",
        "type": "debug",
        "z": "mission_flow",
        "name": "Mission Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "mavlink_msg_out",
        "type": "junction",
        "z": "mission_flow",
        "x": 700,
        "y": 140,
        "wires": [["debug_outgoing"]]
    },
    {
        "id": "debug_outgoing",
        "type": "debug",
        "z": "mission_flow",
        "name": "Outgoing Mission Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "example_missions",
        "type": "template",
        "z": "mission_flow",
        "name": "Example: Simple Survey",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "# Simple 4-point survey mission\n# Format: lat, lon, alt(m), command, param1, param2, param3, param4\n# Command 22 = TAKEOFF, 16 = WAYPOINT, 21 = LAND\n\n# Takeoff to 20m\n-35.363261, 149.165230, 20, 22, 0, 0, 0, 0\n\n# Survey pattern at 50m\n-35.363800, 149.165500, 50, 16, 0, 0, 0, 0\n-35.364200, 149.165500, 50, 16, 0, 0, 0, 0\n-35.364200, 149.165100, 50, 16, 0, 0, 0, 0\n-35.363800, 149.165100, 50, 16, 0, 0, 0, 0\n\n# Return to launch and land\n-35.363261, 149.165230, 20, 16, 0, 0, 0, 0\n-35.363261, 149.165230, 0, 21, 0, 0, 0, 0",
        "x": 180,
        "y": 360,
        "wires": [["debug_example"]]
    },
    {
        "id": "debug_example",
        "type": "debug",
        "z": "mission_flow",
        "name": "Example Mission",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "mission_flow",
        "name": "Mission Uploader - Wire 'mavlink_msg_out' to mavlink-msg, and mavlink-comms to filter nodes",
        "info": "## Mission Uploader\n\nUpload waypoint missions from CSV format.\n\n### Setup:\n1. Wire 'mavlink_msg_out' junction → mavlink-msg node (set to \"None (Dynamic)\")\n2. Wire mavlink-comms output → ALL THREE filter nodes:\n   - Filter MISSION_REQUEST\n   - Filter MISSION_REQUEST_INT\n   - Filter MISSION_ACK\n3. Deploy\n4. Open Dashboard: http://localhost:1880/ui\n\n### CSV Format:\n\nEach line represents one waypoint:\n```\nlat, lon, alt, command, param1, param2, param3, param4\n```\n\n**Required fields:**\n- `lat` - Latitude in decimal degrees (e.g., -35.363261)\n- `lon` - Longitude in decimal degrees (e.g., 149.165230)\n- `alt` - Altitude in meters (relative to home)\n- `command` - MAVLink command number\n\n**Optional fields:**\n- `param1-4` - Command-specific parameters (default 0)\n\n### Common Commands:\n\n**Navigation Commands:**\n- `16` = NAV_WAYPOINT - Fly to waypoint\n- `22` = NAV_TAKEOFF - Takeoff to altitude\n- `21` = NAV_LAND - Land at location\n- `20` = NAV_RETURN_TO_LAUNCH - Return home\n- `19` = NAV_LOITER_UNLIM - Loiter forever\n- `17` = NAV_LOITER_TURNS - Loiter for N turns (param1)\n- `18` = NAV_LOITER_TIME - Loiter for N seconds (param1)\n\n**Copter-Specific:**\n- `115` = NAV_GUIDED_ENABLE - Enable guided mode\n- `82` = NAV_SPLINE_WAYPOINT - Smooth spline path\n- `189` = DO_SET_ROI - Point camera at location\n\n### Example Missions:\n\n**Simple Takeoff and Land:**\n```csv\n-35.363261, 149.165230, 20, 22, 0, 0, 0, 0\n-35.363261, 149.165230, 0, 21, 0, 0, 0, 0\n```\n\n**Square Survey Pattern:**\n```csv\n# Takeoff\n-35.363261, 149.165230, 20, 22, 0, 0, 0, 0\n\n# Square at 50m\n-35.363800, 149.165500, 50, 16, 0, 0, 0, 0\n-35.364200, 149.165500, 50, 16, 0, 0, 0, 0\n-35.364200, 149.165100, 50, 16, 0, 0, 0, 0\n-35.363800, 149.165100, 50, 16, 0, 0, 0, 0\n\n# Land at home\n-35.363261, 149.165230, 20, 16, 0, 0, 0, 0\n-35.363261, 149.165230, 0, 21, 0, 0, 0, 0\n```\n\n**Loiter Mission:**\n```csv\n# Takeoff\n-35.363261, 149.165230, 30, 22, 0, 0, 0, 0\n\n# Fly to point\n-35.363800, 149.165500, 50, 16, 0, 0, 0, 0\n\n# Loiter for 60 seconds\n-35.363800, 149.165500, 50, 18, 60, 0, 0, 0\n\n# RTL\n-35.363261, 149.165230, 0, 20, 0, 0, 0, 0\n```\n\n### Upload Process:\n\n1. **Parse CSV** - System validates format and creates waypoint list\n2. **Send MISSION_COUNT** - Tell vehicle how many waypoints to expect\n3. **Wait for MISSION_REQUEST** - Vehicle asks for each waypoint by sequence number\n4. **Send MISSION_ITEM_INT** - Send requested waypoint data\n5. **Repeat** - Continue until all waypoints sent\n6. **Receive MISSION_ACK** - Vehicle confirms mission received\n\n### Troubleshooting:\n\n**Upload fails with \"INVALID\" error:**\n- Check command numbers are valid\n- Verify altitude is reasonable\n- Ensure lat/lon are in decimal degrees (not DMS)\n- Check no missing commas in CSV\n\n**Vehicle doesn't request waypoints:**\n- Verify MISSION_COUNT sent successfully\n- Check vehicle is armed/ready\n- Try uploading again\n- Check telemetry connection\n\n**Mission uploads but doesn't execute:**\n- Set vehicle to AUTO mode to start mission\n- Check first waypoint is valid\n- Verify GPS has good fix\n- Check vehicle is armed\n\n**Wrong waypoints uploaded:**\n- Double-check CSV format\n- Verify lat/lon aren't swapped\n- Check altitude units (meters, not feet!)\n- Test with simple 2-waypoint mission first\n\n### Safety Notes:\n\n⚠️ **ALWAYS verify mission before arming!**\n\n**Before uploading:**\n1. ✅ Plot waypoints on map to verify path\n2. ✅ Check altitudes are safe (terrain clearance!)\n3. ✅ Verify lat/lon coordinates are correct\n4. ✅ Ensure mission stays within legal airspace\n5. ✅ Have abort plan (RTL, manual control)\n\n**Common mistakes:**\n- Swapping lat/lon (crashes into wrong location!)\n- Using feet instead of meters for altitude\n- Missing takeoff command (vehicle won't execute)\n- Landing waypoint too far from home\n- Waypoints too close together (vehicle can't turn)\n\n**Best practices:**\n1. Test in simulator first (SITL)\n2. Start with simple 2-3 waypoint missions\n3. Keep first mission low and slow\n4. Always have manual override ready\n5. Don't fly beyond visual range\n\n### Advanced Features:\n\n**Custom coordinate frames:**\nEdit `send_mission_item` function, change `frame` value:\n- `0` = Global (absolute MSL altitude)\n- `3` = Global relative (altitude from home) - DEFAULT\n- `6` = Terrain (altitude from terrain, needs terrain data)\n\n**Add camera triggers:**\nUse DO_DIGICAM_CONTROL or DO_SET_CAM_TRIGG_DIST commands between waypoints\n\n**Complex missions:**\nCombine with conditional commands (DO_JUMP, DO_SET_RELAY, etc.)\n\n### Requirements:\n- node-red-dashboard installed\n- Vehicle must support MAVLink mission protocol\n- Good GPS fix required\n- Stable telemetry connection",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "mission_group",
        "type": "ui_group",
        "name": "Mission Upload",
        "tab": "advanced_tab",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "advanced_tab",
        "type": "ui_tab",
        "name": "Advanced",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
