examples/advanced/mission-manager-example.json
[
    {
        "id": "mission_manager_flow",
        "type": "tab",
        "label": "MAVLink: Mission Manager Example",
        "disabled": false,
        "info": "Simple mission upload using the mavlink-mission node.\n\nDemonstrates the new mission manager node."
    },
    {
        "id": "inject_simple_mission",
        "type": "inject",
        "z": "mission_manager_flow",
        "name": "Upload Simple Mission",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "upload_mission",
        "payload": "{\"waypoints\":[{\"lat\":37.7749,\"lon\":-122.4194,\"alt\":50,\"command\":22,\"param1\":15},{\"lat\":37.7750,\"lon\":-122.4195,\"alt\":100},{\"lat\":37.7751,\"lon\":-122.4196,\"alt\":100},{\"lat\":37.7752,\"lon\":-122.4197,\"alt\":50,\"command\":21}]}",
        "payloadType": "json",
        "x": 180,
        "y": 100,
        "wires": [["mission_manager"]]
    },
    {
        "id": "inject_advanced_mission",
        "type": "inject",
        "z": "mission_manager_flow",
        "name": "Upload Survey Pattern",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "upload_mission",
        "payload": "{\"waypoints\":[{\"lat\":37.7749,\"lon\":-122.4194,\"alt\":20,\"command\":22,\"param1\":15},{\"lat\":37.7750,\"lon\":-122.4195,\"alt\":50,\"param1\":5,\"param2\":10},{\"lat\":37.7751,\"lon\":-122.4195,\"alt\":50,\"param1\":5,\"param2\":10},{\"lat\":37.7751,\"lon\":-122.4196,\"alt\":50,\"param1\":5,\"param2\":10},{\"lat\":37.7750,\"lon\":-122.4196,\"alt\":50,\"param1\":5,\"param2\":10},{\"lat\":37.7749,\"lon\":-122.4194,\"alt\":20,\"command\":21}]}",
        "payloadType": "json",
        "x": 180,
        "y": 160,
        "wires": [["mission_manager"]]
    },
    {
        "id": "inject_clear_mission",
        "type": "inject",
        "z": "mission_manager_flow",
        "name": "Clear Mission",
        "props": [
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "clear_mission",
        "x": 160,
        "y": 220,
        "wires": [["mission_manager"]]
    },
    {
        "id": "mission_manager",
        "type": "mavlink-mission",
        "z": "mission_manager_flow",
        "name": "Mission Manager",
        "targetSystem": "1",
        "targetComponent": "1",
        "timeout": "10000",
        "x": 440,
        "y": 140,
        "wires": [["mavlink_msg"], ["status_debug"]]
    },
    {
        "id": "mavlink_msg",
        "type": "mavlink-msg",
        "z": "mission_manager_flow",
        "name": "MAVLink MSG (Dynamic)",
        "dialect": "ardupilotmega",
        "messageType": "",
        "fields": {},
        "x": 680,
        "y": 120,
        "wires": [["debug_outgoing"]]
    },
    {
        "id": "mavlink_comms",
        "type": "mavlink-comms",
        "z": "mission_manager_flow",
        "name": "MAVLink COMMS (UDP)",
        "connectionType": "udp",
        "host": "127.0.0.1",
        "port": "14550",
        "serialPort": "",
        "baudRate": "57600",
        "dialect": "ardupilotmega",
        "mavlinkVersion": "2.0",
        "filterHeartbeat": false,
        "x": 690,
        "y": 200,
        "wires": [["mission_manager", "debug_incoming"]]
    },
    {
        "id": "status_debug",
        "type": "debug",
        "z": "mission_manager_flow",
        "name": "Mission Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "auto",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_outgoing",
        "type": "debug",
        "z": "mission_manager_flow",
        "name": "Outgoing Commands",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_incoming",
        "type": "debug",
        "z": "mission_manager_flow",
        "name": "Incoming Telemetry",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment_wiring",
        "type": "comment",
        "z": "mission_manager_flow",
        "name": "Wiring: Mission Manager output 1 → MAVLink MSG, MAVLink COMMS → Mission Manager input",
        "info": "## Mission Manager Example\n\nThis flow demonstrates the new `mavlink-mission` node.\n\n### How it works:\n\n1. **Inject nodes** send waypoint arrays to mission manager\n2. **Mission Manager** handles the protocol state machine:\n   - Sends MISSION_COUNT\n   - Waits for MISSION_REQUEST/MISSION_REQUEST_INT\n   - Sends MISSION_ITEM/MISSION_ITEM_INT\n   - Reports success/failure\n3. **MAVLink MSG** encodes commands to wire format\n4. **MAVLink COMMS** transmits/receives messages\n5. **Feedback loop** sends MISSION_REQUEST back to manager\n\n### Wiring:\n\n**Critical connections:**\n- Mission Manager output 1 → MAVLink MSG node\n- MAVLink COMMS output → Mission Manager input (feedback!)\n- Mission Manager output 2 → Debug (status)\n\n### Waypoint Format:\n\n**Simple (lat/lon/alt only):**\n```json\n{\n  \"waypoints\": [\n    {\"lat\": 37.7749, \"lon\": -122.4194, \"alt\": 100},\n    {\"lat\": 37.7750, \"lon\": -122.4195, \"alt\": 100}\n  ]\n}\n```\n\n**Advanced (with commands):**\n```json\n{\n  \"waypoints\": [\n    {\n      \"lat\": 37.7749,\n      \"lon\": -122.4194,\n      \"alt\": 50,\n      \"command\": 22,    // NAV_TAKEOFF\n      \"param1\": 15      // Pitch angle\n    },\n    {\n      \"lat\": 37.7750,\n      \"lon\": -122.4195,\n      \"alt\": 100,\n      \"command\": 16,    // NAV_WAYPOINT\n      \"param1\": 5,      // Hold time (seconds)\n      \"param2\": 10      // Acceptance radius (meters)\n    },\n    {\n      \"lat\": 37.7749,\n      \"lon\": -122.4194,\n      \"alt\": 0,\n      \"command\": 21     // NAV_LAND\n    }\n  ]\n}\n```\n\n### Common Commands:\n\n- `16` - NAV_WAYPOINT (default if not specified)\n- `22` - NAV_TAKEOFF\n- `21` - NAV_LAND\n- `20` - NAV_RETURN_TO_LAUNCH\n- `17` - NAV_LOITER_UNLIM\n- `19` - NAV_LOITER_TIME\n\n### Clear Mission:\n\nSend message with `topic = \"clear_mission\"` to remove all waypoints.\n\n### Status Output:\n\nOutput 2 sends status messages:\n\n**Success:**\n```json\n{\n  \"success\": true,\n  \"message\": \"Mission uploaded successfully\",\n  \"waypoints\": 4\n}\n```\n\n**Failure:**\n```json\n{\n  \"success\": false,\n  \"message\": \"Mission rejected: INVALID_SEQUENCE\",\n  \"ackType\": 13,\n  \"ackTypeName\": \"INVALID_SEQUENCE\"\n}\n```\n\n### Troubleshooting:\n\n**Mission times out:**\n- Check mavlink-comms is connected to vehicle\n- Verify feedback loop (comms → mission manager)\n- Check target system ID matches vehicle\n\n**Mission rejected:**\n- Check waypoint coordinates are valid\n- Verify altitude is reasonable\n- Ensure commands are supported by vehicle\n\n**Messages not sending:**\n- Verify mission manager output 1 → mavlink-msg\n- Check mavlink-msg dialect matches\n- Ensure mavlink-msg is set to dynamic mode (no message type selected)\n\n### Testing with SITL:\n\n1. Start ArduPilot SITL: `sim_vehicle.py -v ArduCopter`\n2. Deploy this flow\n3. Click \"Upload Simple Mission\"\n4. Watch debug output for MISSION_REQUEST/MISSION_ACK\n5. In SITL console: `mode auto` to start mission\n\n### Features:\n\n✅ Auto-detects MISSION_REQUEST vs MISSION_REQUEST_INT  \n✅ Handles both modern (INT) and legacy autopilots  \n✅ Timeout protection (10s default)  \n✅ Multi-vehicle support (set target system ID)  \n✅ Status feedback on output 2  \n✅ Clear mission command  \n✅ Comprehensive error reporting",
        "x": 330,
        "y": 40,
        "wires": []
    }
]
