examples/advanced/parameter-tool.json
[
    {
        "id": "parameter_flow",
        "type": "tab",
        "label": "MAVLink: Parameter Tool",
        "disabled": false,
        "info": "Read and write vehicle parameters.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "request_param_list",
        "type": "inject",
        "z": "parameter_flow",
        "name": "Request All Parameters",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [["build_param_request_list"]]
    },
    {
        "id": "build_param_request_list",
        "type": "function",
        "z": "parameter_flow",
        "name": "Build PARAM_REQUEST_LIST",
        "func": "// Request all parameters from vehicle\nmsg.payload = {\n    messageType: \"PARAM_REQUEST_LIST\",\n    target_system: 1,\n    target_component: 1\n};\n\n// Clear existing parameters\nflow.set('parameters', {});\nnode.status({ fill: \"blue\", shape: \"ring\", text: \"Requesting...\" });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [["mavlink_msg_out"]]
    },
    {
        "id": "ui_param_search",
        "type": "ui_text_input",
        "z": "parameter_flow",
        "name": "Search Parameter",
        "label": "Search Parameter",
        "tooltip": "Enter parameter name (e.g., WPNAV_SPEED)",
        "group": "param_group",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "param_search",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 160,
        "y": 140,
        "wires": [["build_param_request_read"]]
    },
    {
        "id": "build_param_request_read",
        "type": "function",
        "z": "parameter_flow",
        "name": "Build PARAM_REQUEST_READ",
        "func": "// Request specific parameter by name\nconst paramName = msg.payload;\n\nif (!paramName || paramName.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    messageType: \"PARAM_REQUEST_READ\",\n    target_system: 1,\n    target_component: 1,\n    param_id: paramName.toUpperCase(),\n    param_index: -1  // Use name, not index\n};\n\nnode.status({ fill: \"blue\", shape: \"ring\", text: `Requesting ${paramName}` });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [["mavlink_msg_out"]]
    },
    {
        "id": "filter_param_value",
        "type": "switch",
        "z": "parameter_flow",
        "name": "Filter PARAM_VALUE",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "PARAM_VALUE", "vt": "str"}
        ],
        "outputs": 1,
        "x": 200,
        "y": 240,
        "wires": [["parse_param_value"]]
    },
    {
        "id": "parse_param_value",
        "type": "function",
        "z": "parameter_flow",
        "name": "Store Parameter",
        "func": "// PARAM_VALUE message received\nconst pv = msg.payload;\n\nif (!pv || !pv.param_id) return null;\n\n// Get or create parameters store\nlet params = flow.get('parameters') || {};\n\n// Store parameter\nconst paramName = pv.param_id.replace(/\\0/g, '').trim();  // Clean null bytes\nparams[paramName] = {\n    value: pv.param_value,\n    type: pv.param_type,\n    index: pv.param_index,\n    count: pv.param_count\n};\n\nflow.set('parameters', params);\n\n// Update status\nconst paramCount = Object.keys(params).length;\nconst totalCount = pv.param_count || '?';\nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `${paramCount}/${totalCount} params` \n});\n\n// Output for display\nreturn {\n    payload: {\n        name: paramName,\n        value: pv.param_value,\n        type: pv.param_type,\n        index: pv.param_index,\n        count: pv.param_count\n    },\n    topic: 'parameter'\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [["ui_param_display", "debug_param"]]
    },
    {
        "id": "ui_param_display",
        "type": "ui_template",
        "z": "parameter_flow",
        "group": "param_group",
        "name": "Parameter List",
        "order": 2,
        "width": 6,
        "height": 8,
        "format": "<div>\n    <table style=\"width:100%; font-size:12px;\">\n        <thead>\n            <tr style=\"background:#333; color:#fff;\">\n                <th style=\"padding:5px; text-align:left;\">Parameter</th>\n                <th style=\"padding:5px; text-align:right;\">Value</th>\n                <th style=\"padding:5px; text-align:center;\">Type</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"(name, data) in params | orderBy:'name'\" \n                style=\"border-bottom:1px solid #ddd;\">\n                <td style=\"padding:5px; font-family:monospace;\">{{name}}</td>\n                <td style=\"padding:5px; text-align:right; font-family:monospace;\">{{data.value}}</td>\n                <td style=\"padding:5px; text-align:center; color:#666;\">{{data.type}}</td>\n            </tr>\n        </tbody>\n    </table>\n</div>\n\n<script>\n(function(scope) {\n    scope.params = {};\n    \n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && msg.payload.name) {\n            scope.params[msg.payload.name] = {\n                value: msg.payload.value,\n                type: msg.payload.type\n            };\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "ui_param_editor",
        "type": "ui_form",
        "z": "parameter_flow",
        "name": "Edit Parameter",
        "label": "Set Parameter Value",
        "group": "param_edit_group",
        "order": 1,
        "width": 6,
        "height": 3,
        "options": [
            {"label": "Parameter Name", "value": "param_name", "type": "text", "required": true, "rows": null},
            {"label": "New Value", "value": "param_value", "type": "number", "required": true, "rows": null}
        ],
        "formValue": {"param_name": "", "param_value": 0},
        "payload": "",
        "submit": "Set Parameter",
        "cancel": "Cancel",
        "topic": "param_set",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 160,
        "y": 340,
        "wires": [["build_param_set"]]
    },
    {
        "id": "build_param_set",
        "type": "function",
        "z": "parameter_flow",
        "name": "Build PARAM_SET",
        "func": "// Set parameter value\nconst paramName = msg.payload.param_name;\nconst paramValue = parseFloat(msg.payload.param_value);\n\nif (!paramName || isNaN(paramValue)) {\n    node.warn('Invalid parameter name or value');\n    return null;\n}\n\n// Get stored parameter to preserve type\nconst params = flow.get('parameters') || {};\nconst storedParam = params[paramName.toUpperCase()];\nconst paramType = storedParam ? storedParam.type : 9;  // Default to REAL32\n\nmsg.payload = {\n    messageType: \"PARAM_SET\",\n    target_system: 1,\n    target_component: 1,\n    param_id: paramName.toUpperCase(),\n    param_value: paramValue,\n    param_type: paramType\n};\n\nnode.status({ \n    fill: \"yellow\", \n    shape: \"ring\", \n    text: `Setting ${paramName} = ${paramValue}` \n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [["mavlink_msg_out", "confirm_param_set"]]
    },
    {
        "id": "confirm_param_set",
        "type": "ui_toast",
        "z": "parameter_flow",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Parameter Updated",
        "name": "Confirm Parameter Set",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "debug_param",
        "type": "debug",
        "z": "parameter_flow",
        "name": "Parameter Values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "mavlink_msg_out",
        "type": "junction",
        "z": "parameter_flow",
        "x": 640,
        "y": 140,
        "wires": [["debug_outgoing"]]
    },
    {
        "id": "debug_outgoing",
        "type": "debug",
        "z": "parameter_flow",
        "name": "Outgoing Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "parameter_flow",
        "name": "Parameter Tool - Wire 'mavlink_msg_out' to mavlink-msg, and mavlink-comms to 'Filter PARAM_VALUE'",
        "info": "## Parameter Tool\n\nRead and write vehicle parameters (ArduPilot settings).\n\n### Setup:\n1. Wire 'mavlink_msg_out' junction → mavlink-msg node (set to \"None (Dynamic)\")\n2. Wire mavlink-comms output → 'Filter PARAM_VALUE' node\n3. Deploy\n4. Open Dashboard: http://localhost:1880/ui\n\n### Usage:\n\n**Request All Parameters:**\n1. Click \"Request All Parameters\" inject button\n2. Wait 10-30 seconds for full parameter list\n3. Parameters appear in table as they arrive\n4. Total count shown in node status\n\n**Search Specific Parameter:**\n1. Enter parameter name in search box (e.g., \"WPNAV_SPEED\")\n2. Press Enter or click outside box\n3. Value appears in table\n\n**Set Parameter Value:**\n1. Fill in parameter name (case insensitive)\n2. Enter new value (number)\n3. Click \"Set Parameter\"\n4. Confirmation toast appears\n5. Vehicle will send updated PARAM_VALUE message\n\n### Common Parameters:\n\n**ArduCopter:**\n- `WPNAV_SPEED` - Waypoint navigation speed (cm/s)\n- `WPNAV_SPEED_UP` - Climb speed (cm/s)\n- `WPNAV_SPEED_DN` - Descent speed (cm/s)\n- `RTL_ALT` - Return to launch altitude (cm)\n- `LAND_SPEED` - Landing descent speed (cm/s)\n- `ANGLE_MAX` - Maximum tilt angle (centidegrees)\n- `PILOT_SPEED_UP` - Manual climb speed (cm/s)\n- `PILOT_SPEED_DN` - Manual descent speed (cm/s)\n- `FS_BATT_VOLTAGE` - Battery failsafe voltage\n- `FS_BATT_MAH` - Battery failsafe capacity (mAh)\n\n**ArduPlane:**\n- `TRIM_ARSPD_CM` - Target cruise airspeed (cm/s)\n- `ARSPD_FBW_MIN` - Minimum airspeed (m/s)\n- `ARSPD_FBW_MAX` - Maximum airspeed (m/s)\n- `ALT_HOLD_RTL` - RTL altitude (cm)\n- `LAND_FLARE_ALT` - Flare altitude (m)\n\n**All Vehicles:**\n- `SYSID_THISMAV` - This vehicle's MAVLink system ID\n- `SERIAL1_BAUD` - Telemetry port baud rate\n- `SR1_*` - Stream rates for telemetry port 1\n\n### Parameter Types:\n\nMAVLink parameter types:\n- `1` = UINT8 (0-255)\n- `2` = INT8 (-128 to 127)\n- `3` = UINT16 (0-65535)\n- `4` = INT16 (-32768 to 32767)\n- `5` = UINT32\n- `6` = INT32\n- `9` = REAL32 (float, most common)\n\n### Safety Warnings:\n\n⚠️ **DANGER - Changing parameters can crash your vehicle!**\n\n**Before changing ANY parameter:**\n1. ✅ Research what it does in ArduPilot docs\n2. ✅ Note the original value (write it down!)\n3. ✅ Understand the units (cm, cm/s, degrees, etc.)\n4. ✅ Make small changes and test\n5. ✅ Never change unknown parameters\n\n**NEVER change while flying:**\n- Sensor calibrations\n- Motor/servo settings\n- Flight mode parameters\n- Failsafe thresholds\n\n**Common mistakes:**\n- Mixing up cm and m (100x error!)\n- Setting speed too high\n- Disabling important safety features\n- Changing wrong parameter name\n\n### Troubleshooting:\n\n**No parameters appear:**\n- Check mavlink-comms is connected\n- Verify PARAM_VALUE messages in debug\n- Try requesting again (can timeout)\n- Check vehicle is responding to HEARTBEAT\n\n**Parameter set doesn't work:**\n- Verify parameter name is exact (case insensitive but spelling matters)\n- Some parameters are read-only\n- Vehicle may reject out-of-range values\n- Check for PARAM_VALUE response confirming change\n\n**Too many parameters:**\n- ArduPilot has 500-1000+ parameters\n- Use search to find specific ones\n- Can take 30+ seconds to download all\n\n### Best Practices:\n\n1. **Backup parameters** - Use Mission Planner/QGC to save full parameter file before changes\n2. **Change one at a time** - Don't set multiple critical parameters at once\n3. **Test on ground first** - Verify changes work before flight\n4. **Document changes** - Keep notes of what you changed and why\n5. **Know how to reset** - Learn how to restore defaults if needed\n\n### Requirements:\n- node-red-dashboard installed\n- Vehicle responding to PARAM_REQUEST_LIST/READ\n- Stable telemetry connection (parameters can be large!)",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "param_group",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "advanced_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "param_edit_group",
        "type": "ui_group",
        "name": "Edit Parameter",
        "tab": "advanced_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "advanced_tab",
        "type": "ui_tab",
        "name": "Advanced",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
