examples/advanced/safety-monitor.json
[
    {
        "id": "safety_flow",
        "type": "tab",
        "label": "MAVLink: Safety Monitor",
        "disabled": false,
        "info": "Automated safety alerts for battery, GPS, geofence, altitude.\n\nRequires: node-red-dashboard"
    },
    {
        "id": "filter_sys_status",
        "type": "switch",
        "z": "safety_flow",
        "name": "Filter SYS_STATUS",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"}
        ],
        "outputs": 1,
        "x": 200,
        "y": 80,
        "wires": [["check_battery"]]
    },
    {
        "id": "filter_gps",
        "type": "switch",
        "z": "safety_flow",
        "name": "Filter GPS_RAW_INT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GPS_RAW_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 210,
        "y": 160,
        "wires": [["check_gps"]]
    },
    {
        "id": "filter_heartbeat",
        "type": "switch",
        "z": "safety_flow",
        "name": "Filter HEARTBEAT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "HEARTBEAT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 200,
        "y": 240,
        "wires": [["check_connection"]]
    },
    {
        "id": "filter_global_pos",
        "type": "switch",
        "z": "safety_flow",
        "name": "Filter GLOBAL_POSITION_INT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"}
        ],
        "outputs": 1,
        "x": 230,
        "y": 320,
        "wires": [["check_geofence", "check_altitude"]]
    },
    {
        "id": "check_battery",
        "type": "function",
        "z": "safety_flow",
        "name": "Check Battery Level",
        "func": "const sys = msg.payload;\nif (!sys) return null;\n\nconst batteryPercent = sys.battery_remaining || 0;\nconst voltage = sys.voltage_battery ? sys.voltage_battery / 1000 : 0;\n\n// Battery thresholds\nconst CRITICAL_PERCENT = 15;  // Land immediately\nconst WARNING_PERCENT = 25;   // Return home\nconst LOW_PERCENT = 35;       // Start heading back\n\nlet alert = null;\n\nif (batteryPercent <= CRITICAL_PERCENT) {\n    alert = {\n        level: 'CRITICAL',\n        message: `🔴 CRITICAL BATTERY: ${batteryPercent}% (${voltage.toFixed(1)}V) - LAND NOW!`,\n        color: 'red',\n        sound: true\n    };\n} else if (batteryPercent <= WARNING_PERCENT) {\n    alert = {\n        level: 'WARNING',\n        message: `🟠 LOW BATTERY: ${batteryPercent}% (${voltage.toFixed(1)}V) - Return to launch!`,\n        color: 'orange',\n        sound: true\n    };\n} else if (batteryPercent <= LOW_PERCENT) {\n    alert = {\n        level: 'CAUTION',\n        message: `🟡 Battery getting low: ${batteryPercent}% (${voltage.toFixed(1)}V) - Start heading back`,\n        color: 'yellow',\n        sound: false\n    };\n}\n\nif (alert) {\n    return {\n        payload: alert.message,\n        topic: 'safety/battery',\n        alert: alert\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [["alert_handler", "ui_battery_status"]]
    },
    {
        "id": "check_gps",
        "type": "function",
        "z": "safety_flow",
        "name": "Check GPS Quality",
        "func": "const gps = msg.payload;\nif (!gps) return null;\n\nconst fixType = gps.fix_type || 0;\nconst satellites = gps.satellites_visible || 0;\nconst hdop = gps.eph ? gps.eph / 100 : 999;  // Convert cm to m\n\n// GPS quality thresholds\nconst MIN_SATS = 6;\nconst MIN_FIX = 3;  // 3D fix required\nconst MAX_HDOP = 2.0;  // 2m horizontal accuracy\n\nlet alert = null;\n\nif (fixType < MIN_FIX) {\n    alert = {\n        level: 'CRITICAL',\n        message: `🔴 GPS LOST: No 3D fix! (${satellites} sats) - DO NOT FLY!`,\n        color: 'red',\n        sound: true\n    };\n} else if (satellites < MIN_SATS) {\n    alert = {\n        level: 'WARNING',\n        message: `🟠 GPS DEGRADED: Only ${satellites} satellites - Fly with caution`,\n        color: 'orange',\n        sound: true\n    };\n} else if (hdop > MAX_HDOP) {\n    alert = {\n        level: 'CAUTION',\n        message: `🟡 GPS accuracy poor: HDOP ${hdop.toFixed(1)}m - Monitor closely`,\n        color: 'yellow',\n        sound: false\n    };\n}\n\nif (alert) {\n    return {\n        payload: alert.message,\n        topic: 'safety/gps',\n        alert: alert\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [["alert_handler", "ui_gps_status"]]
    },
    {
        "id": "check_connection",
        "type": "function",
        "z": "safety_flow",
        "name": "Check Connection Timeout",
        "func": "// Reset connection timer on each HEARTBEAT\nconst now = Date.now();\nflow.set('last_heartbeat', now);\n\n// Check if we previously had a timeout\nconst wasTimeout = flow.get('connection_timeout') || false;\n\nif (wasTimeout) {\n    // Connection restored!\n    flow.set('connection_timeout', false);\n    return {\n        payload: '✅ Connection restored',\n        topic: 'safety/connection',\n        alert: {\n            level: 'INFO',\n            message: '✅ Telemetry connection restored',\n            color: 'green',\n            sound: false\n        }\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,\n        "noerr": 0,
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [["alert_handler"]]
    },
    {
        "id": "connection_watchdog",
        "type": "inject",
        "z": "safety_flow",
        "name": "Watchdog (every 3s)",
        "props": [{"p": "payload"}],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [["check_connection_watchdog"]]
    },
    {
        "id": "check_connection_watchdog",
        "type": "function",
        "z": "safety_flow",
        "name": "Check Last HEARTBEAT",
        "func": "const now = Date.now();\nconst lastHeartbeat = flow.get('last_heartbeat') || 0;\nconst timeSince = (now - lastHeartbeat) / 1000;  // seconds\n\nconst TIMEOUT_SECONDS = 5;\n\nif (timeSince > TIMEOUT_SECONDS && lastHeartbeat > 0) {\n    // Connection timeout!\n    const wasTimeout = flow.get('connection_timeout') || false;\n    \n    if (!wasTimeout) {\n        // First timeout detection\n        flow.set('connection_timeout', true);\n        \n        return {\n            payload: `🔴 CONNECTION LOST: No data for ${timeSince.toFixed(0)}s`,\n            topic: 'safety/connection',\n            alert: {\n                level: 'CRITICAL',\n                message: `🔴 Telemetry connection lost! (${timeSince.toFixed(0)}s timeout)`,\n                color: 'red',\n                sound: true\n            }\n        };\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [["alert_handler", "ui_connection_status"]]
    },
    {
        "id": "check_geofence",
        "type": "function",
        "z": "safety_flow",
        "name": "Check Geofence Distance",
        "func": "const pos = msg.payload;\nif (!pos) return null;\n\n// Get home position (stored from first GPS lock)\nlet home = flow.get('home_position');\n\nif (!home) {\n    // Store first position as home\n    home = {\n        lat: pos.lat / 1e7,\n        lon: pos.lon / 1e7\n    };\n    flow.set('home_position', home);\n    return null;\n}\n\n// Calculate distance from home (Haversine formula)\nconst lat1 = home.lat * Math.PI / 180;\nconst lat2 = (pos.lat / 1e7) * Math.PI / 180;\nconst dLat = lat2 - lat1;\nconst dLon = ((pos.lon / 1e7) - home.lon) * Math.PI / 180;\n\nconst a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n          Math.cos(lat1) * Math.cos(lat2) *\n          Math.sin(dLon / 2) * Math.sin(dLon / 2);\nconst c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\nconst distance = 6371000 * c;  // Distance in meters\n\n// Geofence thresholds\nconst MAX_DISTANCE = 500;      // meters\nconst WARNING_DISTANCE = 400;  // meters\n\nlet alert = null;\n\nif (distance > MAX_DISTANCE) {\n    alert = {\n        level: 'CRITICAL',\n        message: `🔴 GEOFENCE BREACH: ${distance.toFixed(0)}m from home - Return immediately!`,\n        color: 'red',\n        sound: true\n    };\n} else if (distance > WARNING_DISTANCE) {\n    alert = {\n        level: 'WARNING',\n        message: `🟠 Near geofence limit: ${distance.toFixed(0)}m from home`,\n        color: 'orange',\n        sound: true\n    };\n}\n\nif (alert) {\n    return {\n        payload: alert.message,\n        topic: 'safety/geofence',\n        alert: alert,\n        distance: distance\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [["alert_handler", "ui_geofence_status"]]
    },
    {
        "id": "check_altitude",
        "type": "function",
        "z": "safety_flow",
        "name": "Check Altitude Limits",
        "func": "const pos = msg.payload;\nif (!pos) return null;\n\nconst altitude = pos.relative_alt ? pos.relative_alt / 1000 : 0;  // mm to m\n\n// Altitude thresholds\nconst MAX_ALTITUDE = 120;   // meters (FAA limit in US)\nconst WARNING_ALTITUDE = 100;  // meters\n\nlet alert = null;\n\nif (altitude > MAX_ALTITUDE) {\n    alert = {\n        level: 'CRITICAL',\n        message: `🔴 ALTITUDE LIMIT EXCEEDED: ${altitude.toFixed(0)}m - Descend immediately!`,\n        color: 'red',\n        sound: true\n    };\n} else if (altitude > WARNING_ALTITUDE) {\n    alert = {\n        level: 'WARNING',\n        message: `🟠 Near altitude limit: ${altitude.toFixed(0)}m - Stop climbing!`,\n        color: 'orange',\n        sound: true\n    };\n}\n\nif (alert) {\n    return {\n        payload: alert.message,\n        topic: 'safety/altitude',\n        alert: alert,\n        altitude: altitude\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [["alert_handler", "ui_altitude_status"]]
    },
    {
        "id": "alert_handler",
        "type": "function",
        "z": "safety_flow",
        "name": "Alert Handler",
        "func": "// Central alert processor\nif (!msg.alert) return null;\n\nconst alert = msg.alert;\n\n// Track alert history\nlet alerts = flow.get('active_alerts') || {};\nalerts[msg.topic] = {\n    level: alert.level,\n    message: alert.message,\n    timestamp: Date.now()\n};\nflow.set('active_alerts', alerts);\n\n// Output based on severity\nif (alert.level === 'CRITICAL') {\n    return [msg, null, null];\n} else if (alert.level === 'WARNING') {\n    return [null, msg, null];\n} else {\n    return [null, null, msg];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            ["ui_critical_alert", "debug_critical"],\n            ["ui_warning_alert", "debug_warning"],\n            ["debug_caution"]\n        ]
    },
    {
        "id": "ui_critical_alert",
        "type": "ui_toast",
        "z": "safety_flow",
        "position": "top right",
        "displayTime": "0",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "ACKNOWLEDGE",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "🔴 CRITICAL SAFETY ALERT",
        "name": "Critical Alert Toast",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_warning_alert",
        "type": "ui_toast",
        "z": "safety_flow",
        "position": "top right",
        "displayTime": "10",
        "highlight": "orange",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "🟠 Safety Warning",
        "name": "Warning Alert Toast",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_battery_status",
        "type": "ui_text",
        "z": "safety_flow",
        "group": "safety_group",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Battery Alert",
        "label": "Battery",
        "format": "<span style=\"color:{{msg.alert.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_gps_status",
        "type": "ui_text",
        "z": "safety_flow",
        "group": "safety_group",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "GPS Alert",
        "label": "GPS",
        "format": "<span style=\"color:{{msg.alert.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_connection_status",
        "type": "ui_text",
        "z": "safety_flow",
        "group": "safety_group",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Connection Alert",
        "label": "Connection",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_geofence_status",
        "type": "ui_text",
        "z": "safety_flow",
        "group": "safety_group",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Geofence Alert",
        "label": "Geofence",
        "format": "<span style=\"color:{{msg.alert.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_altitude_status",
        "type": "ui_text",
        "z": "safety_flow",
        "group": "safety_group",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Altitude Alert",
        "label": "Altitude",
        "format": "<span style=\"color:{{msg.alert.color}}\">{{msg.payload}}</span>",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_critical",
        "type": "debug",
        "z": "safety_flow",
        "name": "CRITICAL Alerts",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_warning",
        "type": "debug",
        "z": "safety_flow",
        "name": "WARNING Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "debug_caution",
        "type": "debug",
        "z": "safety_flow",
        "name": "CAUTION Alerts",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment_info",
        "type": "comment",
        "z": "safety_flow",
        "name": "Safety Monitor - Wire mavlink-comms output to ALL FOUR filter nodes",
        "info": "## Safety Monitor\n\nAutomated safety monitoring with real-time alerts.\n\n### Setup:\n1. Wire mavlink-comms output to ALL FOUR filter nodes:\n   - Filter SYS_STATUS\n   - Filter GPS_RAW_INT\n   - Filter HEARTBEAT\n   - Filter GLOBAL_POSITION_INT\n2. Deploy\n3. Open Dashboard: http://localhost:1880/ui\n4. Fly with confidence!\n\n### What It Monitors:\n\n**Battery Level:**\n- 🔴 CRITICAL (<15%): Land immediately!\n- 🟠 WARNING (<25%): Return to launch\n- 🟡 CAUTION (<35%): Start heading back\n\n**GPS Quality:**\n- 🔴 CRITICAL: No 3D fix\n- 🟠 WARNING: <6 satellites\n- 🟡 CAUTION: Poor accuracy (HDOP >2m)\n\n**Telemetry Connection:**\n- 🔴 CRITICAL: No HEARTBEAT for >5 seconds\n- ✅ INFO: Connection restored\n\n**Geofence:**\n- 🔴 CRITICAL: >500m from home\n- 🟠 WARNING: >400m from home\n- Home position set at first GPS lock\n\n**Altitude Limits:**\n- 🔴 CRITICAL: >120m (FAA limit)\n- 🟠 WARNING: >100m\n\n### Alert Behavior:\n\n**Critical Alerts (Red):**\n- Toast notification that stays until acknowledged\n- Logged to console and debug panel\n- Requires immediate action\n\n**Warning Alerts (Orange):**\n- Toast notification for 10 seconds\n- Logged to debug panel\n- Take action soon\n\n**Caution Alerts (Yellow):**\n- No toast (non-intrusive)\n- Logged to debug panel only\n- Be aware\n\n### Customization:\n\nEdit the check functions to adjust thresholds:\n\n**Battery (check_battery):**\n```javascript\nconst CRITICAL_PERCENT = 15;  // Your value here\nconst WARNING_PERCENT = 25;\nconst LOW_PERCENT = 35;\n```\n\n**Geofence (check_geofence):**\n```javascript\nconst MAX_DISTANCE = 500;      // meters\nconst WARNING_DISTANCE = 400;  // meters\n```\n\n**Altitude (check_altitude):**\n```javascript\nconst MAX_ALTITUDE = 120;      // meters\nconst WARNING_ALTITUDE = 100;  // meters\n```\n\n**Connection Timeout (check_connection_watchdog):**\n```javascript\nconst TIMEOUT_SECONDS = 5;  // seconds\n```\n\n### Additional Actions:\n\nYou can wire the alert outputs to trigger automated responses:\n\n**Auto-RTL on critical battery:**\n- Wire `debug_critical` output → filter for battery → send RTL command\n\n**Auto-land on GPS loss:**\n- Wire `debug_critical` output → filter for GPS → send LAND command\n\n**Log to file:**\n- Wire alerts → file write node → save alert history\n\n**Send notifications:**\n- Wire alerts → email/SMS node → notify pilot\n\n### Safety Philosophy:\n\n⚠️ **This monitor is a HELPER, not a replacement for pilot awareness!**\n\n**You must still:**\n- Monitor your vehicle visually\n- Check weather conditions\n- Maintain manual control ability\n- Follow all aviation regulations\n- Have backup plans for emergencies\n\n**This tool helps by:**\n- Catching things you might miss\n- Warning before critical thresholds\n- Logging safety events\n- Providing objective data\n\n### Best Practices:\n\n1. **Test thresholds on ground** - Verify alerts trigger correctly\n2. **Adjust for your aircraft** - Different vehicles have different limits\n3. **Practice emergency procedures** - Know what to do when alert sounds\n4. **Review logs after flights** - Learn from close calls\n5. **Don't ignore warnings** - They're there for a reason!\n\n### Troubleshooting:\n\n**Geofence always alerting:**\n- Delete flow context to reset home position\n- Or edit check_geofence to clear stored home\n\n**Connection alerts when connected:**\n- Check HEARTBEAT message rate\n- Adjust TIMEOUT_SECONDS if needed\n- Verify messages reaching filter\n\n**No alerts at all:**\n- Check all four filters wired correctly\n- Verify messages in debug panel\n- Check Dashboard is open\n\n### Requirements:\n- node-red-dashboard installed\n- SYS_STATUS, GPS_RAW_INT, HEARTBEAT, GLOBAL_POSITION_INT messages\n- Stable telemetry connection",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "safety_group",
        "type": "ui_group",
        "name": "Safety Monitor",
        "tab": "advanced_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "advanced_tab",
        "type": "ui_tab",
        "name": "Advanced",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
