examples/tests/command-test.json
[
    {
        "id": "command_tab",
        "type": "tab",
        "label": "MAVLink Tests: Commands",
        "disabled": false,
        "info": "Tests MAVLink command protocol:\n- ARM_DISARM\n- NAV_TAKEOFF\n- NAV_LAND  \n- NAV_RETURN_TO_LAUNCH\n- SET_MODE\n\nGCS sends commands, simulated drone responds with COMMAND_ACK"
    },
    {
        "id": "test_arm",
        "type": "inject",
        "z": "command_tab",
        "name": "Test: ARM",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"command\":\"ARM\"}",
        "payloadType": "json",
        "x": 120,
        "y": 80,
        "wires": [["send_arm_command"]]
    },
    {
        "id": "test_disarm",
        "type": "inject",
        "z": "command_tab",
        "name": "Test: DISARM",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"command\":\"DISARM\"}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [["send_disarm_command"]]
    },
    {
        "id": "test_takeoff",
        "type": "inject",
        "z": "command_tab",
        "name": "Test: TAKEOFF",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"command\":\"TAKEOFF\",\"altitude\":10}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [["send_takeoff_command"]]
    },
    {
        "id": "test_land",
        "type": "inject",
        "z": "command_tab",
        "name": "Test: LAND",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"command\":\"LAND\"}",
        "payloadType": "json",
        "x": 120,
        "y": 200,
        "wires": [["send_land_command"]]
    },
    {
        "id": "test_rtl",
        "type": "inject",
        "z": "command_tab",
        "name": "Test: RTL",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "{\"command\":\"RTL\"}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [["send_rtl_command"]]
    },
    {
        "id": "send_arm_command",
        "type": "function",
        "z": "command_tab",
        "name": "ARM Command",
        "func": "msg.topic = 'COMMAND_LONG';\nmsg.payload = {\n    target_system: 1,\n    target_component: 1,\n    command: 400,  // MAV_CMD_COMPONENT_ARM_DISARM\n    confirmation: 0,\n    param1: 1,     // 1 = ARM\n    param2: 0,\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0\n};\n\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'ARM');\nflow.set('expected_command', 400);\n\nnode.status({fill: 'blue', shape: 'ring', text: 'ARM sent'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "send_disarm_command",
        "type": "function",
        "z": "command_tab",
        "name": "DISARM Command",
        "func": "msg.topic = 'COMMAND_LONG';\nmsg.payload = {\n    target_system: 1,\n    target_component: 1,\n    command: 400,  // MAV_CMD_COMPONENT_ARM_DISARM\n    confirmation: 0,\n    param1: 0,     // 0 = DISARM\n    param2: 0,\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0\n};\n\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'DISARM');\nflow.set('expected_command', 400);\n\nnode.status({fill: 'blue', shape: 'ring', text: 'DISARM sent'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "send_takeoff_command",
        "type": "function",
        "z": "command_tab",
        "name": "TAKEOFF Command",
        "func": "const altitude = msg.payload.altitude || 10;\n\nmsg.topic = 'COMMAND_LONG';\nmsg.payload = {\n    target_system: 1,\n    target_component: 1,\n    command: 22,   // MAV_CMD_NAV_TAKEOFF\n    confirmation: 0,\n    param1: 0,\n    param2: 0,\n    param3: 0,\n    param4: 0,     // Yaw\n    param5: 0,     // Lat\n    param6: 0,     // Lon\n    param7: altitude\n};\n\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'TAKEOFF');\nflow.set('expected_command', 22);\n\nnode.status({fill: 'blue', shape: 'ring', text: `TAKEOFF ${altitude}m sent`});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "send_land_command",
        "type": "function",
        "z": "command_tab",
        "name": "LAND Command",
        "func": "msg.topic = 'COMMAND_LONG';\nmsg.payload = {\n    target_system: 1,\n    target_component: 1,\n    command: 21,   // MAV_CMD_NAV_LAND\n    confirmation: 0,\n    param1: 0,\n    param2: 0,\n    param3: 0,\n    param4: 0,\n    param5: 0,     // Lat\n    param6: 0,     // Lon\n    param7: 0      // Alt\n};\n\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'LAND');\nflow.set('expected_command', 21);\n\nnode.status({fill: 'blue', shape: 'ring', text: 'LAND sent'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "send_rtl_command",
        "type": "function",
        "z": "command_tab",
        "name": "RTL Command",
        "func": "msg.topic = 'COMMAND_LONG';\nmsg.payload = {\n    target_system: 1,\n    target_component: 1,\n    command: 20,   // MAV_CMD_NAV_RETURN_TO_LAUNCH\n    confirmation: 0,\n    param1: 0,\n    param2: 0,\n    param3: 0,\n    param4: 0,\n    param5: 0,\n    param6: 0,\n    param7: 0\n};\n\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'RTL');\nflow.set('expected_command', 20);\n\nnode.status({fill: 'blue', shape: 'ring', text: 'RTL sent'});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "gcs_msg_out",
        "type": "mavlink-msg",
        "z": "command_tab",
        "name": "GCS Commands Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "255",
        "componentId": "190",
        "x": 550,
        "y": 160,
        "wires": [["gcs_comms"]]
    },
    {
        "id": "gcs_comms",
        "type": "mavlink-comms",
        "z": "command_tab",
        "name": "GCS Comms (UDP:14550)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14550",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14551",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "255",
        "componentId": "190",
        "x": 760,
        "y": 160,
        "wires": [["command_ack_verifier"]]
    },
    {
        "id": "drone_comms",
        "type": "mavlink-comms",
        "z": "command_tab",
        "name": "Drone Comms (UDP:14551)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14551",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14550",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "1",
        "componentId": "1",
        "x": 150,
        "y": 380,
        "wires": [["drone_command_handler"]]
    },
    {
        "id": "drone_command_handler",
        "type": "function",
        "z": "command_tab",
        "name": "Simulated Drone Command Handler",
        "func": "// Simulated drone that responds to commands\nif (msg.topic !== 'COMMAND_LONG') {\n    return null;\n}\n\nconst fields = msg.payload.fields;\nconst command = fields.command;\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `Received cmd: ${command}`\n});\n\n// Simulate command execution\nlet result = 0;  // MAV_RESULT_ACCEPTED\n\nswitch(command) {\n    case 400:  // ARM_DISARM\n        const arm = fields.param1 === 1;\n        node.warn(`${arm ? 'ARM' : 'DISARM'} command received`);\n        result = 0;  // Accepted\n        break;\n        \n    case 22:  // NAV_TAKEOFF\n        node.warn(`TAKEOFF command received: ${fields.param7}m`);\n        result = 0;  // Accepted\n        break;\n        \n    case 21:  // NAV_LAND\n        node.warn('LAND command received');\n        result = 0;  // Accepted\n        break;\n        \n    case 20:  // NAV_RETURN_TO_LAUNCH\n        node.warn('RTL command received');\n        result = 0;  // Accepted\n        break;\n        \n    default:\n        node.warn(`Unknown command: ${command}`);\n        result = 3;  // MAV_RESULT_UNSUPPORTED\n        break;\n}\n\n// Send COMMAND_ACK\nmsg.topic = 'COMMAND_ACK';\nmsg.payload = {\n    command: command,\n    result: result,\n    progress: 0,\n    result_param2: 0,\n    target_system: fields.target_system || 255,\n    target_component: fields.target_component || 190\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [["drone_msg_out"]]
    },
    {
        "id": "drone_msg_out",
        "type": "mavlink-msg",
        "z": "command_tab",
        "name": "Drone Msg Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "1",
        "componentId": "1",
        "x": 710,
        "y": 380,
        "wires": [["drone_comms"]]
    },
    {
        "id": "command_ack_verifier",
        "type": "function",
        "z": "command_tab",
        "name": "Verify COMMAND_ACK",
        "func": "if (msg.topic !== 'COMMAND_ACK') {\n    return null;\n}\n\nconst fields = msg.payload.fields;\nconst testName = flow.get('test_name');\nconst expectedCmd = flow.get('expected_command');\nconst startTime = flow.get('test_start_time');\nconst elapsed = Date.now() - startTime;\n\nconst result = {\n    test: `Command: ${testName}`,\n    command: fields.command,\n    result: fields.result,\n    elapsed: elapsed,\n    pass: fields.command === expectedCmd && fields.result === 0,\n    details: `command=${fields.command}, result=${fields.result} (0=ACCEPTED, 1=TEMP_REJECTED, 2=DENIED, 3=UNSUPPORTED)`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: result.pass ? 'PASS' : 'FAIL'\n});\n\nnode.warn(JSON.stringify(result, null, 2));\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [["test_debug"]]
    },
    {
        "id": "test_debug",
        "type": "debug",
        "z": "command_tab",
        "name": "Command Test Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "test_sequence",
        "type": "inject",
        "z": "command_tab",
        "name": "Run Full Sequence",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [["sequence_runner"]]
    },
    {
        "id": "sequence_runner",
        "type": "function",
        "z": "command_tab",
        "name": "Command Sequence",
        "func": "// Run full command sequence with delays\nconst sequence = [\n    {delay: 0, inject: 'test_arm'},\n    {delay: 2000, inject: 'test_takeoff'},\n    {delay: 5000, inject: 'test_land'},\n    {delay: 8000, inject: 'test_rtl'},\n    {delay: 10000, inject: 'test_disarm'}\n];\n\nnode.status({fill: 'blue', shape: 'ring', text: 'Running sequence...'});\n\nsequence.forEach((step, i) => {\n    setTimeout(() => {\n        node.send({topic: 'trigger', payload: step.inject});\n        if (i === sequence.length - 1) {\n            node.status({fill: 'green', shape: 'dot', text: 'Sequence complete'});\n        }\n    }, step.delay);\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [[]]
    }
]
