examples/tests/parameter-test.json
[
    {
        "id": "param_tab",
        "type": "tab",
        "label": "MAVLink Tests: Parameters",
        "disabled": false,
        "info": "Tests parameter protocol:\n- PARAM_REQUEST_LIST\n- PARAM_VALUE responses\n- PARAM_SET\n- PARAM_REQUEST_READ\n\nSimulated drone with test parameters"
    },
    {
        "id": "request_all_params",
        "type": "inject",
        "z": "param_tab",
        "name": "Request All Parameters",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PARAM_REQUEST_LIST",
        "payload": "{\"target_system\":1,\"target_component\":1}",
        "payloadType": "json",
        "x": 170,
        "y": 80,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "set_param",
        "type": "inject",
        "z": "param_tab",
        "name": "Set Parameter",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PARAM_SET",
        "payload": "{\"target_system\":1,\"target_component\":1,\"param_id\":\"TEST_PARAM_1\",\"param_value\":99.5,\"param_type\":9}",
        "payloadType": "json",
        "x": 140,
        "y": 120,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "gcs_msg_out",
        "type": "mavlink-msg",
        "z": "param_tab",
        "name": "GCS Msg Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "255",
        "componentId": "190",
        "x": 390,
        "y": 100,
        "wires": [["gcs_comms"]]
    },
    {
        "id": "gcs_comms",
        "type": "mavlink-comms",
        "z": "param_tab",
        "name": "GCS Comms (UDP:14550)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14550",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14551",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "255",
        "componentId": "190",
        "x": 600,
        "y": 100,
        "wires": [["param_verifier"]]
    },
    {
        "id": "drone_comms",
        "type": "mavlink-comms",
        "z": "param_tab",
        "name": "Drone Comms (UDP:14551)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14551",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14550",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "1",
        "componentId": "1",
        "x": 150,
        "y": 280,
        "wires": [["drone_param_handler"]]
    },
    {
        "id": "drone_param_handler",
        "type": "function",
        "z": "param_tab",
        "name": "Simulated Drone Parameters",
        "func": "// Simulated parameter storage\nconst params = [\n    {id: 'TEST_PARAM_1', value: 42.5, type: 9},  // REAL32\n    {id: 'TEST_PARAM_2', value: 1e-3, type: 9},\n    {id: 'TEST_PARAM_3', value: 2.5e6, type: 9},\n    {id: 'ARMING_CHECK', value: 1, type: 2},      // UINT8\n    {id: 'BATT_CAPACITY', value: 5000, type: 4}   // UINT16\n];\n\nconst msgType = msg.topic;\nconst fields = msg.payload.fields;\n\nif (msgType === 'PARAM_REQUEST_LIST') {\n    // Send all parameters - use node.send() to emit multiple messages\n    node.status({fill: 'blue', shape: 'dot', text: `Sending ${params.length} params`});\n    \n    params.forEach((param, index) => {\n        node.send({\n            topic: 'PARAM_VALUE',\n            payload: {\n                param_id: param.id,\n                param_value: param.value,\n                param_type: param.type,\n                param_count: params.length,\n                param_index: index\n            }\n        });\n    });\n    return null;\n    \n} else if (msgType === 'PARAM_SET') {\n    // Update parameter and send confirmation\n    const paramId = fields.param_id;\n    const param = params.find(p => p.id === paramId);\n    \n    if (param) {\n        param.value = fields.param_value;\n        node.status({fill: 'green', shape: 'dot', text: `Set ${paramId}=${fields.param_value}`});\n        \n        return {\n            topic: 'PARAM_VALUE',\n            payload: {\n                param_id: paramId,\n                param_value: fields.param_value,\n                param_type: fields.param_type,\n                param_count: params.length,\n                param_index: params.findIndex(p => p.id === paramId)\n            }\n        };\n    }\n    \n} else if (msgType === 'PARAM_REQUEST_READ') {\n    // Send specific parameter\n    let param;\n    if (fields.param_id && fields.param_id !== '') {\n        param = params.find(p => p.id === fields.param_id);\n    } else if (fields.param_index >= 0) {\n        param = params[fields.param_index];\n    }\n    \n    if (param) {\n        node.status({fill: 'blue', shape: 'dot', text: `Sent ${param.id}`});\n        \n        return {\n            topic: 'PARAM_VALUE',\n            payload: {\n                param_id: param.id,\n                param_value: param.value,\n                param_type: param.type,\n                param_count: params.length,\n                param_index: params.findIndex(p => p.id === param.id)\n            }\n        };\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [["drone_msg_out"]]
    },
    {
        "id": "drone_msg_out",
        "type": "mavlink-msg",
        "z": "param_tab",
        "name": "Drone Msg Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "1",
        "componentId": "1",
        "x": 650,
        "y": 280,
        "wires": [["drone_comms"]]
    },
    {
        "id": "param_verifier",
        "type": "function",
        "z": "param_tab",
        "name": "Verify Parameters",
        "func": "if (msg.topic !== 'PARAM_VALUE') {\n    return null;\n}\n\nconst fields = msg.payload.fields;\n\nconst result = {\n    test: 'Parameter',\n    param_id: fields.param_id,\n    param_value: fields.param_value,\n    param_index: fields.param_index,\n    param_count: fields.param_count,\n    pass: fields.param_id !== undefined && fields.param_value !== undefined,\n    details: `${fields.param_id} = ${fields.param_value} (${fields.param_index + 1}/${fields.param_count})`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: `${fields.param_index + 1}/${fields.param_count}`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 100,
        "wires": [["test_debug"]]
    },
    {
        "id": "test_debug",
        "type": "debug",
        "z": "param_tab",
        "name": "Parameter Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 100,
        "wires": []
    }
]
