examples/tests/simulated-drone-test.json
[
    {
        "id": "test_tab",
        "type": "tab",
        "label": "MAVLink Tests: Simulated Drone",
        "disabled": false,
        "info": "Three test suites:\n1. Happy Path - Drone accepts everything\n2. Chaos - Random valid responses\n3. Failure - Drone rejects everything"
    },
    {
        "id": "test_mode_selector",
        "type": "inject",
        "z": "test_tab",
        "name": "Mode: Happy Path",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_mode",
        "payload": "happy",
        "payloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [["set_test_mode"]]
    },
    {
        "id": "test_mode_chaos",
        "type": "inject",
        "z": "test_tab",
        "name": "Mode: Chaos",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_mode",
        "payload": "chaos",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [["set_test_mode"]]
    },
    {
        "id": "test_mode_failure",
        "type": "inject",
        "z": "test_tab",
        "name": "Mode: Failure",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_mode",
        "payload": "failure",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [["set_test_mode"]]
    },
    {
        "id": "set_test_mode",
        "type": "function",
        "z": "test_tab",
        "name": "Set Test Mode",
        "func": "const mode = msg.payload;\nflow.set('test_mode', mode);\n\nnode.status({\n    fill: mode === 'happy' ? 'green' : (mode === 'chaos' ? 'yellow' : 'red'),\n    shape: 'dot',\n    text: `Mode: ${mode.toUpperCase()}`\n});\n\nnode.warn(`Test mode set to: ${mode}`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "test_scenario_heartbeat",
        "type": "inject",
        "z": "test_tab",
        "name": "Test: Heartbeat",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_heartbeat",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [["send_heartbeat"]]
    },
    {
        "id": "send_heartbeat",
        "type": "function",
        "z": "test_tab",
        "name": "Send HEARTBEAT",
        "func": "msg.payload = {\n    type: 6,        // MAV_TYPE_GCS\n    autopilot: 0,  // MAV_AUTOPILOT_GENERIC\n    base_mode: 0,\n    custom_mode: 0,\n    system_status: 4,  // MAV_STATE_ACTIVE\n    mavlink_version: 3\n};\n\nmsg.topic = 'HEARTBEAT';\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'Heartbeat Exchange');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [["gcs_msg_out"]]
    },
    {
        "id": "test_scenario_mission",
        "type": "inject",
        "z": "test_tab",
        "name": "Test: Mission Upload",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_mission",
        "payload": "{}",
        "payloadType": "json",
        "x": 160,
        "y": 280,
        "wires": [["send_test_mission"]]
    },
    {
        "id": "send_test_mission",
        "type": "function",
        "z": "test_tab",
        "name": "Send Test Mission",
        "func": "// Test mission with edge cases:\n// - Scientific notation (1e-3)\n// - NaN for yaw (don't change heading)\n// - Extreme lat/lon (int32 overflow test)\nconst waypoints = [\n    {\n        lat: -35.363261,\n        lon: 149.165230,\n        alt: 0,\n        command: 16,  // NAV_WAYPOINT (home)\n        param1: 0,\n        param2: 0,\n        param3: 0,\n        param4: 0\n    },\n    {\n        lat: -35.363800,\n        lon: 149.165500,\n        alt: 50,\n        command: 16,  // NAV_WAYPOINT\n        param1: 1e-3, // Scientific notation test\n        param2: 0,\n        param3: 0,\n        param4: NaN   // NaN preservation test\n    },\n    {\n        lat: 89.999999,  // Extreme lat (int32 overflow test)\n        lon: -179.999999, // Extreme lon\n        alt: 100,\n        command: 16,\n        param1: 0,\n        param2: 2.5e6,  // Scientific notation\n        param3: 0,\n        param4: 90\n    }\n];\n\nmsg.payload = waypoints;\nflow.set('test_start_time', Date.now());\nflow.set('test_name', 'Mission Upload (3 waypoints)');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [["gcs_mission_manager"]]
    },
    {
        "id": "gcs_msg_out",
        "type": "mavlink-msg",
        "z": "test_tab",
        "name": "GCS Msg Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "255",
        "componentId": "190",
        "x": 580,
        "y": 240,
        "wires": [["test_verifier", "gcs_comms"]]
    },
    {
        "id": "gcs_mission_manager",
        "type": "mavlink-mission",
        "z": "test_tab",
        "name": "GCS Mission Manager",
        "targetSystem": "1",
        "targetComponent": "1",
        "timeoutMs": "5000",
        "x": 590,
        "y": 280,
        "wires": [["test_verifier", "gcs_comms"]]
    },
    {
        "id": "gcs_comms",
        "type": "mavlink-comms",
        "z": "test_tab",
        "name": "GCS Comms (UDP:14550)",
        "connectionType": "udpclient",
        "serialPort": "/dev/ttyUSB0",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14550",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14551",
        "dialect": "common",
        "enableHeartbeat": true,
        "systemId": "255",
        "componentId": "190",
        "x": 600,
        "y": 380,
        "wires": [["drone_msg_in", "test_verifier"]]
    },
    {
        "id": "drone_comms",
        "type": "mavlink-comms",
        "z": "test_tab",
        "name": "Drone Comms (UDP:14551)",
        "connectionType": "udpclient",
        "serialPort": "/dev/ttyUSB0",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14551",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14550",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "1",
        "componentId": "1",
        "x": 600,
        "y": 480,
        "wires": [["drone_behavior"]]
    },
    {
        "id": "drone_msg_in",
        "type": "function",
        "z": "test_tab",
        "name": "Filter for Drone",
        "func": "// Only process messages intended for drone (system ID 1 or broadcast)\nif (msg.payload && msg.payload.fields) {\n    const target = msg.payload.fields.target_system || msg.payload.fields.targetSystem;\n    if (target === 1 || target === 0 || target === undefined) {\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [["drone_behavior"]]
    },
    {
        "id": "drone_behavior",
        "type": "function",
        "z": "test_tab",
        "name": "Simulated Drone Logic",
        "func": "const mode = flow.get('test_mode') || 'happy';\nconst msgType = msg.topic;\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `${mode}: ${msgType}`\n});\n\n// Initialize mission state\nif (!flow.get('mission_seq')) {\n    flow.set('mission_seq', 0);\n}\n\nlet responses = [];\n\nswitch(msgType) {\n    case 'HEARTBEAT':\n        if (mode === 'happy' || mode === 'chaos') {\n            responses.push({\n                topic: 'HEARTBEAT',\n                payload: {\n                    type: 2,        // MAV_TYPE_QUADROTOR\n                    autopilot: 3,   // MAV_AUTOPILOT_ARDUPILOTMEGA\n                    base_mode: 81,\n                    custom_mode: 0,\n                    system_status: 4,\n                    mavlink_version: 3\n                }\n            });\n        }\n        break;\n        \n    case 'MISSION_COUNT':\n        const count = msg.payload.fields.count;\n        flow.set('mission_count', count);\n        flow.set('mission_seq', 0);\n        \n        if (mode === 'failure') {\n            responses.push({\n                topic: 'MISSION_ACK',\n                payload: {\n                    target_system: 255,\n                    target_component: 190,\n                    type: 1,  // MAV_MISSION_DENIED\n                    mission_type: 0\n                }\n            });\n        } else {\n            // Request first waypoint\n            responses.push({\n                topic: 'MISSION_REQUEST',\n                payload: {\n                    target_system: mode === 'chaos' ? Math.floor(Math.random() * 2) : 255,\n                    target_component: 190,\n                    seq: 0,\n                    mission_type: 0\n                }\n            });\n        }\n        break;\n        \n    case 'MISSION_ITEM':\n    case 'MISSION_ITEM_INT':\n        const seq = msg.payload.fields.seq;\n        const totalCount = flow.get('mission_count');\n        \n        if (mode === 'chaos' && Math.random() < 0.3) {\n            // 30% chance to request same item again (chaos)\n            responses.push({\n                topic: 'MISSION_REQUEST',\n                payload: {\n                    target_system: 255,\n                    target_component: 190,\n                    seq: seq,\n                    mission_type: 0\n                }\n            });\n        } else if (seq < totalCount - 1) {\n            // Request next waypoint\n            responses.push({\n                topic: 'MISSION_REQUEST',\n                payload: {\n                    target_system: 255,\n                    target_component: 190,\n                    seq: seq + 1,\n                    mission_type: 0\n                }\n            });\n        } else {\n            // Final waypoint - send ACK\n            responses.push({\n                topic: 'MISSION_ACK',\n                payload: {\n                    target_system: 255,\n                    target_component: 190,\n                    type: mode === 'failure' ? 1 : 0,  // ACCEPTED or DENIED\n                    mission_type: 0\n                }\n            });\n        }\n        break;\n        \n    case 'PARAM_REQUEST_LIST':\n        if (mode !== 'failure') {\n            // Send a few sample parameters\n            responses.push(\n                {\n                    topic: 'PARAM_VALUE',\n                    payload: {\n                        param_id: 'TEST_PARAM_1',\n                        param_value: mode === 'chaos' ? Math.random() * 100 : 42.5,\n                        param_type: 9,  // REAL32\n                        param_count: 3,\n                        param_index: 0\n                    }\n                },\n                {\n                    topic: 'PARAM_VALUE',\n                    payload: {\n                        param_id: 'TEST_PARAM_2',\n                        param_value: mode === 'chaos' ? Math.random() * 100 : 1e-3,\n                        param_type: 9,\n                        param_count: 3,\n                        param_index: 1\n                    }\n                },\n                {\n                    topic: 'PARAM_VALUE',\n                    payload: {\n                        param_id: 'TEST_PARAM_3',\n                        param_value: mode === 'chaos' ? Math.random() * 100 : 2.5e6,\n                        param_type: 9,\n                        param_count: 3,\n                        param_index: 2\n                    }\n                }\n            );\n        }\n        break;\n}\n\n// Add chaos delay\nif (mode === 'chaos' && responses.length > 0) {\n    const delay = Math.floor(Math.random() * 500);  // 0-500ms random delay\n    setTimeout(() => {\n        node.send(responses);\n    }, delay);\n    return null;  // Don't return immediately in chaos mode\n} else {\n    return responses;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 480,
        "wires": [["drone_msg_out"]]
    },
    {
        "id": "drone_msg_out",
        "type": "mavlink-msg",
        "z": "test_tab",
        "name": "Drone Msg Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "1",
        "componentId": "1",
        "x": 1040,
        "y": 480,
        "wires": [["drone_comms"]]
    },
    {
        "id": "test_verifier",
        "type": "function",
        "z": "test_tab",
        "name": "Test Verifier",
        "func": "const testName = flow.get('test_name');\nconst startTime = flow.get('test_start_time');\nconst mode = flow.get('test_mode') || 'unknown';\n\nif (!testName) {\n    return null;  // No active test\n}\n\nconst elapsed = Date.now() - startTime;\nconst msgType = msg.topic;\n\n// Initialize test results\nif (!flow.get('test_results')) {\n    flow.set('test_results', []);\n}\n\nlet result = {\n    test: testName,\n    mode: mode,\n    elapsed: elapsed,\n    message: msgType,\n    status: null,\n    details: null\n};\n\n// Check for success/failure conditions\nif (msgType === 'HEARTBEAT') {\n    if (msg.payload && msg.payload.fields) {\n        result.status = 'PASS';\n        result.details = 'Heartbeat received from drone';\n    }\n}\n\nif (msgType === 'MISSION_ACK') {\n    const ackType = msg.payload.fields.type;\n    if (mode === 'happy' && ackType === 0) {\n        result.status = 'PASS';\n        result.details = 'Mission accepted (expected in happy mode)';\n        flow.set('test_name', null);  // Test complete\n    } else if (mode === 'failure' && ackType !== 0) {\n        result.status = 'PASS';\n        result.details = 'Mission rejected (expected in failure mode)';\n        flow.set('test_name', null);  // Test complete\n    } else if (mode === 'chaos') {\n        result.status = 'PASS';\n        result.details = `Mission ACK received in chaos mode (type: ${ackType})`;\n        flow.set('test_name', null);  // Test complete\n    } else {\n        result.status = 'FAIL';\n        result.details = `Unexpected ACK type: ${ackType} in mode: ${mode}`;\n        flow.set('test_name', null);  // Test complete\n    }\n}\n\n// Timeout detection\nif (elapsed > 10000) {\n    result.status = 'FAIL';\n    result.details = 'Test timeout (>10s)';\n    flow.set('test_name', null);\n}\n\nif (result.status) {\n    const results = flow.get('test_results');\n    results.push(result);\n    flow.set('test_results', results);\n    \n    node.status({\n        fill: result.status === 'PASS' ? 'green' : 'red',\n        shape: 'dot',\n        text: `${result.status}: ${result.test}`\n    });\n    \n    node.warn(JSON.stringify(result, null, 2));\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [["test_report"]]
    },
    {
        "id": "test_report",
        "type": "debug",
        "z": "test_tab",
        "name": "Test Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "show_results",
        "type": "inject",
        "z": "test_tab",
        "name": "Show All Results",
        "props": [
            {"p": "payload"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [["format_results"]]
    },
    {
        "id": "format_results",
        "type": "function",
        "z": "test_tab",
        "name": "Format Results",
        "func": "const results = flow.get('test_results') || [];\n\nif (results.length === 0) {\n    msg.payload = 'No test results yet. Run some tests first.';\n    return msg;\n}\n\nconst summary = {\n    total: results.length,\n    passed: results.filter(r => r.status === 'PASS').length,\n    failed: results.filter(r => r.status === 'FAIL').length,\n    results: results\n};\n\nmsg.payload = summary;\nnode.warn(`\\n=== TEST SUMMARY ===\\nTotal: ${summary.total}\\nPassed: ${summary.passed}\\nFailed: ${summary.failed}\\n`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [["test_report"]]
    },
    {
        "id": "clear_results",
        "type": "inject",
        "z": "test_tab",
        "name": "Clear Results",
        "props": [
            {"p": "payload"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [["do_clear_results"]]
    },
    {
        "id": "do_clear_results",
        "type": "function",
        "z": "test_tab",
        "name": "Clear",
        "func": "flow.set('test_results', []);\nmsg.payload = 'Test results cleared';\nnode.warn('Test results cleared');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [[]]
    }
]
