examples/tests/telemetry-test.json
[
    {
        "id": "telemetry_tab",
        "type": "tab",
        "label": "MAVLink Tests: Telemetry",
        "disabled": false,
        "info": "Tests telemetry message handling:\n- ATTITUDE (roll/pitch/yaw)\n- GLOBAL_POSITION_INT (lat/lon/alt)\n- VFR_HUD (speed/heading/climb)\n- SYS_STATUS (battery/sensors)\n- GPS_RAW_INT (GPS quality)\n\nSimulated drone streams realistic telemetry at 10Hz"
    },
    {
        "id": "start_telemetry",
        "type": "inject",
        "z": "telemetry_tab",
        "name": "Start Telemetry Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 160,
        "y": 80,
        "wires": [["telemetry_generator"]]
    },
    {
        "id": "stop_telemetry",
        "type": "inject",
        "z": "telemetry_tab",
        "name": "Stop Telemetry Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [["telemetry_generator"]]
    },
    {
        "id": "telemetry_generator",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Telemetry Generator",
        "func": "// Simulated drone telemetry generator\nconst command = msg.payload;\n\nif (command === 'stop') {\n    const intervalId = context.get('telemetryInterval');\n    if (intervalId) {\n        clearInterval(intervalId);\n        context.set('telemetryInterval', null);\n        node.status({fill: 'red', shape: 'ring', text: 'Stopped'});\n    }\n    return null;\n}\n\nif (command === 'start') {\n    // Stop existing interval if any\n    const existingId = context.get('telemetryInterval');\n    if (existingId) {\n        clearInterval(existingId);\n    }\n    \n    // Initialize simulation state\n    let time = 0;\n    let lat = -35.363261;\n    let lon = 149.165230;\n    let alt = 100;\n    let heading = 0;\n    let roll = 0;\n    let pitch = 0;\n    let battery = 100;\n    \n    node.status({fill: 'green', shape: 'dot', text: 'Streaming @ 10Hz'});\n    \n    // Generate telemetry at 10Hz\n    const intervalId = setInterval(() => {\n        time += 0.1;\n        \n        // Simulate gentle flying motion\n        roll = Math.sin(time * 0.5) * 15 * (Math.PI / 180);  // ±15 degrees\n        pitch = Math.sin(time * 0.3) * 10 * (Math.PI / 180); // ±10 degrees\n        heading += 0.5; // Slow turn\n        if (heading >= 360) heading = 0;\n        \n        // Simulate GPS movement (circular pattern)\n        lat += Math.sin(time * 0.2) * 0.00001;\n        lon += Math.cos(time * 0.2) * 0.00001;\n        alt = 100 + Math.sin(time * 0.1) * 10; // ±10m altitude variation\n        \n        // Battery slowly drains\n        battery = Math.max(0, 100 - time * 0.1);\n        \n        const messages = [\n            {\n                topic: 'ATTITUDE',\n                payload: {\n                    time_boot_ms: Math.floor(time * 1000),\n                    roll: roll,\n                    pitch: pitch,\n                    yaw: heading * (Math.PI / 180),\n                    rollspeed: Math.sin(time) * 0.1,\n                    pitchspeed: Math.cos(time) * 0.1,\n                    yawspeed: 0.01\n                }\n            },\n            {\n                topic: 'GLOBAL_POSITION_INT',\n                payload: {\n                    time_boot_ms: Math.floor(time * 1000),\n                    lat: Math.round(lat * 1e7),\n                    lon: Math.round(lon * 1e7),\n                    alt: Math.round(alt * 1000),\n                    relative_alt: Math.round(alt * 1000),\n                    vx: Math.round(Math.cos(time * 0.5) * 500),  // cm/s\n                    vy: Math.round(Math.sin(time * 0.5) * 500),\n                    vz: Math.round(Math.sin(time * 0.1) * 50),\n                    hdg: Math.round(heading * 100)\n                }\n            },\n            {\n                topic: 'VFR_HUD',\n                payload: {\n                    airspeed: 5 + Math.sin(time * 0.3),\n                    groundspeed: 5 + Math.sin(time * 0.3),\n                    heading: Math.round(heading),\n                    throttle: 50 + Math.sin(time * 0.2) * 10,\n                    alt: alt,\n                    climb: Math.sin(time * 0.1) * 2\n                }\n            },\n            {\n                topic: 'SYS_STATUS',\n                payload: {\n                    onboard_control_sensors_present: 0xFFFFFF,\n                    onboard_control_sensors_enabled: 0xFFFFFF,\n                    onboard_control_sensors_health: 0xFFFFFF,\n                    load: Math.round(300 + Math.sin(time) * 50),  // 0.1%\n                    voltage_battery: Math.round(12600 - (100 - battery) * 30), // mV\n                    current_battery: Math.round(1500 + Math.sin(time * 0.5) * 200), // cA\n                    battery_remaining: Math.round(battery),\n                    drop_rate_comm: 0,\n                    errors_comm: 0,\n                    errors_count1: 0,\n                    errors_count2: 0,\n                    errors_count3: 0,\n                    errors_count4: 0\n                }\n            },\n            {\n                topic: 'GPS_RAW_INT',\n                payload: {\n                    time_usec: Math.floor(time * 1e6),\n                    fix_type: 3,  // 3D fix\n                    lat: Math.round(lat * 1e7),\n                    lon: Math.round(lon * 1e7),\n                    alt: Math.round(alt * 1000),\n                    eph: 120,  // HDOP * 100\n                    epv: 150,  // VDOP * 100\n                    vel: Math.round(500 + Math.sin(time * 0.3) * 50),\n                    cog: Math.round(heading * 100),\n                    satellites_visible: 12\n                }\n            }\n        ];\n        \n        node.send([messages]);\n    }, 100);  // 10Hz = 100ms\n    \n    context.set('telemetryInterval', intervalId);\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Cleanup on flow stop\nconst intervalId = context.get('telemetryInterval');\nif (intervalId) {\n    clearInterval(intervalId);\n}",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [["drone_msg_out"]]
    },
    {
        "id": "drone_msg_out",
        "type": "mavlink-msg",
        "z": "telemetry_tab",
        "name": "Drone Telemetry Out",
        "messageType": "",
        "dialect": "common",
        "systemId": "1",
        "componentId": "1",
        "x": 610,
        "y": 100,
        "wires": [["drone_comms"]]
    },
    {
        "id": "drone_comms",
        "type": "mavlink-comms",
        "z": "telemetry_tab",
        "name": "Drone Comms (UDP:14551)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14551",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14550",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "1",
        "componentId": "1",
        "x": 630,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "gcs_comms",
        "type": "mavlink-comms",
        "z": "telemetry_tab",
        "name": "GCS Comms (UDP:14550)",
        "connectionType": "udpclient",
        "serialPort": "",
        "serialBaud": "57600",
        "tcpHost": "",
        "tcpPort": "",
        "udpBindHost": "127.0.0.1",
        "udpBindPort": "14550",
        "udpSendHost": "127.0.0.1",
        "udpSendPort": "14551",
        "dialect": "common",
        "enableHeartbeat": false,
        "systemId": "255",
        "componentId": "190",
        "x": 150,
        "y": 280,
        "wires": [["telemetry_router"]]
    },
    {
        "id": "telemetry_router",
        "type": "switch",
        "z": "telemetry_tab",
        "name": "Route by Message Type",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "ATTITUDE", "vt": "str"},
            {"t": "eq", "v": "GLOBAL_POSITION_INT", "vt": "str"},
            {"t": "eq", "v": "VFR_HUD", "vt": "str"},
            {"t": "eq", "v": "SYS_STATUS", "vt": "str"},
            {"t": "eq", "v": "GPS_RAW_INT", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 390,
        "y": 280,
        "wires": [
            ["attitude_check"],
            ["gps_check"],
            ["hud_check"],
            ["battery_check"],
            ["gps_raw_check"]
        ]
    },
    {
        "id": "attitude_check",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Verify Attitude",
        "func": "const fields = msg.payload.fields;\n\nconst rollDeg = fields.roll * (180 / Math.PI);\nconst pitchDeg = fields.pitch * (180 / Math.PI);\nconst yawDeg = fields.yaw * (180 / Math.PI);\n\nconst result = {\n    test: 'ATTITUDE',\n    timestamp: Date.now(),\n    pass: Math.abs(rollDeg) <= 20 && Math.abs(pitchDeg) <= 15 && yawDeg >= 0,\n    details: `roll=${rollDeg.toFixed(1)}°, pitch=${pitchDeg.toFixed(1)}°, yaw=${yawDeg.toFixed(1)}°`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: `${rollDeg.toFixed(0)}° ${pitchDeg.toFixed(0)}° ${yawDeg.toFixed(0)}°`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [["test_results"]]
    },
    {
        "id": "gps_check",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Verify GPS Position",
        "func": "const fields = msg.payload.fields;\n\nconst lat = fields.lat / 1e7;\nconst lon = fields.lon / 1e7;\nconst alt = fields.alt / 1000;\n\n// Check position is near test location\nconst nearTestLocation = Math.abs(lat + 35.363) < 0.01 && Math.abs(lon - 149.165) < 0.01;\n\nconst result = {\n    test: 'GPS_POSITION',\n    timestamp: Date.now(),\n    pass: nearTestLocation && alt > 50 && alt < 150,\n    details: `lat=${lat.toFixed(6)}, lon=${lon.toFixed(6)}, alt=${alt.toFixed(1)}m`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: `${alt.toFixed(0)}m`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [["test_results"]]
    },
    {
        "id": "hud_check",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Verify VFR HUD",
        "func": "const fields = msg.payload.fields;\n\nconst result = {\n    test: 'VFR_HUD',\n    timestamp: Date.now(),\n    pass: fields.groundspeed > 0 && fields.groundspeed < 20 && fields.heading >= 0 && fields.heading < 360,\n    details: `speed=${fields.groundspeed.toFixed(1)}m/s, hdg=${fields.heading}°, climb=${fields.climb.toFixed(1)}m/s`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: `${fields.groundspeed.toFixed(1)}m/s`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [["test_results"]]
    },
    {
        "id": "battery_check",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Verify Battery",
        "func": "const fields = msg.payload.fields;\n\nconst voltage = fields.voltage_battery / 1000;  // mV to V\nconst current = fields.current_battery / 100;   // cA to A\nconst remaining = fields.battery_remaining;\n\nconst result = {\n    test: 'BATTERY',\n    timestamp: Date.now(),\n    pass: voltage > 10 && voltage < 13 && remaining >= 0 && remaining <= 100,\n    details: `${voltage.toFixed(2)}V, ${current.toFixed(2)}A, ${remaining}% remaining`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : (remaining < 20 ? 'yellow' : 'red'),\n    shape: 'dot',\n    text: `${voltage.toFixed(1)}V ${remaining}%`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 400,
        "wires": [["test_results"]]
    },
    {
        "id": "gps_raw_check",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Verify GPS Quality",
        "func": "const fields = msg.payload.fields;\n\nconst result = {\n    test: 'GPS_QUALITY',\n    timestamp: Date.now(),\n    pass: fields.fix_type >= 3 && fields.satellites_visible >= 6,\n    details: `fix_type=${fields.fix_type}, sats=${fields.satellites_visible}, hdop=${(fields.eph / 100).toFixed(1)}`\n};\n\nnode.status({\n    fill: result.pass ? 'green' : 'red',\n    shape: 'dot',\n    text: `${fields.satellites_visible} sats`\n});\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [["test_results"]]
    },
    {
        "id": "test_results",
        "type": "debug",
        "z": "telemetry_tab",
        "name": "Test Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "show_summary",
        "type": "inject",
        "z": "telemetry_tab",
        "name": "Show Test Summary",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [["summarize_results"]]
    },
    {
        "id": "summarize_results",
        "type": "function",
        "z": "telemetry_tab",
        "name": "Summarize Results",
        "func": "// This would aggregate test results from flow context\n// For now just a placeholder\nmsg.payload = {\n    summary: 'Telemetry test running',\n    instructions: [\n        '1. Click \"Start Telemetry Stream\"',\n        '2. Watch debug panel for test results',\n        '3. Verify PASS/FAIL status on each verification node',\n        '4. Click \"Stop Telemetry Stream\" when done'\n    ]\n};\n\nnode.warn(JSON.stringify(msg.payload, null, 2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [["test_results"]]
    }
]
