examples/tests/test-dashboard.json
[
    {
        "id": "dashboard_tab",
        "type": "tab",
        "label": "MAVLink Test Dashboard",
        "disabled": false,
        "info": "Unified control panel for all MAVLink test suites:\n- Mission Upload Tests\n- Telemetry Streaming Tests\n- Command Protocol Tests\n- Parameter Operation Tests\n\nProvides centralized test execution and result monitoring"
    },
    {
        "id": "dashboard_title",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "MAVLink Test Dashboard - Central Control",
        "info": "Run and monitor all test suites from one place",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "section_mission",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Mission Upload Tests",
        "info": "Tests from simulated-drone-test.json",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "run_mission_happy",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Mission: Happy Path",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"mission\",\"mode\":\"happy\"}",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [["mission_test_trigger"]]
    },
    {
        "id": "run_mission_chaos",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Mission: Chaos",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"mission\",\"mode\":\"chaos\"}",
        "payloadType": "json",
        "x": 140,
        "y": 180,
        "wires": [["mission_test_trigger"]]
    },
    {
        "id": "run_mission_failure",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Mission: Failure",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"mission\",\"mode\":\"failure\"}",
        "payloadType": "json",
        "x": 140,
        "y": 220,
        "wires": [["mission_test_trigger"]]
    },
    {
        "id": "mission_test_trigger",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Mission Test Coordinator",
        "func": "// Coordinate with simulated-drone-test.json flow\n// This would trigger the appropriate test mode and scenario\n\nconst mode = msg.payload.mode;\nnode.status({fill: 'blue', shape: 'dot', text: `Running ${mode} mode`});\n\nmsg.topic = 'mission_test';\nmsg.payload.timestamp = Date.now();\n\nnode.warn(`Mission test started: ${mode} mode`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [["test_results_collector"]]
    },
    {
        "id": "section_telemetry",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Telemetry Streaming Tests",
        "info": "Tests from telemetry-test.json",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "start_telemetry",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Start Telemetry Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"telemetry\",\"action\":\"start\"}",
        "payloadType": "json",
        "x": 170,
        "y": 320,
        "wires": [["telemetry_test_trigger"]]
    },
    {
        "id": "stop_telemetry",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Stop Telemetry Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"telemetry\",\"action\":\"stop\"}",
        "payloadType": "json",
        "x": 170,
        "y": 360,
        "wires": [["telemetry_test_trigger"]]
    },
    {
        "id": "telemetry_test_trigger",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Telemetry Test Coordinator",
        "func": "// Coordinate with telemetry-test.json flow\nconst action = msg.payload.action;\nnode.status({fill: action === 'start' ? 'green' : 'yellow', shape: 'dot', text: `Telemetry ${action}`});\n\nmsg.topic = 'telemetry_test';\nmsg.payload.timestamp = Date.now();\n\nnode.warn(`Telemetry stream ${action}`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [["test_results_collector"]]
    },
    {
        "id": "section_commands",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Command Protocol Tests",
        "info": "Tests from command-test.json",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "run_cmd_arm",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "CMD: ARM",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"command\",\"cmd\":\"ARM\"}",
        "payloadType": "json",
        "x": 130,
        "y": 460,
        "wires": [["command_test_trigger"]]
    },
    {
        "id": "run_cmd_takeoff",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "CMD: TAKEOFF",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"command\",\"cmd\":\"TAKEOFF\"}",
        "payloadType": "json",
        "x": 150,
        "y": 500,
        "wires": [["command_test_trigger"]]
    },
    {
        "id": "run_cmd_land",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "CMD: LAND",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"command\",\"cmd\":\"LAND\"}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [["command_test_trigger"]]
    },
    {
        "id": "run_cmd_rtl",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "CMD: RTL",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"command\",\"cmd\":\"RTL\"}",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [["command_test_trigger"]]
    },
    {
        "id": "run_cmd_sequence",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Full Flight Sequence",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"command\",\"cmd\":\"SEQUENCE\"}",
        "payloadType": "json",
        "x": 160,
        "y": 620,
        "wires": [["command_test_trigger"]]
    },
    {
        "id": "command_test_trigger",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Command Test Coordinator",
        "func": "// Coordinate with command-test.json flow\nconst cmd = msg.payload.cmd;\nnode.status({fill: 'blue', shape: 'dot', text: `CMD: ${cmd}`});\n\nmsg.topic = 'command_test';\nmsg.payload.timestamp = Date.now();\n\nnode.warn(`Command test: ${cmd}`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [["test_results_collector"]]
    },
    {
        "id": "section_parameters",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Parameter Operation Tests",
        "info": "Tests from parameter-test.json",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "run_param_list",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Request All Params",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"parameter\",\"operation\":\"list\"}",
        "payloadType": "json",
        "x": 160,
        "y": 720,
        "wires": [["param_test_trigger"]]
    },
    {
        "id": "run_param_set",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Set Parameter",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\":\"parameter\",\"operation\":\"set\"}",
        "payloadType": "json",
        "x": 140,
        "y": 760,
        "wires": [["param_test_trigger"]]
    },
    {
        "id": "param_test_trigger",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Parameter Test Coordinator",
        "func": "// Coordinate with parameter-test.json flow\nconst operation = msg.payload.operation;\nnode.status({fill: 'blue', shape: 'dot', text: `PARAM: ${operation}`});\n\nmsg.topic = 'parameter_test';\nmsg.payload.timestamp = Date.now();\n\nnode.warn(`Parameter test: ${operation}`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [["test_results_collector"]]
    },
    {
        "id": "section_results",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Test Results & Monitoring",
        "info": "Central results collection and display",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "test_results_collector",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Results Collector",
        "func": "// Collect and aggregate test results from all test suites\nlet results = context.get('test_results') || [];\n\n// Add new result\nconst result = {\n    test: msg.topic,\n    payload: msg.payload,\n    timestamp: Date.now(),\n    received: new Date().toISOString()\n};\n\nresults.push(result);\n\n// Keep last 100 results\nif (results.length > 100) {\n    results = results.slice(-100);\n}\n\ncontext.set('test_results', results);\n\n// Update status\nnode.status({fill: 'green', shape: 'dot', text: `${results.length} results`});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [["results_debug"]]
    },
    {
        "id": "show_summary",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Show Test Summary",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "summary",
        "payloadType": "str",
        "x": 670,
        "y": 140,
        "wires": [["summary_generator"]]
    },
    {
        "id": "clear_results",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "Clear Results",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "x": 650,
        "y": 180,
        "wires": [["summary_generator"]]
    },
    {
        "id": "summary_generator",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Summary Generator",
        "func": "if (msg.payload === 'clear') {\n    context.set('test_results', []);\n    node.status({fill: 'yellow', shape: 'ring', text: 'Results cleared'});\n    node.warn('Test results cleared');\n    return null;\n}\n\nconst results = context.get('test_results') || [];\n\nif (results.length === 0) {\n    node.warn('No test results yet. Run some tests first!');\n    return null;\n}\n\n// Group by test type\nconst grouped = {};\nresults.forEach(r => {\n    if (!grouped[r.test]) {\n        grouped[r.test] = [];\n    }\n    grouped[r.test].push(r);\n});\n\n// Generate summary\nconst summary = {\n    total_results: results.length,\n    test_types: Object.keys(grouped).length,\n    by_test_type: {},\n    latest_results: results.slice(-10).reverse()\n};\n\nObject.keys(grouped).forEach(test => {\n    summary.by_test_type[test] = {\n        count: grouped[test].length,\n        first: grouped[test][0].received,\n        last: grouped[test][grouped[test].length - 1].received\n    };\n});\n\nnode.status({fill: 'green', shape: 'dot', text: `${results.length} total`});\nnode.warn('=== TEST SUMMARY ===');\nnode.warn(JSON.stringify(summary, null, 2));\n\nmsg.payload = summary;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [["results_debug"]]
    },
    {
        "id": "results_debug",
        "type": "debug",
        "z": "dashboard_tab",
        "name": "Dashboard Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "section_quick_actions",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "Quick Actions - Run All Tests",
        "info": "Convenience buttons for common workflows",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "run_all_tests",
        "type": "inject",
        "z": "dashboard_tab",
        "name": "RUN ALL TESTS",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "run_all",
        "payloadType": "str",
        "x": 660,
        "y": 300,
        "wires": [["run_all_coordinator"]]
    },
    {
        "id": "run_all_coordinator",
        "type": "function",
        "z": "dashboard_tab",
        "name": "Run All Tests Sequentially",
        "func": "// Sequence all tests with delays\nnode.status({fill: 'blue', shape: 'dot', text: 'Running all tests...'});\n\nconst tests = [\n    {delay: 0, test: 'mission', mode: 'happy'},\n    {delay: 3000, test: 'telemetry', action: 'start'},\n    {delay: 8000, test: 'telemetry', action: 'stop'},\n    {delay: 9000, test: 'command', cmd: 'ARM'},\n    {delay: 10000, test: 'command', cmd: 'TAKEOFF'},\n    {delay: 11000, test: 'command', cmd: 'LAND'},\n    {delay: 12000, test: 'parameter', operation: 'list'},\n    {delay: 14000, test: 'parameter', operation: 'set'}\n];\n\nnode.warn('=== STARTING FULL TEST SUITE ===');\nnode.warn(`Running ${tests.length} tests sequentially...`);\n\ntests.forEach((testConfig, index) => {\n    setTimeout(() => {\n        node.send({\n            topic: `${testConfig.test}_test`,\n            payload: testConfig,\n            sequence: index + 1,\n            total: tests.length\n        });\n        node.status({fill: 'blue', shape: 'dot', text: `Test ${index + 1}/${tests.length}`});\n    }, testConfig.delay);\n});\n\n// Final status update\nsetTimeout(() => {\n    node.status({fill: 'green', shape: 'dot', text: 'All tests complete'});\n    node.warn('=== ALL TESTS COMPLETE ===');\n}, tests[tests.length - 1].delay + 2000);\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [["test_results_collector"]]
    },
    {
        "id": "section_instructions",
        "type": "comment",
        "z": "dashboard_tab",
        "name": "📋 INSTRUCTIONS: Import all 4 test flows first!",
        "info": "Before using this dashboard:\n\n1. Import these test flows:\n   - simulated-drone-test.json\n   - telemetry-test.json  \n   - command-test.json\n   - parameter-test.json\n\n2. Deploy all flows\n\n3. Use dashboard buttons to:\n   - Run individual tests\n   - Start/stop telemetry streaming\n   - Execute command sequences\n   - Test parameter operations\n   - View aggregated results\n\n4. Click 'Show Test Summary' for overview\n\n5. Click 'RUN ALL TESTS' for full suite",
        "x": 220,
        "y": 820,
        "wires": []
    }
]
